﻿@using POS_WEB.Models.Services.Customer;
@model IEnumerable<POS_WEB.Models.Services.Customer.Customer>
<script src="~/js/Customer/motocycle-customer.js" defer></script>
<div class="block">
    <div class="flexbox space-between">
        <a href="/Customer/MotocycleCustomer" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i> @Localizer["Register"]
        </a>     
    </div>
    <div class="flexbox space-between align-items-center">
        <div class="flexbox">
            <select id="filter-by-customer-type" title="@Localizer["Filter By"]" class="form-control" style="width: 150px; height: 30px;">
                <option value="0">@Localizer["ALL"]</option>
                <option value="1">@Localizer["WALKIN"]</option>
                <option value="2">@Localizer["PURCHASE"]</option>
            </select>
        </div>
        <div class="group-search-boxes">
            <div id="text-search" class="wrap-search-box">
                <div class="wrap-input show">
                    <i id="i-search" class="i-search fas fa-search"></i>
                    <input id="search-motocycle-customers" class="ignore" type="text" placeholder="Search Motocycle Customers ...">
                    <i id="i-close" class="i-close far fa-times-circle"></i>
                </div>
                <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
            </div>
        </div>
    </div>
    <div class="wrap-table list">
        @{ int index = 0; }
        <table id="motocycle-customer-list">
            <tr>
                <th>@Localizer["No."]</th>
                <th style="text-align: center;">@Localizer["Code"]</th>
                <th>@Localizer["Customer Type"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Gender"]</th>
                <th>@Localizer["Phone"]</th>
                <th>@Localizer["Plate"]</th>
                <th>@Localizer["Frame"]</th>
                <th>@Localizer["Engine"]</th>
                <th>@Localizer["Action"]</th>
            </tr>
            @foreach (var mc in Model)
            {
                <tr data-cusid="@mc.CustomerID">
                    <td>@{ index++; } @index</td>
                    <td style="text-align: center;">@mc.Code</td>
                    <td>@mc.CustomerType</td>
                    <td>@mc.Name</td>
                    <td>@mc.Gender</td>
                    <td>@mc.Phone</td>
                    <td>@mc.Plate</td>
                    <td>@mc.Frame</td>
                    <td>@mc.Engine</td>
                    <td>
                        <a title="Edit" href="@Url.Action("MotocycleCustomerUpdate", "Customer", new { customerID = @mc.CustomerID})"
                           class="fas fa-user-edit fn-orange fa-lg csr-pointer"></a>&nbsp;|&nbsp;
                        <i title="Delete" onclick="deleteMotocycleCustomer(this)" class="fas fa-user-times fa-lg fn-red csr-pointer"></i>&nbsp;|&nbsp;
                        <a title="Detail" href="@Url.Action("MotocycleCustomerDetail", "Customer", new { customerID = @mc.CustomerID})"
                           class="fas fa-info-circle fn-sky fa-lg csr-pointer"></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


