﻿@model POS_WEB.Models.Services.Customer.CustomerViewModel;
@using POS_WEB.Models.Services.Customer;
<script src="~/js/Customer/motocycle-customer.js" defer></script>
<div class="myt1" ck-message-summary></div>

<h1 style="font-weight: bold;">@Localizer["Edit Motocycle Customer"]</h1>

<div class="wrap-block col-four">
    <div class="left-block">
        <label class="form-label">@Localizer["Select Type"]</label>
        <select id="motocycle-customer-type" class="form-control" name="CustomerType">
            <option value="1">WALKIN</option><!--1 == WALK_IN-->
            @if (Model.Customer.CustomerType == CustomerType.PURCHASE)
            {
                <option selected value="2">PURCHASE</option><!--2 == PURCHASE-->
            }
            else
            {
                <option value="2">PURCHASE</option><!--2 == PURCHASE-->
            }

        </select>
    </div>
</div>
<form class="myt1">
    @Html.AntiForgeryToken()
    <div id="walkin-customer" class="wrap-block col-two">
        <div class="left-block">
            <div class="block border">
                <div class="title">@Localizer["Customer Information"]</div>
                <div class="wrap-block col-two">
                    <div id="dialog-define-new" hidden>
                        <div class="wrap-table">
                            <table>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th hidden>Active</th>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <input type="hidden" name="CustomerID" asp-for="Customer.CustomerID" />
                    <div class="left-block">
                        <label class="form-label">@Localizer["Code"]</label>
                        <input name="Code" class="form-control" readonly value="@Model.Customer.Code" />

                        <label class="form-label">@Localizer["Name"]</label>
                        <input name="Name" class="form-control" autocomplete="off" value="@Model.Customer.Name" />
                        <div model-validation-for="customer.Name"></div>

                        <label class="form-label">@Localizer["Date of Birth"]</label>
                        @if (Model.Customer.BirthDate == null)
                        {
                            <input name="BirthDate" class="form-control" placeholder="dd-MM-yyyy" data-select="datepicker">
                        }
                        else
                        {
                            <input name="BirthDate" class="form-control" placeholder="dd-MM-yyyy" value="@Model.Customer.BirthDate" data-select="datepicker">
                        }
                        <div model-validation-for="customer.BirthDate"></div>

                        <label class="form-label">@Localizer["Phone"]</label>
                        <input name="Phone" class="form-control" data-phone autocomplete="off" value="@Model.Customer.Phone" />
                        <div model-validation-for="customer.Phone"></div>

                        <label class="form-label">@Localizer["Email"]</label>
                        <input name="Email" class="form-control" autocomplete="off" placeholder="example@anymail.com" value="@Model.Customer.Email" />
                        <div model-validation-for="customer.Email"></div>

                        <label class="form-label">@Localizer["Gender"]</label>
                        <div class="flexbox mxl3">
                            <input name="Gender" value="0" checked type="radio" />
                            <label style="margin-right:25px;">@Localizer["Female"]</label>
                            @if (Model.Customer.Gender == CustomerGender.Male)
                            {
                                <input name="Gender" value="1" checked type="radio" />
                            }
                            else
                            {
                                <input name="Gender" value="1" type="radio" />
                            }
                            <label style="margin-right: 25px;">@Localizer["Male"]</label>

                        </div>

                    </div>
                    <div class="right-block">
                        <label class="form-label">@Localizer["Customer Group"]</label>
                        <select id="customer-group" name="CustomerGroup" class="form-control">
                            <option value="0" selected></option>
                            @foreach (var cg in Model.CustomerGroups)
                            {
                                if (Model.Customer.CustomerGroup == cg.GroupID)
                                {
                                    <option selected value="@cg.GroupID">@cg.GroupName</option>
                                }
                                else
                                {
                                    <option value="@cg.GroupID">@cg.GroupName</option>
                                }

                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <label class="form-label">@Localizer["Region"]</label>
                        <select id="region" type="text" name="Region" class="form-control">
                            <option value="0"></option>
                            @foreach (var reg in Model.Regions)
                            {
                                if (Model.Customer.Region == reg.RegionID)
                                {
                                    <option selected value="@reg.RegionID">@reg.Name</option>
                                }
                                else
                                {
                                    <option value="@reg.RegionID">@reg.Name</option>
                                }
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <label class="form-label">@Localizer["District"]</label>
                        <select id="district" type="text" name="District" class="form-control" disabled>
                            <option value="0"></option>
                            @foreach (var d in Model.Districts)
                            {
                                if (Model.Customer.District == d.DistrictID)
                                {
                                    <option selected value="@d.DistrictID">@d.Name</option>
                                }
                                else
                                {
                                    <option value="@d.DistrictID">@d.Name</option>
                                }
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <label class="form-label">@Localizer["Adress"]</label>
                        <textarea name="Address" class="form-control" autocomplete="off" style="height: 97px;">@Model.Customer.Address</textarea>

                    </div>

                </div>
            </div>
        </div>
        <div class="right-block m0">
            <div class="wrap-block col-two">
                <div class="left-block">
                    <div class="block border">
                        <div class="title">@Localizer["Existing Model"]</div>
                        <label class="form-label">@Localizer["Model"]</label>
                        <input name="E_Model" class="form-control" autocomplete="off" value="@Model.Customer.E_Model" />

                        <label class="form-label">@Localizer["Brand"]</label>
                        <input name="E_Brand" class="form-control" autocomplete="off" value="@Model.Customer.E_Brand" />

                        <label class="form-label">@Localizer["Year"]</label>
                        <input name="E_Year" data-year class="form-control" autocomplete="off" value="@Model.Customer.E_Year" />
                    </div>
                </div>
                <div class="right-block">
                    <div class="block border">
                        <div class="title">@Localizer["Interesting Model"]</div>
                        <label class="form-label">@Localizer["Model"]</label>
                        <select id="i-model" name="I_Model" class="form-control">
                            <option value="0" selected></option>
                            @foreach (var m in Model.InterestingModels)
                            {
                                if (m.ModelID == Model.Customer.I_Model)
                                {
                                    <option selected value="@m.ModelID">@m.ModelName</option>
                                }
                                else
                                {
                                    <option value="@m.ModelID">@m.ModelName</option>
                                }

                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <label class="form-label">@Localizer["Brand"]</label>
                        <select id="i-brand" name="I_Brand" class="form-control">
                            <option value="0" selected></option>
                            @foreach (var m in Model.InterestingBrands)
                            {
                                if (m.BrandID == Model.Customer.I_Brand)
                                {
                                    <option selected value="@m.BrandID">@m.BrandName</option>
                                }
                                else
                                {
                                    <option value="@m.BrandID">@m.BrandName</option>
                                }

                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <label class="form-label">@Localizer["Year"]</label>
                        <input name="I_Year" data-year class="form-control" autocomplete="off" value="@Model.Customer.I_Year" />
                    </div>
                </div>
            </div>
            <div class="wrap-block myt1">
                <div class="full-block">
                    <div class="block border">
                        <div class="title">@Localizer["Payment Term"]</div>
                        <label class="form-label">@Localizer["Source of Info"]</label>
                        <select id="source-of-info" name="SourceOfInfo" class="form-control" autocomplete="off">
                            <option value="0" selected></option>
                            @foreach (var src in Model.SourceOfInfos)
                            {
                                if (src.SourceID == Model.Customer.SourceOfInfo)
                                {
                                    <option selected value="@src.SourceID">@src.SourceName</option>
                                }
                                else
                                {
                                    <option value="@src.SourceID">@src.SourceName</option>
                                }
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <div class="flexbox myt1">
                            @if ((int)PaymentType.CASH == Model.Customer.PaymentType)
                            {
                                <input class="PaymentType" name="PaymentType" value="1" checked type="radio" />
                            }
                            else
                            {
                                <input class="PaymentType" name="PaymentType" value="1" type="radio" />
                            }
                            <label style="margin-right:25px;">@Localizer["Cash"]</label>
                            @if ((int)PaymentType.CREDITCARD == Model.Customer.PaymentType)
                            {
                                <input class="PaymentType" name="PaymentType" checked type="radio" value="2" />
                            }
                            else
                            {
                                <input class="PaymentType" name="PaymentType" type="radio" value="2" />
                            }
                            <label style="margin-right:25px;">@Localizer["Credit Card"]</label>

                            @if ((int)PaymentType.LOAN == Model.Customer.PaymentType)
                            {
                                <input class="PaymentType" name="PaymentType" checked type="radio" value="3" />
                            }
                            else
                            {
                                <input class="PaymentType" name="PaymentType" type="radio" value="3" />
                            }

                            <label>@Localizer["Loan"]</label>
                        </div>
                        <div model-validation-for="customer.PaymentType"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="purchase-customer-expand" class="wrap-block col-two myt1" @ViewBag.PurchaseExpand>
        <div class="left-block">
            <div class="block border">
                <div class="title">@Localizer["Customer Register Form"]</div>
                <div class="wrap-block wrap-block col-two">
                    <div class="left-block">
                        <label class="form-label">@Localizer["Plate"]</label>
                        <input name="Plate" class="form-control" autocomplete="off" value="@Model.Customer.Plate" />
                        <div model-validation-for="customer.Plate"></div>

                        <label class="form-label">@Localizer["Frame"]</label>
                        <input name="Frame" class="form-control" autocomplete="off" value="@Model.Customer.Frame" />
                        <div model-validation-for="customer.Frame"></div>

                        <label class="form-label">@Localizer["Engine"]</label>
                        <input name="Engine" class="form-control" autocomplete="off" value="@Model.Customer.Engine" />
                        <div model-validation-for="customer.Engine"></div>

                        <label class="form-label">@Localizer["Color"]</label>
                        <select id="color" name="Color" class="form-control" autocomplete="off">
                            <option value="0" selected></option>
                            @foreach (var cg in Model.ColorCustomers)
                            {
                                if (cg.ColorID == Model.Customer.Color)
                                {
                                    <option selected value="@cg.ColorID">@cg.ColorName</option>
                                }
                                else
                                {
                                    <option value="@cg.ColorID">@cg.ColorName</option>
                                }
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>
                    </div>
                    <div class="right-block">
                        <label class="form-label">@Localizer["Brand"]</label>
                        <input name="B_Brand" class="form-control" autocomplete="off" value="@Model.Customer.Plate" />

                        <label class="form-label">@Localizer["Model"]</label>
                        <input name="B_Model" class="form-control" autocomplete="off" value="@Model.Customer.Frame" />

                        <label class="form-label">@Localizer["Year"]</label>
                        <input name="B_Year" class="form-control" data-year value="@Model.Customer.Engine" />

                        <label class="form-label">@Localizer["Yamaha Branches"]</label>
                        <select id="yamaha-branches" name="YamahaBranch" class="form-control" autocomplete="off">
                            <option value="0" selected></option>
                            @foreach (var yb in Model.YamahaBranches)
                            {
                                if (yb.YmBranchID == Model.Customer.YamahaBranch)
                                {
                                    <option selected value="@yb.YmBranchID">@yb.Name</option>
                                }
                                else
                                {
                                    <option value="@yb.YmBranchID">@yb.Name</option>
                                }
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="right-block">
            <div class="block border">
                <div class="title">@Localizer["Sale Consultant"]</div>
                <div class="wrap-block col-two">
                    <div class="left-block m0">
                        <input name="SaleConsultant" value="@Model.Customer.SaleConsultant" type="hidden" />
                        <label class="form-label">@Localizer["Name"]</label>
                        @if (Model.SaleConsultant != null)
                        {
                            <input id="consultant-name" class="form-control" value="@Model.SaleConsultant.Name" readonly>
                        }
                        else
                        {
                            <input id="consultant-name" class="form-control" readonly>
                        }

                    </div>
                    <div class="right-block m0">
                        <label class="form-label">@Localizer["Position"]</label>
                        <div class="input-group">
                            @if (Model.SaleConsultant != null)
                            {
                                <input id="consultant-position" class="form-control" value="@Model.SaleConsultant.Position" readonly>
                            }
                            else
                            {
                                <input id="consultant-position" class="form-control" readonly>
                            }
                            <div id="trigger-sale-consultants" class="trigger fas fa-caret-square-down"></div>
                        </div>
                    </div>
                </div>
                <div model-validation-for="customer.SaleConsultant"></div>

                <div id="sale-consultant-list" hidden>
                    <div class="group-search-boxes">
                        <div id="text-search" class="wrap-search-box">
                            <div class="wrap-input show">
                                <i id="i-search" class="i-search fas fa-search"></i>
                                <input autocomplete="off" class="ignore search-sale-consultants" type="text" placeholder="Search service customers ...">
                                <i id="i-close" class="i-close far fa-times-circle"></i>
                            </div>
                            <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                        </div>
                    </div>

                    <div class="wrap-table list myt1">
                        <table>
                            <tr>
                                <th>@Localizer["No."]</th>
                                <th>@Localizer["Group"]</th>
                                <th>@Localizer["Name"]</th>
                                <th>@Localizer["Gender"]</th>
                                <th>@Localizer["Position"]</th>
                                <th>@Localizer["Hired Date"]</th>
                                <th>@Localizer["Phone"]</th>
                                <th>@Localizer["Action"]</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="block border myt1">
                <div class="title">@Localizer["Warranty"]</div>
                <label class="form-label">@Localizer["Warranty Types"]</label>
                <select id="warranty-type" name="Warranty" class="form-control" autocomplete="off">
                    <option value="0" selected></option>
                    @foreach (var w in Model.WarrantyTypes)
                    {
                        if (w.WarrantyID == Model.Customer.Warranty)
                        {
                            <option selected value="@w.WarrantyID">@w.WarrantyName</option>
                        }
                        else
                        {
                            <option value="@w.WarrantyID">@w.WarrantyName</option>
                        }
                    }
                    <option value="-1">@Localizer["Define New"]</option>
                </select>
                <div class="wrap-block col-two">
                    <div class="left-block m0">
                        <label class="form-label">@Localizer["Start Date"]</label>
                        <input name="StartDate" class="form-control" data-select="datepicker" placeholder="dd-MM-yyyy"
                                value="@Model.Customer.StartDate" />
                        <div model-validation-for="customer.StartDate"></div>
                    </div>

                    <div class="right-block m0">
                        <label class="form-label">@Localizer["End Date"]</label>
                        <input name="EndDate" class="form-control" data-select="datepicker" placeholder="dd-MM-yyyy"
                                value="@Model.Customer.EndDate" />
                        <div model-validation-for="customer.EndDate"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="myt1">
        <button id="update-motocycle-customer" class="btn btn-primary" type="button"><i class="fas fa-save"></i>&nbsp;@Localizer["Save"]</button>
        <a href="/Customer/MotocycleCustomerList" class="btn btn-primary" type="button"><i class="far fa-times-circle"></i>&nbsp;@Localizer["Cancel"]</a>
    </div>
</form>
