﻿@model Pagination<ItemGroup1>
@{
    ViewData["Title"] = "Index";
}
<style>
    #Styleimge {
        height: 30px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 30px;
    }

    h5 {
        margin: 10px 5px;
    }

    .stylerow {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    a{
        color:white;
    }
    a:hover {
        color: white;
    }
   .content_select{
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
 }
 .content_select:focus{
      box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
      padding: 3px 3px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgb(120, 172, 245);
      border-radius: 3px;
      font-family: Arial;
      font-size: 13px;
 }
 .list{
     margin-bottom:15px;
 }
</style>

<a asp-action="Create" class="btn  btn-sm" style="margin-top:10px; background-color:#00bfff;color:white;"><i class="fa fa-plus-circle" style="margin-right:3px;"></i> @Localizer["Create"]</a>
<form asp-action="Index" method="get" id="form-id">
    <div class="row stylerow">
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <h5>@Localizer["ShowItem"] :</h5>
                <div class="input-group-append">
                    <select class="content_select" id="selectpage" name="minpage">
                        <option selected="@ViewBag.sizepage1">5</option>
                        <option selected="@ViewBag.sizepage2">10</option>
                        <option selected="@ViewBag.sizepage3">15</option>
                        <option selected="@ViewBag.sizepage4">20</option>
                        <option selected="@ViewBag.sizepage5">All</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <input class="form-control btn-sm" type="text" autocomplete="off" name="SearchString" value="@ViewData["currentFilter"]" placeholder="@Localizer["Search"]" id="txtseaerch" />
                <div class="input-group-append">
                    <button class="btn btn-sm btnsearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="wrap-table list">
    <table id="myTable">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none; ">
                        @Localizer["Name"]<i class="fa fa-sort-amount-down" style="margin-left:10px; font-size:10px; color:white;"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Color"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none;">
                        @Localizer["Color"]<i class="fa fa-sort-amount-down" style="margin-left:10px; font-size:10px; color:white;"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["backgroud"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none;">
                        @Localizer["Background"]<i class="fa fa-sort-amount-down" style="margin-left:10px; font-size:10px; color:white;"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]" style="text-decoration:none; color:white;">@Localizer["Photo"]<i class="fa fa-sort-amount-down" style="margin-left:10px; font-size:10px; color:white;"></i></a>
                </th>
                <th>
                    <b>@Localizer["Action"]</b>
                </th>
            </tr>
        </thead>
        <tbody id="listItem">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="5" style="text-align:center;">@Localizer["NoData"]</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.ItemG1ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colors.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Background.Name)
                    </td>
                    <td>
                        <img src="../../Images/@item.Images" id="Styleimge" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ItemG1ID"><i class="fa fa-edit" style="margin-right:3px; color:#00cc00;"></i>.</a>
                        <a data-toggle="modal" id="deleteitem" data-target="#ClickDelete" asp-route-id="@item.ItemG1ID"><i class="fa fa-trash" style="margin-right:3px; color:red;"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<input type="text" id="txtid" hidden />

<div class="modal fade" id="ClickDelete" style="margin-top:50px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color:blue;">
                <i class="far fa-question-circle" style="font-size:15px; color:white;"><b style="margin-left:10px;">@Localizer["ItemGroup1"]</b></i>
            </div>
            <div class="modal-body">
                <h3>@Localizer["question"]</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-xs" data-dismiss="modal" onclick="ClickYes()"><i class="far fa-calendar-check" style="margin-right:3px;"></i> @Localizer["Yes"]</button>
                <button class="btn btn-danger btn-xs" data-dismiss="modal"><i class="fas fa-exclamation-triangle" style="margin-right:3px;"></i> @Localizer["No"]</button>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="1"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @prevDisabled ">
                <i class="fa fa-angle-double-left"  style="color:blue;"></i>
            </a>
        </li>
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @prevDisabled ">
                <i class="fa fa-angle-left"  style="color:blue;"></i>
            </a>
        </li>

        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @nextDisabled">
                <i class="fa fa-angle-right"  style="color:blue;"></i>
            </a>
        </li>
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@Model.TotalPages"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @nextDisabled">
                <i class="fa fa-angle-double-right"  style="color:blue;"></i>
            </a>
        </li>
    </ul>
</nav>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $("#txtseaerch").keyup(function () {
        var data = $("#txtseaerch").val();
        $.ajax({
            url: "/Category/Index",
            dataType: "Json",
            type: "GET",
            data: { currentFilter: data },
            success: function (respones) {
                window.reload();
            }
        });
    });
    $(document).ready(function () {

        $("#listItem").on("click", "#deleteitem", function () {
            var cut = $(this).closest('tr');
            var id = cut.find('td:eq(0)').text();
            document.getElementById("txtid").value = id;
        });

    });
    function ClickYes() {
        var id = $("#txtid").val();
        $.ajax({

            url: "/ItemGroup1/DeleteCateory",
            type: "Delete",
            dataType: "JSON",
            data: { ID: id },
            complete: function () {
                location.reload();
            }
        });
    }

    $("#selectpage").on('change', function () {

        submitForm();

    })
    function submitForm() {
        document.getElementById("form-id").submit();
    }

    $(document).ready(function () {
        $("#txtseaerch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>