﻿@using POS_WEB.Models.Services.CRM;

@model AppointmentModel;

<script src="~/js/CRM/validate-appointment.js" defer></script>
<script src="~/js/CRM/appointment.js" defer></script>

<div class="flexbox flex-end">
    @*<div id="search-appointments" class="btn btn-primary fas fa-search fa-lg"></div>*@
    <div id="active-appointments" class="btn btn-warning fas fa-bell fa-lg alert"><span>0</span></div>
</div>
<form id="appointment" class="block">
    @Html.AntiForgeryToken()
    <div class="title">Appointment</div>
    <div ck-message-summary class="message-summary"></div>
    
    <div class="wrap-block col-three activity-header">
        <div class="left-block">
            <div class="appointment-list" hidden>
                <div class="group-search-boxes">
                    <div id="text-search" class="wrap-search-box">
                        <div class="wrap-input show">
                            <i id="i-search" class="i-search fas fa-search"></i>
                            <input class="ignore search-appointments" type="text" value="" placeholder="Search Appointments ...">
                            <i id="i-close" class="i-close far fa-times-circle"></i>
                        </div>
                        <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                    </div>
                </div>

                <div class="wrap-table list" style="margin-top: .5rem;">
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Activity</th>
                            <th>Type</th>
                            <th>Subject</th>
                            <th>Remark</th>
                            <th>Business Partner</th>
                            <th>Assigned By</th>
                            <th>Assigned To</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Duration</th>
                            <th>Inactive</th>
                            <th>Closed</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="activity-define-new" method="post" style="display: none;">
                <div class="define-new wrap-table list">
                    <table>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Active</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div ck-message-for="error1"></div>

            <div class="flexbox space-between">
                <input name="appoint-id" value="0" hidden />
                <label>Activity</label>
                <select name="activity" id="activity">
                    <option value="PHONE_CALL">Phone Call</option>
                    <option value="MEETING">Meeting</option>
                    <option value="TASK">Task</option>
                    <option value="NOTE">Note</option>
                    <option value="OTHER">Other</option>
                </select>
            </div>

            <div class="flexbox space-between">
                <label for="activity-type">Type</label>
                <select id="activity-type" name="activity-type">
                    @foreach (var type in Model.ActivityTypes)
                    {
                        <option value="@type.TypeID">@type.Name</option>
                    }
                    <option value="-1">Define New</option>
                </select>
            </div>

            <div class="flexbox space-between">
                <label>Subject</label>
                <select id="activity-subject" name="activity-subject">
                    <option value="0" selected disabled></option>
                    @foreach (var subj in Model.ActivitySubjects.Where(asj => asj.TypeID == 1 && asj.Active == true))
                    {
                        <option value="@subj.SubjectID">@subj.Name</option>
                    }
                    <option value="-1">Define New</option>
                </select>
            </div>

            <div class="flexbox space-between">
                <label>Assigned To</label>
                <select name="assigned-to">
                    @foreach (var emp in Model.Employees)
                    {
                        <option value="@emp.ID">@emp.Name</option>
                    }
                </select>
            </div>

            <div class="flexbox space-between">
                <label>Assigned By</label>
                <input hidden name="assigned-by" value="@User.FindFirst("UserID").Value" />
                <input value="@User.Identity.Name" readonly />
            </div>
            <div class="flexbox">
                <input name="personal" type="checkbox" />
                <label>Personal</label>
            </div>
        </div>
        <div class="middle-block"></div>
        <div class="right-block">

            <div id="choose-business-partner" method="post" style="display: none;">
                <div class="define-new wrap-table list">
                    <table>
                        <tr>
                            <th>BP Code</th>
                            <th>BP Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="flexbox space-between">
                <label>Number</label>
                <input readonly value="@Model.Appointments.Count()" />
            </div>
            <div class="flexbox space-between">
                <label>BP Code</label>
                <div class="flexbox stack-inline">
                    <div class="flexbox input-group">
                        <input name="bp-code" readonly />
                        <input hidden name="bp-id" style="width: 70%;" />
                        <i id="bp-name-trig" class="trigger fas fa-caret-square-down" style="min-width: unset; width: auto;"></i>
                    </div>
                    <input style="font-size: .8em;" name="bp-type" readonly />
                </div>
            </div>
            <div class="flexbox space-between">
                <label>BP Name</label>
                <input name="bp-name" readonly />
            </div>
            <div class="flexbox space-between">
                <label>Contact Person</label>
                <input name="bp-contact-person" />
            </div>
            <div class="flexbox space-between">
                <label>Telephone No.</label>
                <input name="bp-phone" />
            </div>
        </div>

    </div>
    <div class="wrap-block general">
        <div class="full-block">
            <div class="wrap-block col-three">
                <div class="left-block">
                    <div class="flexbox space-between">
                        <label>Remarks</label>
                        <input name="remark" style="width: 70%;" />
                    </div>

                    <div id="activity-default">
                        <div class="flexbox space-between">
                            <label>Start Time</label>
                            <div class="flexbox stack-inline space-between" style="width: 70%;">
                                <input name="start-date" type="date" data-date="" data-date-format="DD-MM-YYYY" style="width: 60%;" />
                                <input name="start-time" data-time placeholder="00:00" style="width: 40%;" />
                            </div>
                        </div>
                        <div class="flexbox space-between">
                            <label>End Time</label>
                            <div class="flexbox stack-inline space-between" style="width: 70%;">
                                <input name="end-date" type="date" data-date="" data-date-format="DD-MM-YYYY" style="width: 60%;" />
                                <input name="end-time" data-time placeholder="00:00" style="width: 40%;" />
                            </div>
                        </div>
                        <div class="flexbox space-between">
                            <label>Duration</label>
                            <div class="flexbox input-group" style="width: 70%;">
                                <input name="duration" value="20" />
                                <select name="duration-uom">
                                    <option value="MINUTES">Minutes</option>
                                    <option value="HOURS">Hours</option>
                                    <option value="DAYS">Days</option>
                                </select>
                            </div>
                        </div>

                        <div id="activity-default-mutable">
                            <div id="activity-meeting" hidden>
                                <div>Address</div>
                                <div class="flexbox space-between">
                                    <label style="margin-left: 1rem;">Street</label>
                                    <input name="street" />
                                </div>
                                <div class="flexbox space-between">
                                    <label style="margin-left: 1rem;">City</label>
                                    <input name="city" />
                                </div>
                                <div class="flexbox space-between">
                                    <label style="margin-left: 1rem;">Room</label>
                                    <input name="room" />
                                </div>
                                <div class="flexbox space-between">
                                    <label style="margin-left: 1rem;">Country</label>
                                    <input name="country" />
                                </div>
                            </div>
                            <div id="activity-task" hidden>
                                <div class="flexbox space-between">
                                    <label>Status</label>
                                    <select name="task-status" style="width: 70%;">
                                        <option value="0" selected disabled></option>
                                        <option value="1">Not Started</option>
                                        <option value="2">On Task</option>
                                        <option value="3">Complete</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="activity-note" class="activity-note" hidden>
                        <div class="flexbox space-between">
                            <label>Note Time</label>
                            <div class="flexbox stack-inline space-between" style="width: 70%;">
                                <input name="note-date" type="date" data-date="" data-date-format="DD-MM-YYYY" style="width: 60%;" />
                                <input name="note-time" data-time placeholder="00:00" style="width: 40%;" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="middle-block"></div>
                <div class="right-block">
                    <div class="flexbox space-between">
                        <label>Priority</label>
                        <select name="priority">
                            <option value="LOW">Low</option>
                            <option value="MEDIUM">Medium</option>
                            <option value="HIGH">High</option>
                        </select>
                    </div>

                    <div id="activity-meeting-location" class="flexbox space-between">
                        <label>Meeting Location</label>
                        <select name="meeting-location">
                            <option selected></option>
                            @foreach (var loc in Model.Locations)
                            {
                                <option value="@loc.LocationID">@loc.Name</option>
                            }
                            <option value="-1">Define New</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="wrap-block col-three">
                <div class="left-block">
                    <div class="flexbox space-between">
                        <input name="activity-reminder" type="checkbox" />
                        <label>Reminder</label>
                        <div class="flexbox input-group" style="width: 70%;">
                            <input name="reminder" value="15" disabled />
                            <select name="reminder-uom" disabled>
                                <option value="MINUTES">Minutes</option>
                                <option value="HOURS">Hours</option>
                                <option value="DAYS">Days</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="middle-block"></div>
                <div class="right-block">
                    <div class="flexbox">
                        <input name="inactive" type="checkbox" />
                        <label>Inactive</label>
                    </div>
                    <div class="flexbox">
                        <input name="closed" type="checkbox" />
                        <label>Closed</label>
                    </div>
                </div>
            </div>
            <div class="wrap-block">
                <div class="left-block">
                    <button id="appointment-submit" type="button" class="btn btn-primary" style="margin-right: 5px;">
                        <i class="fas fa-plus fa-lg"></i> Add
                    </button>
                    <a id="appointment-cancel" asp-controller="CRM" asp-action="Appointment" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</form>
