﻿
<link href="~/css/Chart.min.css" rel="stylesheet" />
<script src="~/js/Chart.bundle.min.js"></script>
<div class="row">
    <div class="col-md-6"><center style="font-family:Arial;font-size:15px; color:gray">@Localizer["Sale Summary"]</center> <canvas id="chart_sale_summary"></canvas></div>
    <div class="col-md-6"><center style="font-family:Arial;font-size:15px; color:gray;">@Localizer["Purchase Summary"]</center><canvas id="chart_purchase_summary"></canvas></div>
</div>
<div class="row">
    <div class="col-md-6"><center style="font-family:Arial;font-size:15px;color:gray;">@Localizer["Top Sale"]</center><canvas id="chart_top_sale"></canvas></div>
    <div class="col-md-6"><center style="font-family:Arial;font-size:15px;color:gray;">@Localizer["Stock In Warehouse"]</center><canvas id="chart_stockin_warehouse"></canvas></div>
</div>
<script>
   //salesummary
   let summarysale= $.ajax({
            url: "/Home/DashboarbSaleSummary",
            type: "Get",
            dataType: "Json",
            async:false,
            data: {BranchID:@User.FindFirst("BranchID").Value},
            success: function (respones) {
                
            }
    }).responseJSON;
    //purchase
    let purchasesummary= $.ajax({
            url: "/Home/DashboarbPurchaseSummary",
            type: "Get",
            dataType: "Json",
            async:false,
            data: {BranchID:@User.FindFirst("BranchID").Value},
            success: function (respones) {
               
           }
    }).responseJSON;

    //Top sale
    let top_sale_summarry= $.ajax({
        url: "/Home/GetDashboardTopSale",
            type: "Get",
            dataType: "Json",
            async:false,
            success: function (respones) {
              
           }
    }).responseJSON;
    //stock in warehouse
    let stokin_warehouse_summarry = $.ajax({
        url: "/Home/GetDashboardStockInwarehose",
        type: "Get",
        dataType: "Json",
        async: false,
        success: function (respones) {
           
        }
    }).responseJSON;

    let ctx_sale_summary = $("#chart_sale_summary")[0].getContext("2d");
    let ctx_purchase_summary = $("#chart_purchase_summary")[0].getContext("2d");
    let ctx_top_sale = $("#chart_top_sale")[0].getContext("2d");
    let ctx_stockin_warehouse = $("#chart_stockin_warehouse")[0].getContext("2d");

    let sale = new Chart(ctx_sale_summary, {
        type: "pie",
        data: {
            labels: getDataset(summarysale).labels,
            datasets: [{
                data: getDataset(summarysale).data,
                backgroundColor: getDataset(summarysale).backgroundColor,
                borderColor: getDataset(summarysale).borderColor
            }] 
        }
    });

    let purchase = new Chart(ctx_purchase_summary, {
        type: "doughnut",
        data: {
            labels: getDataset(purchasesummary).labels,
            datasets: [{
               
                data: getDataset(purchasesummary).data,
                backgroundColor: getDataset(purchasesummary).backgroundColor,
                borderColor: getDataset(purchasesummary).borderColor
            }]
        }
    });
    let top_sale = new Chart(ctx_top_sale, {
        type: "bar",
        data: {
            labels: getDatasetTop_StockIn(top_sale_summarry).labels,
            datasets: [{
                label: "",
                data: getDatasetTop_StockIn(top_sale_summarry).data,
                backgroundColor: getDatasetTop_StockIn(top_sale_summarry).backgroundColor,
                borderColor: getDatasetTop_StockIn(top_sale_summarry).borderColor
            }]
        }
    });
    let stockin = new Chart(ctx_stockin_warehouse, {
        type: "line",
        data: {
            labels: getDatasetTop_StockIn(stokin_warehouse_summarry).labels,
            datasets: [{
                label: "",
                data: getDatasetTop_StockIn(stokin_warehouse_summarry).data,
                backgroundColor: getDatasetTop_StockIn(stokin_warehouse_summarry).backgroundColor,
                borderColor: getDatasetTop_StockIn(stokin_warehouse_summarry).borderColor
            }]
        }
    });
    //sale, purchase summarry
    function getDataset(values) {
        let labels = [];
        let data = [];
        let bg_color = [];
        let border_color = [];
        if (Array.isArray(values) && values.length > 0) {
            let i = 0;
            for (let value of values) {
                if (i == 0) {
                    value.backgroundColor = '#80aaff';
                }
                else if (i == 1) {
                    value.backgroundColor = '##ff6666'; 
                }
                else if (i == 2) {
                    value.backgroundColor = "#ffd7b3";
                }
                else if (i == 3) {
                    value.backgroundColor = "#80ffaa"; 
                }
                else if (i == 4) {
                    value.backgroundColor = "#ffe066";
                }
                i++;
                if (i > 4) {
                    i = 0;
                }
                labels.push(value.Name);
                data.push(value.Total);
                bg_color.push(value.backgroundColor);
                border_color.push(value.borderColor);
            }
        }
        let obj = {};
        obj.labels = labels;
        obj.data = data;
        obj.backgroundColor = bg_color;
        obj.borderColor = border_color;
        return obj;
        // return { labels: labels, data: data, backgroundColor: bg_color, borderColor: border_color };   
    }
    //Top, Stock in 
    function getDatasetTop_StockIn(values) {
        let labels = [];
        let data = [];
        let bg_color = [];
        let border_color = [];
        if (Array.isArray(values) && values.length > 0) {
            let i = 0;
            for (let value of values) {
                if (i == 0) {
                    value.backgroundColor = '#80aaff';
                }
                else if (i == 1) {
                    value.backgroundColor = '##ff6666';
                }
                else if (i == 2) {
                    value.backgroundColor = "#ffd7b3";
                }
                else if (i == 3) {
                    value.backgroundColor = "#80ffaa";
                }
                else if (i == 4) {
                    value.backgroundColor = "#ffe066";
                }
                i++;
                if (i > 4) {
                    i = 0;
                }
                labels.push(value.KhmerName);
                data.push(value.InStock);
                bg_color.push(value.backgroundColor);
                border_color.push(value.borderColor);
            }
        }
        let obj = {};
        obj.labels = labels;
        obj.data = data;
        obj.backgroundColor = bg_color;
        obj.borderColor = border_color;
        return obj;
        // return { labels: labels, data: data, backgroundColor: bg_color, borderColor: border_color };   
    }
</script>
