﻿@model Pagination<ItemMasterData>
@{
    ViewData["Title"] = "Index";
}

<style>
    .stylerow {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fa {
        margin-right: 4px;
    }

    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    h5 {
        margin: 10px 5px;
    }

    .tbncrate {
        margin-top: 10px;
        background-color: #00bfff;
        color: white;
        margin-left: 1px;
    }

    .fa-sort-amount-down {
        margin-left: 5px;
        font-size: 10px;
        color: blue;
    }

    .fa-edit {
        color: #00cc00;
    }

    .fa-trash {
        color: red;
    }

    i {
        color: black;
    }

    b {
        margin-left: 10px;
    }

    .tbncrate i {
        color: white;
    }

    .stylei i {
        color: white;
    }

    .fa-search {
        color: blue;
    }
    .table::-webkit-scrollbar {
        width: auto;
        height: 8px;
        padding: 1px;
        background-color:rgba(191, 184, 184,0.3);
        overflow: auto;
        opacity:0.5;
    }
    .styleviews{
        margin-top:10px;
        margin-bottom:10px;
    }
    .StyleGrid{
        min-width:100px;
        min-height:100px;
        margin:10px;
        padding:10px;
        box-shadow:0px 0px 3px;
    }
     .content_select{
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
 }
 .content_select:focus{
      box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
      padding: 3px 3px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgb(120, 172, 245);
      border-radius: 3px;
      font-family: Arial;
      font-size: 13px;
 }
 .list{
     margin-bottom:15px;
 }
</style>

<a asp-action="Create" class="btn btn-xs tbncrate"><i class="fa fa-plus-circle"></i> @Localizer["Create"]</a>
<form asp-action="Index" method="get" id="form-id">
    <div class="row stylerow">
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <h5>@Localizer["Showpage"] :</h5>
                <div class="input-group-append">
                    <select class="content_select" id="selectpage" name="minpage">
                        <option selected="@ViewBag.sizepage1">5</option>
                        <option selected="@ViewBag.sizepage2">10</option>
                        <option selected="@ViewBag.sizepage3">15</option>
                        <option selected="@ViewBag.sizepage4">20</option>
                        <option selected="@ViewBag.sizepage5">All</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group btnsearch">
                <input class="form-control btn-sm" type="text" autocomplete="off" name="SearchString" value="@ViewData["currentFilter"]" placeholder="@Localizer["Search"]" id="txtseaerch" />
                <div class="input-group-append">
                    <button class="btn btn-sm btnsearch"><i class="fa fa-search" ></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="nav nav-tabs" style="margin-top:10px;margin-bottom:10px;">
    <span class="nav-item" style="margin-right:5px;">
        <a asp-action="Index" asp-controller="ItemMasterData" class="btn btn-xs"><i class="fa fa-list" aria-hidden="true" title="List" style="font-size:15px;"></i></a>
    </span>
    <span>
        <a asp-action="IndexGrid" asp-controller="ItemMasterData" class="btn btn-xs "><i class="fa fa-th" aria-hidden="true" title="Grid" style="font-size:15px;"></i></a>
    </span>
</div>
<div class="wrap-table list">
    <table>
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CodeSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Code"]
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["KhmerSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Khmer"]
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EnglishSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["English"]
                    </a>
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StockSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["StockIn"]
                    </a>
                </th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["InventoryUoMSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["UoM"]
                    </a>
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CostSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Cost"]
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["UnitSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["UnitPrice"]
                    </a>
                </th>*@
                @*<th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrencySortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            @Localizer["Price"]
                        </a>
                    </th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ItemGroup1SortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Item1"]
                    </a>
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ItemGroup2SortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Item2"]
                    </a>
                </th>*@
                @*<th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["ItemGroup3SortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            @Localizer["Item3"]
                        </a>
                    </th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BarcodeSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Vendor Code"]
                    </a>
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Type"]
                    </a>
                </th>*@
                @*<th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PrintToSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            @Localizer["PrintTo"]
                        </a>
                    </th>*@
                @*<th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParm"]" class="sortcode" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            @Localizer["Description"]
                        </a>
                    </th>*@
                <th>
                    @Localizer["Image"]
                </th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody class="myTable">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="13" class="text-center">@Localizer["NoData"]</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td style="min-width:200px;">
                        @Html.DisplayFor(modelItem => item.KhmerName)
                    </td>
                    <td style="min-width:200px;">
                        @Html.DisplayFor(modelItem => item.EnglishName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.StockIn)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitofMeasureInv.Name)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.PriceList.Name)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemGroup1.Name)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ItemGroup2.Name)
                    </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ItemGroup3.Name)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Barcode)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.PrinterName.Name)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@
                    <td>
                        <img src="~/Images/@item.Image" height="30" width="30" style="border-radius:50%;" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>.
                        <a asp-action="Delete" asp-route-id="@item.ID" class="deleteGuom" data-toggle="modal" data-target="#ClickDelete" id="DeleteItemMaster"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<input type="text" id="txtid" hidden />
    <div class="modal fade" id="ClickDelete" style="margin-top:50px;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header stylei" style="background-color:blue;">
                    <i class="far fa-question-circle"><b>@Localizer["ItemMasterData"]</b></i>
                </div>
                <div class="modal-body stylei">
                    <h3>@Localizer["question"]</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm stylei" data-dismiss="modal" onclick="ClickYes()"><i class="far fa-calendar-check"></i> @Localizer["Yes"]</button>
                    <button class="btn btn-danger btn-sm stylei" data-dismiss="modal"><i class="fas fa-exclamation-triangle"></i> @Localizer["No"]</button>
                </div>
            </div>
        </div>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="1"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @prevDisabled ">
                    <i class="fa fa-angle-double-left" style="color:blue;"></i>
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @prevDisabled ">
                    <i class="fa fa-angle-left" style="color:blue;"></i>
                </a>
            </li>

            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @nextDisabled">
                    <i class="fa fa-angle-right" style="color:blue;"></i>
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@Model.TotalPages"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @nextDisabled">
                    <i class="fa fa-angle-double-right" style="color:blue;"></i>
                </a>
            </li>
        </ul>
    </nav>
    <script>
        $("#selectpage").on('change', function () {
            submitForm();
        })
        function submitForm() {
            document.getElementById("form-id").submit();
        }

        $(document).ready(function () {

            $("#txtseaerch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        $(".myTable").on("click", "#DeleteItemMaster", function () {
            var cut = $(this).closest('tr');
            var id = cut.find('td:eq(0)').text();
            document.getElementById("txtid").value = id;
        });
        function ClickYes() {
            var id = $("#txtid").val();
            $.ajax({
                url: "/ItemMasterData/DeleteItemMaster",
                type: "Delete",
                dataType: "Json",
                data: { ID: id },
                complete: function (respones) {
                    location.reload();
                }
            });
        }
    </script>
