﻿@model POS_WEB.Models.Services.Customer.CustomerViewModel;
<style>

    .customer_style {
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        width: 65%;
        min-width: 65%;
    }

    #e_date, #s_date, #warranty_type {
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .customer_style:focus {
        border: 1px solid rgb(147, 182, 237);
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 13px;
    }

    .label {
        width: 30%;
        min-width: 30%;
    }

    .customer_payment {
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        width: 50%;
        min-width: 50%;
    }

    .label_payment {
        width: 43%;
        min-width: 43%;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .modal-header {
        background-color: #4d84f6;
        color: white;
    }

    .wrap-table.list.customer_type {
        height: 300px;
    }

    .wrap-table.list tr td:nth-child(2) {
        text-align: center;
    }

    .edit_type, .edit_source, .edit_warranty {
        color: green;
        cursor: pointer;
    }

    .delete_type, .delete_source, .delete_warranty {
        cursor: pointer;
        color: red;
    }

    .wrap-table.list.table_source, .table_warranty {
        min-height: 300px;
    }

    .wrap-table.list.final-customer {
        min-height: 300px;
    }

    .dialog-box .footer {
        padding: 0;
    }

    .dialog-box .content {
        font-size: 20px;
        font-family: Arial;
    }

    .input-group {
        width: 65%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

        .input-group .form-control, .input-group span {
            height: 30px;
            border: 1px solid rgba(0,0,0,.07);
            background-color: #FFF;
        }
</style>
<script src="~/js/Customer/motocycle-customer.js" defer></script>
<div class="row">
    <div class="col-md-6">
        <label vocab="lable">@Localizer["Select Type"]</label>
        <select name="CustomerGroup" class="customer_style" id="customer-group">
            <option disabled></option>
            <option value="1" selected>@Localizer["Walk In"]</option>
            <option value="2">@Localizer["Purchase"]</option>
        </select>
        <div class="request_selecttype text-danger"></div>
    </div>
  
    <div class="col-md-6 flexbox flex-end">
        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalCustomer"> List </button>
    </div>
</div>
<link href="~/css/Modal.css" rel="stylesheet" />
<div class="row text-center">
    <div class="col-md-12">
        <h2>@Localizer["CUSTOMER INFORMATION"]</h2>
    </div>
</div>
<form>
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6">
            <input type="text" id="c_ID" hidden />
            <label class="label">@Localizer["Customer Code"]</label>
            <input type="text" id="c_code" class="customer_style" readonly />

            <label class="label">@Localizer["Customer Name"]</label>
            <input type="text" id="c_name" class="customer_style" />
            <div class="request_name text-danger"></div>

            <label class="label">@Localizer["Phone Number"]</label>
            <input type="text" id="c_phone" class="customer_style" data-phone />
            <div class="request_phone text-danger"></div>

            <label class="label">@Localizer["Date Of Birth"]</label>
            <input id="c_dateofbirth" type="text" class="customer_style" data-select="datepicker">
   
            <div class="request_dateofbirth text-danger"></div>

            <label class="label">@Localizer["Gender"]</label>
            <select id="c_gender" class="customer_style">
                <option value="0"></option>
                <option value="Male">@Localizer["Male"]</option>
                <option value="Female">@Localizer["Female"]</option>
            </select>
            <div class="request_gender text-danger"></div>
        </div>
        <div class="col-md-6">
            <label class="label">@Localizer["Customer Type"]</label>
            <select id="c_type" class="customer_style">
                <option value="0"></option>
            </select>
            <div class="request_type text-danger"></div>

            <label class="label">@Localizer["Region"]</label>
            <select type="text" id="c_region" class="customer_style">
                <option value="0"></option>
                @foreach(var reg in Model.Regions)
                {
                    <option value="@reg.RegionID">@reg.Name</option>
                }
                <option value="-1">@Localizer["Define New"]</option>
            </select>
            <div class="request_region text-danger"></div>

            <label class="label">@Localizer["District"]</label>
            <select type="text" id="c_district" class="customer_style" disabled>
                <option value="0"></option>
                <option value="-1">@Localizer["Define New"]</option>
            </select>
            <div class="request_district text-danger"></div>

            <label class="label">@Localizer["Address"]</label>
            <textarea id="c_address" class="customer_style" style="min-height:60px;"></textarea>
            <div class="request_address text-danger"></div>
        </div>
    </div>
    <div class="row" style="margin-top:18px;">
        <div class="col-md-4">
            <h4><b>@Localizer["Existing Model"]</b></h4>
            <label class="label">@Localizer["Brand"]</label>
            <input type="text" class="customer_style" id="c_e_brand" />
            <label class="label">@Localizer["Model"]</label>
            <input type="text" class="customer_style" id="c_e_modal" />
            <label class="label">@Localizer["Year"]</label>
            <input type="text" class="customer_style" id="c_e_year" />
        </div>
        <div class="col-md-4">
            <h4><b>@Localizer["Interesting Model"]</b></h4>
            <label class="label">@Localizer["Brand"]</label>
            <select type="text" class="customer_style" id="c_i_brand">
                <option value="0" selected></option>
                @foreach(var im in Model.InterestingBrands)
                {
                    <option value="@im.BrandID">@im.BrandName</option>
                }
                <option value="-1">@Localizer["Define New"]</option>
            </select>

            <label class="label">@Localizer["Model"]</label>
            <select id="c_i_model" class="customer_style">
                <option value="0" selected></option>
                @foreach (var im in Model.InterestingModels)
                {
                    <option value="@im.ModelID">@im.ModelName</option>
                }
                <option value="-1">Define New</option>
            </select>
            <label class="label">@Localizer["Year"]</label>
            <input type="text" class="customer_style" id="c_i_year" />
        </div>
        <div class="col-md-4">
            <h4><b>@Localizer["Payment Term"]</b></h4>
            <div class="flexbox space-between" style="width: 97%;">
                <label class="label_payment">@Localizer["Source Of Info"]</label>
                <select id="c_sourceofinfo" class="customer_payment">
                    <option value="0"></option>
                </select>
                <div class="request_sourceofinfo text-danger"></div>
            </div>
          
            <input type="checkbox" id="c_cash" />
            <label style="margin-right:15px;">@Localizer["Cash"]</label>
            <input type="checkbox" id="credit_card" />
            <label style="margin-right:15px;">@Localizer["Credit Card"]</label>
            <input type="checkbox" id="c_loan" />
            <label>@Localizer["Loan"]</label>
            <input type="text" id="paymenttype" hidden />
        </div>
    </div>
    <div class="form_register" style="margin-top:15px;" hidden>
        <div id="dialog-define-new" hidden>
            <div class="wrap-table">
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th hidden>Active</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <h2>@Localizer["CUSTOMER REGISTER FORM"]</h2>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-3">

                <div class="flexbox">
                    <label class="label">@Localizer["Plate #"]</label>
                    <div class="input-group">
                        @*<div class="input-group-prepend">
                            <span class="input-group-text">#</span>
                        </div>*@
                        <input id="c_plate" type="text" class="form-control">
                    </div>
                </div>
                
                <div class="request_plate text-danger"></div>

                <label class="label">@Localizer["Brand"]</label>
                <input type="text" class="customer_style" id="c_b_brand" />
                <div class="request_b_brand text-danger"></div>

                <label class="label">@Localizer["Model"]</label>
                <input type="text" class="customer_style" id="c_b_modal" />
                <div class="request_b_modal text-danger"></div>

                <label class="label">@Localizer["Year"]</label>
                <input type="text" id="c_b_year" class="customer_style" />
                <div class="request_b_year text-danger"></div>

                <label class="label">@Localizer["Color"]</label>
                <select id="c_color" class="customer_style">
                    <option value="0" selected></option>
                    @foreach (var co in Model.ColorCustomers)
                    {
                        <option value="@co.ColorID">@co.ColorName</option>
                    }
                    <option value="-1">@Localizer["Define New"]</option>
                </select>
                <div class="request_color text-danger"></div>
            </div>
            <div class="col-sm-5">
                <div class="flexbox">
                    <label class="label">@Localizer["Frame #"]</label>
                    <div class="input-group">
                        @*<div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>*@
                        <input id="c_frame" type="text" class="form-control">
                    </div>
                </div>
                <div class="request_frame text-danger"></div>

                <div class="flexbox">
                    <label class="label">@Localizer["Engine #"]</label>
                    <div class="input-group">
                        @*<div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>*@
                        <input id="c_engine" type="text" class="form-control">
                    </div>
                </div>
                <div class="request_engine text-danger"></div>

                <div class="flexbox">
                    <label class="label">@Localizer["Sale Consultant"]</label>
                    <div class="input-group">
                        <input id="c_saleconsultant_id" type="hidden" />
                        <input id="c_saleconsultant_name" class="form-control customer_style m0" readonly>
                        <div id="trigger-sale-consultants" class="trigger fas fa-caret-square-down" style="height: 30px; line-height: 30px;"></div>
                    </div>
                    <div id="sale-consultant-list" hidden>
                        <div class="group-search-boxes">
                            <div id="text-search" class="wrap-search-box">
                                <div class="wrap-input show">
                                    <i id="i-search" class="i-search fas fa-search"></i>
                                    <input autocomplete="off" class="ignore search-sale-consultants" type="text" placeholder="Search Service Customers ...">
                                    <i id="i-close" class="i-close far fa-times-circle"></i>
                                </div>
                                <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                            </div>
                        </div>

                        <div class="wrap-table list myt1">
                            <table>
                                <tr>
                                    <th>@Localizer["No."]</th>
                                    <th>@Localizer["Group"]</th>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Gender"]</th>
                                    <th>@Localizer["Position"]</th>
                                    <th>@Localizer["Hired Date"]</th>
                                    <th>@Localizer["Phone"]</th>
                                    <th>@Localizer["Action"]</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="request_saleconsultant text-danger"></div>

                <label class="label">@Localizer["Yamaha Branches"]</label>
                <select id="yamaha_branch" class="customer_style">
                    <option value="0"></option>
                    @foreach (var cvm in Model.YamahaBranches)
                    {
                        <option value="@cvm.YmBranchID">@cvm.Name</option>
                    }
                    <option value="-1">@Localizer["Define New"]</option>
                </select>
                <div class="request_location text-danger"></div>
            </div>
            <div class="col-md-4">
                <h4 style="margin-top:5px;"><b>@Localizer["Warranty Type"]</b></h4>
                <span style="width:100%; margin-top:10px;">
                    <label style="width:100%;">@Localizer["Type"]</label>
                    <select id="warranty_type" style="width:94%;">
                        <option value="0"></option>
                    </select>
                </span>
                <div style="width:94%; display:flex; margin-top:10px;">
                    <span style="width:50%; margin-right:8px;">
                        <label style="width:100%;">@Localizer["Start Date"]</label>
                        <input id="s_date" class="customer_style" data-select="datepicker" placeholder="dd-mm-yyyy" style="width: 100%;">                        
                    </span>
                    <span style="width:50%;">
                        <label style="width:100%;">@Localizer["End Date"]</label>
                        <input id="e_date" class="customer_style" data-select="datepicker" placeholder="dd-mm-yyyy" style="width: 100%;">                    
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <button class="btn btn-success btn-sm" id="cus_add">@Localizer["Add"]</button>
        <a class="btn btn-danger btn-sm" id="cus_cancel" asp-controller="Home" asp-action="Dashboard">@Localizer["Cancel"]</a>
    </div>
</div>
<div class="modal fade" id="ModalCustomerType" style="margin-top:25px;">
    <div class="modal-md modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px;">
                <h5>@Localizer["Customer Type"]</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="type_id" hidden />
                <label class="label">@Localizer["Type Name"]</label>
                <input type="text" id="type_name" class="customer_style" />
                <div class="text-danger" id="request_type"></div>
                <div class="wrap-table list customer_type" style="margin-top:15px;">
                    <table>
                        <tr>
                            <th>@Localizer["Type Name"]</th>
                            <th style="width:20px;">@Localizer["Action"]</th>
                        </tr>
                        <tbody id="list_type"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-xs btn-success" id="type_add">@Localizer["Add"]</button>
                <button class="btn btn-xs btn-danger" id="type_cancel" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalSourceOfInfo" style="margin-top:25px;">
    <div class="modal-md modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px;">
                <h5>@Localizer["Source Of Infromation"]</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="source_id" hidden />
                <label class="label">@Localizer["Source Name"]</label>
                <input type="text" id="source_name" class="customer_style" />
                <div class="text-danger" id="request_source"></div>
                <div class="wrap-table list table_source" style="margin-top:15px;">
                    <table>
                        <tr>
                            <th>@Localizer["Source Name"]</th>
                            <th style="width:20px;">@Localizer["Action"]</th>
                        </tr>
                        <tbody id="list_source"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-xs btn-success" id="source_add">@Localizer["Add"]</button>
                <button class="btn btn-xs btn-danger" id="source_cancel" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCustomer" style="margin-top:25px;">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px;">
                <h5>@Localizer["List Customer"]</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label>@Localizer["Find "]</label>
                    <input type="text" id="searchcustomer" class="customer_style" style="min-width:20%; width:20%;" />
                </div>
                <div class="wrap-table list final-customer" style="margin-top:15px;">
                    <table>
                        <tr>
                            <th>@Localizer["Code"]</th>
                            <th>@Localizer["Name"]</th>
                            <th>@Localizer["Phone"]</th>
                            <th>@Localizer["Date of Birth"]</th>
                            <th>@Localizer["Gender"]</th>
                            <th>@Localizer["Type"]</th>

                            <th style="width:20px;">@Localizer["Action"]</th>
                        </tr>
                        <tbody id="final_list"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-sm btn-danger" data-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalWarranty" style="margin-top:25px;">
    <div class="modal-md modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px;">
                <h5>@Localizer["Warranty Type - Setup"]</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="warranty_id" hidden />
                <label class="label">@Localizer["Warranty Name"]</label>
                <input type="text" id="warranty_name" class="customer_style" />
                <div class="text-danger" id="request_warranty"></div>
                <div class="wrap-table list table_warranty" style="margin-top:15px;">
                    <table>
                        <tr>
                            <th>@Localizer["Warranty Name"]</th>
                            <th style="width:20px;">@Localizer["Action"]</th>
                        </tr>
                        <tbody id="list_warranty"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-xs btn-success" id="warranty_add">@Localizer["Add"]</button>
                <button class="btn btn-xs btn-danger" id="warranty_cancel" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // get customer type
        $.ajax({
            url: "/Customer/GetCustomerType",
            type: "Get",
            dataType: "Json",
            success: function (respones) {

                GetDataCustomerType(respones);
            }
        });
        // get warrranty type
        $.ajax({
            url: "/Customer/GetWarrantyType",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                GetDataWarrantyType(respones);
            }
        });
       // Get Source of info
        $.ajax({
            url: "/Customer/GetSourceOfInfo",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                GetDataSourceOfInfo(respones);
            }
        });
        // getcode
        $.ajax({
            url: "/Customer/GetCode",
            type: "Get",
            dataType: "text",
            success: function (response) {
                $("#c_code").val(response);
            }
        });
        // getdataCustomer
        $.ajax({
            url: "/Customer/GetCustomers",
            type: "Get",
            dataType: "Json",
            success: function (response) {
                GetDataCustomer(response);
            }
        });


    });

    // search customer
    $("#searchcustomer").keyup(function () {
        setTimeout(()=> {
            $.ajax({
                url: "/Customer/SearchCustomer",
                type: "Get",
                dataType: "Json",
                data: { name: this.value },
                success: function (respones) {
                    GetDataCustomer(respones);
                }
            });
        }, 250);
    })
    // Get data customer type
    function GetDataCustomerType(respones) {
        var data = '';
        var selete = '';
        $("#list_type tr").remove();
        $("#c_type option:not(:first-child)").remove();

        if (respones.length == 0) {
            data += '<tr>' + '<td colspan="2" class="text-center">@Localizer["No Data"]</td>' + '</tr>';
        } else {
            $.each(respones, function (i, item) {
                data +=
                    '<tr>' +
                    '<td hidden>' + item.CusTypeID + '</td>' +
                    '<td>' + item.CusName + '</td>' +
                    '<td>' + '<i class="fa fa-edit edit_type"></i> . <i class="fa fa-trash delete_type"></i>' + '</td>' +
                    '</tr>';
                selete +=
                    '<option value="' + item.CusTypeID + '">' + item.CusName + '</option>';

            });
        }
        $("#c_type").append(selete);
        $("#list_type").append(data);
        $("#c_type").append("<option value='-1'>Define New</option>");

    }
    // Get data warranty type
    function GetDataWarrantyType(respones) {
        var data = '';
        var selete = '';
        $("#list_warranty tr").remove();
        $("#warranty_type option:not(:first-child)").remove();

        if (respones.length == 0) {
            data += '<tr>' + '<td colspan="2" class="text-center">@Localizer["No Data"]</td>' + '</tr>';
        } else {
            $.each(respones, function (i, item) {
                data +=
                    '<tr>' +
                    '<td hidden>' + item.WarrantyID + '</td>' +
                    '<td>' + item.WarrantyName + '</td>' +
                    '<td>' + '<i class="fa fa-edit edit_warranty"></i> . <i class="fa fa-trash delete_warranty"></i>' + '</td>' +
                    '</tr>';
                selete +=
                    '<option value="' + item.WarrantyID + '">' + item.WarrantyName + '</option>';

            });
        }
        $("#warranty_type").append(selete);
        $("#list_warranty").append(data);
        $("#warranty_type").append("<option value='-1'>Define New</option>");

    }
    // get source of info
    function GetDataSourceOfInfo(respones) {
         var data = '';
        var selete = '';
        $("#list_source tr").remove();
        $("#c_sourceofinfo option:not(:first-child)").remove();
        if (respones.length == 0) {
            data += '<tr>' + '<td colspan="2" class="text-center">@Localizer["No Data"]</td>' + '</tr>';
        } else {
            $.each(respones, function (i, item) {
                data +=
                    '<tr>' +
                    '<td hidden>' + item.SourceID + '</td>' +
                    '<td>' + item.SourceName + '</td>' +
                    '<td>' + '<i class="fa fa-edit edit_source"></i> . <i class="fa fa-trash delete_source"></i>' + '</td>' +
                    '</tr>';
                selete +=
                    '<option value="' + item.SourceID + '">' + item.SourceName + '</option>';
            });
        }
        $("#c_sourceofinfo").append(selete);
        $("#list_source").append(data);
        $("#c_sourceofinfo").append("<option value='-1'>Define New</option>");

    }
    //select type
    var _customer_group = 1;
    $("#customer-group").on('change', function () {
        if (this.value != -1) {
            _customer_group  = $(this).find("option:selected").val();
        } else {
            this.value = _customer_group ;
            $("#ModalCustomerType").modal("show");
        }
    });
    //select warranty
    var _select_warranty = 1;
    $("#warranty_type").on('change', function () {
        if (this.value != -1) {
            _select_warranty = $(this).find("option:selected").val();
        } else {
            this.value = _select_warranty;
            $("#ModalWarranty").modal("show");
        }
    });
    // select source of info
    var _select_soruce = 1;
    $("#c_sourceofinfo").on('change', function () {
        if (this.value != -1) {
            _select_soruce = $(this).find("option:selected").val();
        } else {
            this.value = _select_soruce;
            $("#ModalSourceOfInfo").modal("show");
        }
    });
    //Insert customer type
    $("#type_add").on('click', function () {
        var typeid = $("#type_id").val();
        var typename = $("#type_name").val();

        if (typename == '' || typename == 0 || typename == null) {
            $("#type_name").css('border-color', 'red');
            $("#request_type").text('Type is required !');
            return;
        } else {
            $("#type_name").css('border-color', 'lightgrey');
            $("#request_type").text('');
        }
        var data = {
            CusTypeID: typeid,
            CusName: typename
        }
        $.ajax({
            url: "/Customer/SaveCustomerType",
            type: "Post",
            dataType: "Json",
            data: {type:data},
            success: function (respones) {
                //GetDataCustomerType(respones);
                $("#type_id").val(0);
                $("#type_add").html("@Localizer["Add"]");
                $("#type_name").val('');
            }
        });
    });
     //Insert warranty type
    $("#warranty_add").on('click', function () {
        var id = $("#warranty_id").val();
        var name = $("#warranty_name").val();

        if (name == '' || name == 0 || name == null) {
            $("#warranty_name").css('border-color', 'red');
            $("#request_warranty").text('Warranty Name  is required !');
            return;
        } else {
            $("#warranty_name").css('border-color', 'lightgrey');
            $("#request_warranty").text('');
        }
        var data = {
            WarrantyID: id,
            WarrantyName: name
        }
        $.ajax({
            url: "/Customer/SaveWarrantyType",
            type: "Post",
            dataType: "Json",
            data: {warranty:data},
            success: function (respones) {
                GetDataWarrantyType(respones);
                $("#warranty_id").val(0);
                $("#warranty_add").html("@Localizer["Add"]");
                $("#warranty_name").val('');
            }
        });
    });
    //Insert source to info
    $("#source_add").on('click', function () {
        var sourceid = $("#source_id").val();
        var sourcename = $("#source_name").val();

        if (sourcename == '' || sourcename == 0 || sourcename == null) {
            $("#source_name").css('border-color', 'red');
            $("#request_source").text('source name is required !');
            return;
        } else {
            $("#source_name").css('border-color', 'lightgrey');
            $("#request_source").text('');
        }
        var data = {
            SourceID: sourceid,
            SourceName: sourcename
        }
        $.ajax({
            url: "/Customer/SaveSourceOfInfo",
            type: "Post",
            dataType: "Json",
            data: {source:data},
            success: function (respones) {
                GetDataSourceOfInfo(respones);
                $("#source_id").val(0);
                $("#source_add").html("@Localizer["Add"]");
                $("#source_name").val('');
            }
        });
    });
    // cancel type
    $("#type_cancel").on('click', function () {

        $("#type_name").css('border-color', 'lightgrey');
        $("#request_type").text('');
        $("#type_id").val(0);
        $("#type_name").val('');
    });
    // cancel  warrarnty
    $("#warranty_cancel").on('click', function () {

        $("#warranty_name").css('border-color', 'lightgrey');
        $("#request_warranty").text('');
        $("#warranty_id").val(0);
        $("#warranty_name").val('');
    });
    // cancel source of info
    $("#source_cancel").on('click', function () {

        $("#source_name").css('border-color', 'lightgrey');
        $("#request_source").text('');
        $("#source_id").val(0);
        $("#source_name").val('');
    });
    // edit type
    $("#list_type").on('click', '.edit_type', function () {
        $("#type_add").html("@Localizer["Update"]");
        var cut = $(this).closest('tr');
        var typeid = cut.find('td:eq(0)').text();
        var typename = cut.find('td:eq(1)').text();

        document.getElementById("type_id").value = typeid;
        document.getElementById("type_name").value = typename;
    });
    // edit warranty
    $("#list_warranty").on('click', '.edit_warranty', function () {
        $("#warranty_add").html("@Localizer["Update"]");
        var cut = $(this).closest('tr');
        var id = cut.find('td:eq(0)').text();
        var name = cut.find('td:eq(1)').text();

        document.getElementById("warranty_id").value = id;
        document.getElementById("warranty_name").value = name;
    });
     // edit source of info
    $("#list_source").on('click', '.edit_source', function () {
        $("#source_add").html("@Localizer["Update"]");
        var cut = $(this).closest('tr');
        var sourceid = cut.find('td:eq(0)').text();
        var sourcename = cut.find('td:eq(1)').text();

        document.getElementById("source_id").value = sourceid;
        document.getElementById("source_name").value = sourcename;
    });
    //delete type
    $("#list_type").on('click', '.delete_type', function () {
        var cut = $(this).closest('tr');
        var typeid = cut.find('td:eq(0)').text();

         $.ajax({
             url: "/Customer/DeleteCustomerType",
             type: "Post",
             dataType: "Json",
             data: { ID: typeid },
             success: function (respones) {
                 GetDataCustomerType(respones);
             }
         });
    });
    //delete warranty
    $("#list_warranty").on('click', '.delete_warranty', function () {
        var cut = $(this).closest('tr');
        var id = cut.find('td:eq(0)').text();

        $.ajax({
            url: "/Customer/DeleteWarrantyType",
            type: "Post",
            dataType: "Json",
            data: { ID: id },
            success: function (respones) {
                GetDataWarrantyType(respones);
            }
        });
    });
    // delete source of info
    $("#list_source").on('click', '.delete_source', function () {
        var cut = $(this).closest('tr');
        var sourceid = cut.find('td:eq(0)').text();

        $.ajax({
            url: "/Customer/DeleteSource",
            type: "Post",
            dataType: "Json",
            data: { ID: sourceid },
            success: function (respones) {
                GetDataSourceOfInfo(respones);
            }
        });
    });

    $('#c_cash').on('click', function () {
        var cash_tranfer = $("#credit_card").prop('checked');
        var loan = $("#c_loan").prop('checked');
        if (cash_tranfer == true) {
            $("#credit_card").prop('checked',false);
        }
        if (loan == true) {
            $("#c_loan").prop('checked',false);
        }
        $("#paymenttype").val("Cash");
    });
    $('#credit_card').on('click', function () {
        var cash = $("#c_cash").prop('checked');
        var loan = $("#c_loan").prop('checked');
        if (cash == true) {
            $("#c_cash").prop('checked', false);
        }
        if (loan == true) {
            $("#c_loan").prop('checked', false);
        }
        $("#paymenttype").val("CREDIT_CARD");
    });
    $('#c_loan').on('click', function () {
        var cash = $("#c_cash").prop('checked');
        var cash_tranfer = $("#credit_card").prop('checked');
        if (cash == true) {
            $("#c_cash").prop('checked', false);
        }
        if (cash_tranfer == true) {
            $("#credit_card").prop('checked', false);
        }
        $("#paymenttype").val("Loan");
    });
    $("#customer-group").on('change', function () {
        var type = this.value;
        if (type == 2) {
            $('.form_register').removeAttr('hidden');
        } else {
            $('.form_register').attr('hidden',true);
        }
    });
    $("#cus_add").on("click", function () {
        var type = $("#customer-group").val();
        var cus_ID = $("#c_ID").val();
        var cus_code = $("#c_code").val();
        var cus_name = $("#c_name").val();
        var cus_phone = $("#c_phone").val();
        var cus_dateofbirth = $("#c_dateofbirth").val();
        var cus_gender = $("#c_gender").val();
        var cus_type = $("#c_type").val();
        var cus_region = $("#c_region option:selected").val();
        var cus_district = $("#c_district option:selected").val();
        var cus_address = $("#c_address").val();
        var cus_e_modal = $("#c_e_modal").val();
        var cus_e_brand = $("#c_e_brand").val();
        var cus_e_year = $("#c_e_year").val();
        var cus_i_modal = $("#c_i_model option:selected").val();
        var cus_i_brand = $("#c_i_brand option:selected").val();
        var cus_i_year = $("#c_i_year").val();
        var cus_sourceofinfo = $("#c_sourceofinfo option:selected").val();
        var cus_paymenttype = $("#paymenttype").val();
        var cus_plate = $("#c_plate").val();
        var cus_b_brand = $("#c_b_brand").val();
        var cus_b_modal = $("#c_b_modal").val();
        var cus_b_year = $("#c_b_year").val();
        var cus_color = $("#c_color").val();
        var cus_frame = $("#c_frame").val();
        var cus_engine = $("#c_engine").val();
        var cus_saleconsultant = $("#c_saleconsultant_id").val();    
        var cus_yamaha_branch = $("#yamaha_branch option:selected").val();
        var warranty_val = $("#warranty_type").val();
        var warranty_text = $("#warranty_type").text();
        var startdate = $("#s_date").val();
        var enddate = $("#e_date").val();
        if (type == 0) {
            $(".request_selecttype").text("Please select type !");
            return;
        } else {
            $(".request_selecttype").text("");
            if (type == 1) {
                if (cus_name == '') {
                    $(".request_name").text("@Localizer["Customer name is required !"]");
                    return;
                }
                else {
                    $(".request_name").text("");
                }
                if (cus_phone == '') {
                    $(".request_phone").text("@Localizer["Phone number is required !"]");
                    return;
                } else {
                    $(".request_phone").text("");
                }
                if (cus_dateofbirth == 0) {
                    $(".request_dateofbirth").text("@Localizer["Date of birth is required !"]");
                    return;
                } else {
                    $(".request_dateofbirth").text("");
                }
                if (cus_gender == 0) {
                    $(".request_gender").text("@Localizer["Gender is required !"]");
                    return;
                } else {
                    $(".request_gender").text("");
                }
                if (cus_type == 0) {
                    $(".request_type").text("@Localizer["Customer type is required !"]");
                    return;
                } else {
                    $(".request_type").text("");
                }
                if (cus_region == '') {
                    $(".request_region").text("@Localizer["Region is required !"]");
                    return;
                } else {
                    $(".request_region").text("");
                }
                if (cus_district == '') {
                    $(".request_district").text("@Localizer["District is required !"]");
                    return;
                } else {
                    $(".request_district").text("");
                }
                if (cus_address == '') {
                    $(".request_address").text("@Localizer["Address is required !"]");
                    return;
                } else {
                    $(".request_address").text("");
                }
                if (cus_sourceofinfo == 0) {
                    $(".request_sourceofinfo").text("@Localizer["Source of info is required !"]");
                    return;
                } else {
                    $(".request_sourceofinfo").text("");
                }

                var data = {
                    CusID:cus_ID,
                    CustomerGroup:type,
                    Code: cus_code,
                    SourceID: cus_sourceofinfo,
                    CusTypeID: cus_type,
                    Name: cus_name,
                    Phone: cus_phone,
                    DateOfBirth: cus_dateofbirth,
                    Gender: cus_gender,
                    Regoin: cus_region,
                    District: cus_district,
                    Address: cus_address,
                    E_Year: cus_e_year,
                    E_Brand: cus_e_brand,
                    E_Model: cus_e_modal,
                    I_Year: cus_i_year,
                    I_Brand: cus_i_brand,
                    I_Model: cus_i_modal,
                    PaymentType: cus_paymenttype,
                    Plate: cus_plate,
                    B_Brand: cus_b_brand,
                    B_Model: cus_b_modal,
                    B_Year: cus_b_year,
                    Color: cus_color,
                    Frame: cus_frame,
                    Engine: cus_engine,
                    SaleConsultant: cus_saleconsultant,
                    Location: cus_yamaha_branch,
                    AppontmentDate:"2015-05-05"
                }
                $.ajax({
                    url: "/Customer/SaveCustomer",
                    type: "POST",
                    dataType: "Json",
                    data: $.antiForgeryToken({ customer: data }),
                    success: function (respones) {
                       
                        //GetDataCustomer(respones);
                        // getcode
                    }
                });

            } else {
                 if (cus_name == '') {
                    $(".request_name").text("@Localizer["Customer name is required !"]");
                    return;
                }
                else {
                    $(".request_name").text("");
                }
                if (cus_phone == '') {
                    $(".request_phone").text("@Localizer["Phone number is required !"]");
                    return;
                } else {
                    $(".request_phone").text("");
                }
                if (cus_dateofbirth == 0) {
                    $(".request_dateofbirth").text("@Localizer["Date of birth is required !"]");
                    return;
                } else {
                    $(".request_dateofbirth").text("");
                }
                if (cus_gender == 0) {
                    $(".request_gender").text("@Localizer["Gender is required !"]");
                    return;
                } else {
                    $(".request_gender").text("");
                }
                if (cus_type == 0) {
                    $(".request_type").text("@Localizer["Customer type is required !"]");
                    return;
                } else {
                    $(".request_type").text("");
                }
                if (cus_region == '') {
                    $(".request_region").text("@Localizer["Region is required !"]");
                    return;
                } else {
                    $(".request_region").text("");
                }
                if (cus_district == '') {
                    $(".request_district").text("@Localizer["District is required !"]");
                    return;
                } else {
                    $(".request_district").text("");
                }
                if (cus_address == '') {
                    $(".request_address").text("@Localizer["Address is required !"]");
                    return;
                } else {
                    $(".request_address").text("");
                }
                if (cus_sourceofinfo == 0) {
                    $(".request_sourceofinfo").text("@Localizer["Source of info is required !"]");
                    return;
                } else {
                    $(".request_sourceofinfo").text("");
                }
                if (cus_plate == '') {
                    $(".request_plate").text("@Localizer["Plate is required !"]");
                    return;
                }
                else {
                    $(".request_plate").text("");
                }
                if (cus_b_brand == '') {
                    $(".request_b_brand").text("@Localizer["Plate is required !"]");
                    return;
                } else {
                     $(".request_b_brand").text("");
                }
                if (cus_b_modal == '') {
                    $(".request_b_modal").text("@Localizer["Modal is required !"]");
                    return;
                } else {
                     $(".request_b_modal").text("");
                }
                if (cus_b_year == '') {
                    $(".request_b_year").text("@Localizer["Year is required !"]");
                    return;
                } else {
                     $(".request_b_year").text("");
                }
                if (cus_color == '') {
                    $(".request_color").text("@Localizer["Color is required !"]");
                    return;
                } else {
                     $(".request_color").text("");
                }
                if (cus_frame == '') {
                    $(".request_frame").text("@Localizer["Frame is required !"]");
                    return;
                } else {
                    $(".request_frame").text("");
                }
                if (cus_engine == '') {
                    $(".request_engine").text("@Localizer["Engine is required !"]");
                    return;
                } else {
                     $(".request_engine").text("");
                }
                if (cus_saleconsultant == '') {
                    $(".request_saleconsultant").text("@Localizer["Slae consultant is required !"]");
                    return;
                }
                else {
                    $(".request_saleconsultant").text("");
                }
                if (cus_yamaha_branch == '') {
                    $(".request_location").text("@Localizer["Yamaha branch is required !"]");
                    return;
                } else {
                     $(".request_location").text("");
                }
               
                var data = {
                    CusID: cus_ID,
                    Type: type,
                    Code: cus_code,
                    SourceID: cus_sourceofinfo,
                    CusTypeID: cus_type,
                    Name: cus_name,
                    Phone: cus_phone,
                    DateOfBirth: cus_dateofbirth,
                    Gender: cus_gender,
                    RegionID: cus_region,
                    DistrictID: cus_district,
                    Address: cus_address,
                    E_Year: cus_e_year,
                    E_Brand: cus_e_brand,
                    E_Model: cus_e_modal,
                    I_Year: cus_i_year,
                    I_Brand: cus_i_brand,
                    I_Model: cus_i_modal,
                    PaymentType: cus_paymenttype,
                    Plate: cus_plate,
                    B_Brand: cus_b_brand,
                    B_Model: cus_b_modal,
                    B_Year: cus_b_year,
                    Color: cus_color,
                    Frame: cus_frame,
                    Engine: cus_engine,
                    SaleConsultant: cus_saleconsultant,
                    YamahaBranch: cus_yamaha_branch,              
                    EndDate: enddate,
                    StartDate: startdate,
                    WarrantyName: warranty_text,
                    WarrantyID:warranty_val
                }

                $.ajax({
                    url: "/Customer/SaveCustomer",
                    type: "POST",
                    dataType: "Json",
                    data: $.antiForgeryToken({ customer: data }),
                    success: function (respones) {
                        //GetDataCustomer(respones);
                        // getcode
                        $.ajax({
                            url: "/Customer/GetCode",
                            type: "Get",
                            dataType: "text",
                            success: function (response) {
                                $("#c_code").val(response);
                                clear();
                                $("#cus_add").html("Add");
                            }
                        });
                    }
                });
            }
        }
    });

    function clear() {
        $("#customer-group").val("");
        $("#c_ID").val("");
        $("#c_name").val("");
        $("#c_phone").val("");
        $("#c_dateofbirth").val("");
        $("#c_gender").val("");
        $("#c_type").val("");
        $("#c_region").val("");
        $("#c_district").val("");
        $("#c_address").val("");
        $("#c_e_modal").val("");
        $("#c_e_brand").val("");
        $("#c_e_year").val("");
        $("#c_i_model").val("");
        $("#c_i_brand").val("");
        $("#c_i_year").val("");
        $("#c_sourceofinfo").val("");
        $("#paymenttype").val("");
        $("#c_plate").val("");
        $("#c_b_brand").val("");
        $("#c_b_modal").val("");
        $("#c_b_year").val("");
        $("#c_color").val("");
        $("#c_frame").val("");
        $("#c_engine").val("");
        $("#c_saleconsultant").val("");
        $("#yamaha_branch").val("");
        $("#c_cash").prop("checked", false);
        $("#credit_card").prop("checked", false);
        $("#c_loan").prop("checked", false);
        $("#warranty_type").val("");
        $("#s_date").val("");
        $("#e_date").val("");
    }

    function GetDataCustomer(respones) {

        var data = '';
        $("#final_list tr").remove();
        if (respones.length == 0) {
            data += '<tr>' + '<td colspan="8" class="text-center">@Localizer["No Data"]</td>' + '</tr>';
        } else {
            $.each(respones, function (i, item) {
                data +=
                    '<tr>' +
                    '<td hidden>' + item.CusID + '</td>' +
                    '<td>' + item.Code + '</td>' +
                    '<td>' + item.Name + '</td>' +
                    '<td>' + item.Phone + '</td>' +
                    '<td>' + moment(item.DateOfBirth).format("DD-MM-YYYY") + '</td>' +
                    '<td>' + item.Gender + '</td>' +
                    '<td>' + item.Type + '</td>' +
                    '<td hidden>' + item.RegionID + '</td>' +
                    '<td hidden>' + item.DistrictID + '</td>' +
                    '<td hidden>' + item.Address + '</td>' +
                    '<td hidden>' + item.E_Model + '</td>' +
                    '<td hidden>' + item.E_Brand + '</td>' +
                    '<td hidden>' + item.E_Year + '</td>' +
                    '<td hidden>' + item.I_Model + '</td>' +
                    '<td hidden>' + item.I_Brand + '</td>' +
                    '<td hidden>' + item.I_Year + '</td>' +
                    '<td hidden>' + item.SourceID + '</td>' +
                    '<td hidden>' + item.PaymentType + '</td>' +
                    '<td hidden>' + item.Plate + '</td>' +
                    '<td hidden>' + item.B_Brand + '</td>' +
                    '<td hidden>' + item.B_Model + '</td>' +
                    '<td hidden>' + item.B_Year + '</td>' +
                    '<td hidden>' + item.Color + '</td>' +
                    '<td hidden>' + item.Frame + '</td>' +
                    '<td hidden>' + item.Engine + '</td>' +
                    '<td hidden>' + item.SaleConsultant + '</td>' +
                    '<td hidden>' + item.YamahaBranch + '</td>' +
                    '<td hidden>' + moment(item.AppontmentDate).format("DD-MM-YYYY") + '</td>' +
                    '<td hidden>' + item.CusTypeID + '</td>' +
                    '<td hidden>' + item.WarrantyID + '</td>' +
                    '<td hidden>' + item.WarrantyName + '</td>' +
                    '<td hidden>' + moment(item.StartDate).format("DD-MM-YYYY") + '</td>' +
                    '<td hidden>' + moment(item.EndDate).format("DD-MM-YYYY") + '</td>' +
                    '<td>' + '<i class="fa fa-edit edit_type" data-dismiss="modal" id="btn_edit";></i> . <i class="fa fa-trash delete_type" id="btn_delete"></i>' + '</td>' +
                    '</tr>';
            });
        }
        $("#final_list").append(data);
    }
    $("#final_list").on("click", "#btn_edit", function () {
        var cut = $(this).closest('tr');
        var cus_ID = cut.find('td:eq(0)').text();
        var cus_code = cut.find('td:eq(1)').text();
        var cus_name = cut.find('td:eq(2)').text();
        var cus_phone = cut.find('td:eq(3)').text();
        var cus_dateofbirth = cut.find('td:eq(4)').text();
        var cus_gender = cut.find('td:eq(5)').text();
        var selecttype = cut.find('td:eq(6)').text();
        var cus_region = cut.find('td:eq(7)').text();       
        var cus_district = cut.find('td:eq(8)').text();
        var cus_address = cut.find('td:eq(9)').text();
        var cus_e_modal = cut.find('td:eq(10)').text();
        var cus_e_brand = cut.find('td:eq(11)').text();
        var cus_e_year = cut.find('td:eq(12)').text();
        var cus_i_modal = cut.find('td:eq(13)').text();
        var cus_i_brand = cut.find('td:eq(14)').text();
        var cus_i_year = cut.find('td:eq(15)').text();
        var cus_sourceofinfo = cut.find('td:eq(16)').text();
        var cus_paymenttype = cut.find('td:eq(18)').text();
        var cus_plate = cut.find('td:eq(19)').text();
        var cus_b_brand = cut.find('td:eq(20)').text();
        var cus_b_modal = cut.find('td:eq(21)').text();
        var cus_b_year = cut.find('td:eq(22)').text();
        var cus_color = cut.find('td:eq(23)').text();
        var cus_frame = cut.find('td:eq(24)').text();
        var cus_engine = cut.find('td:eq(25)').text();
        var cus_saleconsultant = cut.find('td:eq(26)').text();
        var cus_yamaha_branch = cut.find('td:eq(27)').text();
        var cus_type = cut.find('td:eq(29)').text();
        var warray_val = cut.find('td:eq(30)').text();
        var startdate = cut.find('td:eq(32)').text();
        var enddate = cut.find('td:eq(33)').text();

        if (selecttype == 1) {

            $("#c_ID").val(cus_ID);
            $("#c_code").val(cus_code);
            $("#c_name").val(cus_name);
            $("#c_phone").val(cus_phone);
            $("#c_dateofbirth").val(cus_dateofbirth);
            $("#c_gender").val(cus_gender);
            $("#c_type").val(cus_type);
            $("#c_region").val(cus_region);
            $("#c_district").val(cus_district);
            $("#c_address").val(cus_address);
            $("#c_e_modal").val(cus_e_modal);
            $("#c_e_brand").val(cus_e_brand);
            $("#c_e_year").val(cus_e_year);
            $("#c_i_model").val(cus_i_modal);
            $("#c_i_brand").val(cus_i_brand);
            $("#c_i_year").val(cus_i_year);
            $("#c_sourceofinfo").val(cus_sourceofinfo);
            $("#paymenttype").val(cus_paymenttype);
            $("#customer-group").val(selecttype);
            if (cus_paymenttype == "Cash") {
                $("#c_cash").prop("checked", true);
            } else {
                $("#c_cash").prop("checked", false);
            }
            if (cus_paymenttype == "CREDIT_CARD") {
                $("#credit_card").prop("checked", true);
            } else {
                $("#credit_card").prop("checked", false);
            }
            if (cus_paymenttype == "LOAN") {
                $("#c_loan").prop("checked", true);
            } else {
                $("#c_loan").prop("checked", false);
            }
            $('.form_register').attr('hidden', true);
        }
        else {

            $("#c_ID").val(cus_ID);
            $("#cus_code").val(cus_code);
            $("#c_name").val(cus_name);
            $("#c_phone").val(cus_phone);
            $("#c_dateofbirth").val(cus_dateofbirth);
            $("#c_gender").val(cus_gender);
            $("#c_type").val(cus_type);
            $("#c_region").val(cus_region);
            $("#c_district").val(cus_district);
            $("#c_address").val(cus_address);
            $("#c_e_modal").val(cus_e_modal);
            $("#c_e_brand").val(cus_e_brand);
            $("#c_e_year").val(cus_e_year);
            $("#c_i_model").val(cus_i_modal);
            $("#c_i_brand").val(cus_i_brand);
            $("#c_i_year").val(cus_i_year);
            $("#c_sourceofinfo").val(cus_sourceofinfo);
            $("#paymenttype").val(cus_paymenttype);
            $("#c_plate").val(cus_plate);
            $("#c_b_brand").val(cus_b_brand);
            $("#c_b_modal").val(cus_b_modal);
            $("#c_b_year").val(cus_b_year);
            $("#c_color").val(cus_color);
            $("#c_frame").val(cus_frame);
            $("#c_engine").val(cus_engine);
            $("#c_saleconsultant").val(cus_saleconsultant);
            $("#yamaha_branch").val(cus_yamaha_branch);
            $("#warranty_type").val(warray_val);
            $("#s_date").val(startdate);
            $("#e_date").val(enddate);
            $("#customer-group").val(selecttype);
            if (cus_paymenttype == "Cash") {
                $("#c_cash").prop("checked", true);
            } else {
                $("#c_cash").prop("checked", false);
            }
            if (cus_paymenttype == "CREDIT_CARD") {
                $("#credit_card").prop("checked", true);
            } else {
                $("#credit_card").prop("checked", false);
            }
            if (cus_paymenttype == "Loan") {
                $("#c_loan").prop("checked", true);
            } else {
                $("#c_loan").prop("checked", false);
            }

            $('.form_register').removeAttr('hidden');
        }
        $("#cus_add").html("Update");
    });

    $("#final_list").on("click", "#btn_delete", function () {

        var row = $(this).closest('tr');
        var cus_id = row.find('td:eq(0)').text();

        let remove_sc = new DialogBox({
            type: "yes-no",
            caption: "Delete",
            content: "Are you sure you want to delete " + $("td:nth-child(3)", row).text() + "?"
        });

        remove_sc.confirm(function () {
            $.ajax({
                url: "/Customer/DeleteCustomer",
                type: "Post",
                dataType: "Json",
                data: { CusID: cus_id },
                success: function (respones) {
                    GetDataCustomer(respones);                   
                }
            });
            remove_sc.shutdown();
            
        });
       
    });

</script>