﻿@model POS_WEB.Models.Services.Customer.DefaultRemarkViewModel
<style>
    form table tr td input {
        border: none;
        width: 100%;
        height: 26px;
        padding: 5px;
        border-radius: 5px;
        background: transparent;
        pointer-events: none;
    }

    form table tr td input:focus {
        border: 1px solid #36a3f7;
    }

    form table tr td input.editable {
        background: #FFF;
        pointer-events: auto;
    }

</style>
<script src="~/js/Customer/default-remark.js" defer></script>
<h1 style="font-weight: bold;">@Localizer["Default Remark Master Data"]</h1>
<div ck-validation-summary></div>
<div class="wrap-block col-two">
    <div class="left-block">
        <div class="block border myb1">
            <div id="remark-title" class="title">@Localizer["Create Default Remark"]</div>
            <form method="post" action="/Customer/DefaultRemark">
                @Html.AntiForgeryToken()
                <input type="hidden" id="RemarkID" asp-for="DefaultRemark.RemarkID" />
                <div class="form-group">
                    <label asp-for="DefaultRemark.RemarkCode" class="control-label">@Localizer["Code"] :</label>
                    <input id="RemarkCode" asp-for="DefaultRemark.RemarkCode" class="form-control" readonly value="@Model.DefaultRemark.RemarkCode" />
                    <span asp-validation-for="DefaultRemark.RemarkCode" class="text-danger"></span>
                    <div class="text-danger">@ViewBag.Error</div>
                </div>

                <div class="form-group">
                    <label asp-for="DefaultRemark.RemarkText" class="control-label">@Localizer["Remark Text"] :</label>
                    <textarea id="RemarkText" asp-for="DefaultRemark.RemarkText" class="form-control" style="height: 150px;"></textarea>
                    <span asp-validation-for="DefaultRemark.RemarkText" class="text-danger"></span>
                    <div class="text-danger">@ViewBag.Error</div>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" type="submit"><i class="fas fa-save"></i>&nbsp;@Localizer["Save"]</button>&nbsp;
                    <a href="/Customer/DefaultRemark" class="btn btn-primary" type="button"><i class="far fa-times-circle"></i>&nbsp;@Localizer["Cancel"]</a>
                </div>
            </form>
        </div>
    </div>
</div><hr />

<div class="block">
    <div class="title">@Localizer["List of default remarks"]</div>
    <div class="group-search-boxes myb1">
        <div id="text-search" class="wrap-search-box">
            <div class="wrap-input show">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input id="search-default-remarks" class="ignore" type="text" placeholder="Search default remarks ...">
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <form class="wrap-table" style="height: 500px; overflow: auto;">
        @{ int index = 0; }
        <table id="default-remark-list">
            <tr>
                <th>No.</th>
                <th>Remark Code</th>
                <th>Remark Text</th>
                <th>Last Changed</th>
                <th>Action</th>
            </tr>
            @foreach (var s in Model.DefaultRemarks)
            {
                <tr data-remarkid="@s.RemarkID">
                    <td>@{ index++; } @index</td>
                    <td><div class="RemarkCode">@s.RemarkCode</div></td>
                    <td><div class="RemarkText">@s.RemarkText</div></td>
                    <td>@s.LastChanged.ToString("dd/MM/yyyy h:mm tt")</td>
                    <td><i onclick="changeDefaultRemark(this);" class="trigger-edit fas fa-edit fa-lg fn-sky csr-pointer"></i></td>
                </tr>
            }
        </table>
    </form>
</div>