﻿<style>
    .invoice *{
        font-family: 'Khmer OS Metal Chrieng';
    }

    .invoice .caption {
        font-family: 'Khmer OS Muol';
        text-align: center;
    }

    .flexbox.vat {
        padding: 0;
    }

    .flexbox.vat > * {
        justify-content: flex-start;
        list-style: none;
        border: 1px solid #CCC;
        border-radius: 2px;
        height: 22px;
        line-height: 20px;
        width: 22px;
        margin: 0 1px;
        text-align: center;
    }

    table.invoice tr{
        border: none;
        height: 25px;
        line-height: 25px;
    }

    table.invoice th {
        background: transparent;
    }

    table.invoice th, table.invoice td {
        border: none;
        text-align: left;
        padding: 0;
    }
</style>

<div id="invoice" class="invoice">
    <div class="wrap-block col-three">
        <div class="left-block">
            <div><img src="~/Logo/KNG/kongnuon_logo.png" /></div>
        </div>
        <div class="right-block fuse">
            <div class="block center">
                <div style="width: 100%; text-align: center;"><img src="~/Logo/KNG/kongnuon_title.png" /></div>
                <div class="wrap-block col-two">
                    <div class="left-block"><h3>លេខអត្តសញ្ញាណកម្ម អតប(VAT)</h3></div>
                    <div class="right-block">
                        <ul class="flexbox vat flex-start">
                            <li>L</li>
                            <li>0</li>
                            <li>0</li>
                            <li>1</li>
                            <li>-</li>
                            <li>1</li>
                            <li>0</li>
                            <li>0</li>
                            <li>0</li>
                            <li>5</li>
                            <li>0</li>
                            <li>4</li>
                            <li>8</li>
                            <li>4</li>
                        </ul>
                    </div>
                </div>
                <table class="invoice">
                    <tr>
                        <td>អាសយដ្ខាន</td>
                        <td>ផ្ទះលេខ ២២០</td>
                        <td>ផ្លូវ ១៨២</td>
                        <td>សង្កាត់ផ្សារដេប៉ូ ១</td>
                        <td>ខណ្ឌទួលគោក</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>N&#186; 220</td>
                        <td>Street 182</td>
                        <td>Sankat Phsar Depo 1</td>
                        <td>Khan Tuol Kork</td>
                    </tr>
                    <tr>
                        <td>រាជធានីភ្នំពេញ</td>
                        <td>លេខទូរសព្ទ ០២៣ ៨៨០ ២៨១</td>
                    </tr>
                    <tr>
                        <td>City Phnom Penh</td>
                        <td>Telephone N&#186; 023 880 281</td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
    <div class="wrap-block my2">
        <div class="full-block">
            <h2 class="caption">វិក្កយបត្រ</h2>
            <h2 class="caption">Invoice</h2>
        </div>
    </div>
    <div class="wrap-block col-three">
        <div class="left-block">
            <table class="detail">
                <tr>
                    <td>អតិថិជន/Customer</td>
                    <td>:Van Srieya</td>
                </tr>
                <tr>
                    <td>Company Name/Customer</td>
                    <td>:Van Srieya</td>
                </tr>
                <tr>
                    <td>អាសយដ្ខាន/Address</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>លេខទូរសព្ទ/Tel</td>
                    <td>:099 888 288</td>
                </tr>

            </table>
        </div>
        <div class="middle-block"></div>
        <div class="right-block">
            <table class="detail">
                <tr>
                    <td>លេខរៀងវិក្កយបត្រ/Invoice N&#xba;</td>
                    <td>:202000245</td>
                </tr>
                <tr>
                    <td>កាលបរិច្ឆេទ/Date</td>
                    <td>:05/02/2020</td>
                </tr>
                
                <tr>
                    <td>យោង/Reference</td>
                    <td>:IN-200210224</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="wrap-block">
        <div class="full-block">
            <table>
                <tr>
                    <th>ល.រ / N&#xba;</th>
                    <th>បរិយាយមុខទំនិញ / Description</th>
                    <th>បរិមាណ / Quantity</th>
                    <th>ថ្លៃឯកតា / Unit Price</th>
                    <th>ថ្លៃទំនិញ / Amount</th>
                </tr>

            </table>
        </div>
    </div>
</div>
<button id="btn-print">Click Print</button>
<script>
    $("#btn-print").click(function () {
        printJS({
            printable: "invoice",
            type: "html",

        });
    });
   

</script>
