﻿@model POS_WEB.Models.Services.Appointment.AppointmentViewModel;

<script src="~/js/Customer/validate-appointment.js" defer></script>
<script src="~/js/Customer/motocycle-appointment.js" defer></script>

<h1 class="myb1">@Localizer["Follow up Motocycle Appointment"]</h1>
<form id="motocycle-customer-appointment">
    @Html.AntiForgeryToken()
    <div ck-message-summary></div>
    <div class="block border">
        <div class="title">@Localizer["Appointment Info"]</div>
        <input hidden name="CustomerID" value="@Model.Appointment.CustomerID" />
        <input hidden name="AppointmentID" value="@Model.Appointment.AppointmentID" />
        <div class="wrap-block col-two">
            <div class="left-block">
                <label class="form-label">@Localizer["Appointment Code"]</label>
                <input name="AppointmentCode" class="form-control" readonly value="@Model.Appointment.AppointmentCode" />

                <label class="form-label">Appointment Time</label>
                <div class="input-group">
                    <input name="ActivityDate" type="text" class="form-control" data-select="datepicker" data-value="@Model.Appointment.ActivityDate" value="@DateTime.Parse(Model.Appointment.ActivityDate).ToString("dd-MM-yyyy")" />
                    <input name="ActivityTime" value="@Model.Appointment.ActivityTime" class="form-control" data-time placeholder="00:00" style="width: 30%;" />
                </div>
                <div model-validation-for="appointment.FollowUp"></div>

                <label class="form-label">@Localizer["Reminder"]</label>
                <div class="input-group">
                    <input autocomplete="off" class="form-control" name="Reminder" value="15" data-value="@Model.Appointment.Reminder" />
                    <select name="ReminderUom" class="form-control">
                        <option value="MINUTES">Minutes</option>
                        <option value="HOURS">Hours</option>
                        <option value="DAYS">Days</option>
                    </select>
                </div>

                <label class="form-label">Priority</label>
                <select id="priority" name="Priority" class="form-control" data-value="@Model.Appointment.Priority">
                    <option value="LOW">Low</option>
                    <option selected value="MEDIUM">Medium</option>
                    <option value="HIGH">High</option>
                </select>
            </div>
            <div class="right-block">
                <label class="form-label">@Localizer["Remark"]</label>
                <textarea name="Remark" class="form-control" autocomplete="off" style="height: 95px;">@Model.Appointment.Remark</textarea>

                <label class="form-label">@Localizer["Location"]</label>
                <textarea name="Location" class="form-control" autocomplete="off" style="height: 95px;">@Model.Appointment.Location</textarea>
            </div>

        </div>
    </div>
    <div class="wrap-block col-three myt1" style="border-top: 1px solid #CCC;">
        <div class="left-block"></div>
        <div class="middle-block m0">
            <div class="myt1">
                @if (Model.Appointment.Paused)
                {
                    <input name="Paused" class="form-check-inline" checked type="checkbox" />
                }
                else
                {
                    <input name="Paused" class="form-check-inline" type="checkbox" />
                }
                <label>Paused</label>
            </div>

        </div>
        <div class="right-block m0">
            <div class="myt1">
                @if (Model.Appointment.Closed)
                {
                    <input name="Closed" class="form-check-inline" checked type="checkbox" />
                }
                else
                {
                    <input name="Closed" class="form-check-inline" type="checkbox" />
                }

                <label>Closed</label>
            </div>
        </div>
    </div>
    <button id="save-motocycle-appointment" class="btn btn-primary" type="button"><i class="fas fa-save"></i>&nbsp;@Localizer["Save"]</button>&nbsp;
    <a href="/Customer/MotocycleAppointment?customerID=@Model.Appointment.CustomerID" class="btn btn-primary" type="button"><i class="far fa-times-circle"></i>&nbsp;@Localizer["Cancel"]</a>

</form>

