﻿
<script src="~/js/warehouse.js"></script>
<script src="~/js/table.js" defer></script>
<style>
    .input_datefrom, .input_dateto, .input_branch {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        border-radius: 3px;
    }

    .lable_branch, .lable_datefrom, .lable_dateto {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    .btn-warning {
        margin-top: 22px;
        font-size: 13px;
        font-family: Arial;
        height: 28px;
    }

    .wrap-table {
        margin-top: 20px;
    }

    .grandtotal {
        margin-left: 15px;
    }

    .subtotaltd {
        border-bottom: 1px solid gray;
        font-weight: 700;
    }

    .hidden {
        visibility: collapse !important;
    }

    .styletr {
        font-weight: 800;
    }

    .list_detail {
        float: right;
        min-width: 1000px;
    }

    #list_revenesitem {
        margin-top: 10px;
    }
</style>
<link href="~/css/Modal.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3">
        <label class="lable_datefrom">@Localizer["Date From"]</label>
        <input type="date" class="input_datefrom" id="datefrom" />
        <label class="lable_branch">@Localizer["By Branch"]</label>
        <select type="text" class="input_branch" id="bybranch">
            <option value="0"></option>
        </select>
    </div>
    <div class="col-md-3">
        <label class="lable_dateto">@Localizer["Date To"]</label>
        <input type="date" class="input_dateto" id="dateto" />  
    </div>
    <div class="col-md-3 ">
        <button class="btn btn-xs btn-warning" id="filter">@Localizer["Filter"]</button>
    </div>
    <div class="col-md-3 text-right" style="margin-top:19px;">
        <button onclick="fnExcelReport()" class="btn btn-sm btn-primary">@Localizer["Export"]</button>
        @*<button class="btn btn-sm btn-primary">@Localizer["Print"]</button>*@
    </div>
</div>
<div class="">
    <table style="table-layout:fixed;" class="table table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl" id="list_revenesitem">
        <tr style="background:#5F758B;color:white;">
            <th  width="80">@Localizer["Detail"]</th>
            <th style="min-width:100px;">@Localizer["Code"]</th>
            <th style="min-width:150px;">@Localizer["Name(KH)"]</th>
            <th style="min-width:150px;">@Localizer["Name(EN)"]</th>
            <th style="min-width:80px;">@Localizer["Qty"]</th>
            <th style="min-width:100px;">@Localizer["Cost"]</th>
            <th style="min-width:100px;">@Localizer["Price"]</th>
            <th style="min-width:100px;">@Localizer["Total Cost"]</th>
            <th style="min-width:100px;">@Localizer["Totat Price"]</th>
            <th style="min-width:100px;">@Localizer["Profit"]</th>
        </tr>
    </table>
</div>

<i class="fa fa-arrows-circle-down"></i>
<script src="~/pos/scripts/krms/numeral.min.js"></script>
<script>
    var db = new Warehouse();
    $(document).ready(function () {
          $('#list_revenesitem').append('<tr><td class="text-center" colspan="9">@Localizer["No Data"]</td></tr>');
        //Get branch
        $.ajax({
            url: "/Report/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = '';
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
            }
        });
    });
   
    $("#filter").on('click', function () {
        var datefrom = $("#datefrom").val();
        var dateto = $("#dateto").val();
        var branch = $("#bybranch").val();
        let listSummary = $.ajax({
            url: "/Report/GetSummaryRevenesItem",
            type: "Get",
            dataType: "Json",
            async: false,
            data: { DateFrom: datefrom, DateTo: dateto, BranchID: branch,ItemID:0,Process:"M"},
            success: function (respones) {

            }
        }).responseJSON;
        db.table("tb_summary").clear();
        if (listSummary.length !== 0) {
            $("#list_revenesitem tr:not(:first-child)").remove();
            db.insert("tb_summary", listSummary, "ItemID");
        }
        else {
            $("#list_revenesitem tr:not(:first-child)").remove();
            $('#list_revenesitem').append('<tr><td class="text-center" colspan="9">@Localizer["No Data"]</td></tr>');
        }
        db.from("tb_summary").where(function (item) {
            GetDataBindTable(item);
        })
        $(".tabelshow").addClass("fa-plus-circle");
    });
    function GetDataBindTable(item) {
        var data = '';
        var totalprofit = '';
        let cost = '';
        let price = '';
        let totalcost = '';
        let totalprice = '';
        if (item.Currency == 'KHR' || item.Currency == '៛') {
            if (item.Profit < 0) {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span style:"color:red;">' + numeral(item.Profit).format('0,0') + '</span>' + '</td>';
            }
            else {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span>' + numeral(item.Profit).format('0,0') + '</span>' + '</td>';
            }
            
            cost = '<td>' + numeral(item.Cost).format('0,0') + '</td>';
            price = '<td>' + numeral(item.Price).format('0,0') + '</td>';
            totalcost = '<td>' + numeral(item.TotalCost).format('0,0') + '</td>';
            totalprice = '<td>' + numeral(item.TotalPrice).format('0,0') + '</td>';

        } else {
            if (item.Profit < 0) {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span style:"color:red;">' + numeral(item.Profit).format('0,0') + '</span>' + '</td>';
            }
            else {
                totalprofit = '<td>' + '<span style="margin-right:15px;">' + item.Currency + '</span>' + '<span>' + numeral(item.Profit).format('0,0') + '</span>' + '</td>';
            }
            cost = '<td>' + item.Cost.toFixed(2) + '</td>';
            price = '<td>' + item.Price.toFixed(2) + '</td>';
            totalcost = '<td>' + item.TotalCost.toFixed(2) + '</td>';
            totalprice = '<td>' + item.TotalPrice.toFixed(2) + '</td>';
        }

        data +=
        '<tr style="border-bottom:3px solid #e0e0d1;">' +
            '<td>' + '<i class="fa  tabelshow" style="color:#008000;" data-id='+item.ItemID+'></i>' +'<input hidden type="checkbox" class="check_box" checked/>'+ '</td>' +
            '<td hidden id="order_id">' + item.ItemID + '</td>' +
            '<td >' + item.Code + '</td>' +
            '<td>' + item.KhmerName + '</td>' +
            '<td >' + item.EnglishName + '</td>' +
            '<td>' + item.Qty + '</td>' +
            cost +
            price   +
            totalcost  +
            totalprice  +
           '<td hidden>' + item.Currency + '</td>' +
            totalprofit+
         '</tr>' +
         '<tr class="nestedtable hidden">' +
                '<td colspan="10">' +
                    '<table id='+item.ItemID+' class="table-hover list_detail">'+

                    '</table>' +
           '</td>' +
        '<tr>';
        $("#list_revenesitem").append(data);
    }
    var click = 0;
    // contenu -------------------------------------
    @*$("#list_revenesitem").on('click', '.tabelshow', function () {
        var itemid = $(this).data("id");
        var cut = $(this).closest('tr');
        //var grantotal = cut.find('td:eq(12)').text();
        //var local = cut.find('td:eq(11)').text();
        var datefrom = $("#datefrom").val();
        var dateto = $("#dateto").val();
        var branch = $("#bybranch").val();
        if ($(this).parent().find(".check_box").is(':checked')) {
            $(this).parent().find(".check_box").prop('checked',false);
            $(this).parent().parent().next().toggleClass("hidden");
            $(this).removeClass("fa-plus-circle");
            $(this).addClass("fa-minus-circle");
            $(this).css("color", "red");
            $.ajax({
                    url: "/Report/GetSummaryDetailRevenesitem",
                    type: "Get",
                    dataType: "Json",
                    data: { ItemID:parseInt(itemid),DateFrom:datefrom,DateTo:dateto,BranchID:branch,Process:'D'},
                    success: function (e) {
                        let data = '<tr class="styletr">'+
                                '<td class="">@Localizer["Code"]</td>' +
                                '<td class="">@Localizer["Qty"]</td>' +
                                '<td class="">@Localizer["Cost"]</td>' +
                                '<td class="">@Localizer["Price"]</td>' +
                                '<td class="">@Localizer["Uom"]</td>' +
                                '<td class="">@Localizer["Total Cost"]</td>' +
                                '<td class="">@Localizer["Total Price"]</td>' +
                                '<td class="text-right">@Localizer["Profit"]</td>' +
                               
                                '</tr>';
                        $.each(e, function (i, item) {
                            data +=
                                '<tr>' +
                                '<td class="">' + item.Code + '</td>' +
                                '<td class="">' + item.Qty + '</td>' +
                                '<td class="">' + item.Cost + '</td>' +
                                '<td class="">' + item.Price + '</td>' +
                                '<td class="">' + item.Uom + '</td>' +
                                '<td class="">' + item.TotalCost + '</td>' +
                                '<td class="">' + item.TotalPrice + '</td>' +
                               '<td class="text-right">' + item.TotalPrice + '</td>' +
                                '<td hidden>' +item.Currency+" "+ item.Profit + '</td>' +
                                '</tr>';
                        });
                        // data += '<tr>' + '<td></td>' + '<td></td>' + '<td></td>' + '<td></td>' + '<td></td>' + '<td class="text-center" style="font-weight:800;">@Localizer["Sub Total"]</td>' + '<td class="text-center" style="font-weight:800;"> '+'<span>'+local+'</span>'+'<span style="margin-left:5px;">'+grantotal+'</span>'+ '<td>' + '</tr>';
                        $('#' +itemid ).html(data);
                    }
            }).responseJSON;
        }
        else {

            $(this).parent().find(".check_box").prop('checked', true);
            $(this).parent().parent().next().toggleClass("hidden");
            $(this).removeClass("fa-minus-circle");
            $(this).addClass("fa-plus-circle");
            $(this).css("color", "#008000");
        }
    });*@
    //Export
    function fnExcelReport() {
        //$("td:hidden").remove();
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('list_revenesitem'); // id of table
        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
        }
        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }

</script>   