﻿<script src="~/js/warehouse.js"></script>
<script src="~/js/table.js" defer></script>
<style>
    .input_datefrom, .input_dateto, .input_user, .input_branch {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        min-width: 100%;
        height: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        border-radius: 3px;
    }

    .lable_branch, .lable_datefrom, .lable_dateto, .lable_user {
        font-family: Arial;
        font-size: 12px;
        font-weight: 700;
    }

    .btn-warning {
        margin-top: 22px;
        font-size: 13px;
        font-family: Arial;
        height: 28px;
    }

    .wrap-table {
        margin-top: 20px;
    }

    .grandtotal {
        margin-left: 15px;
    }

    .subtotaltd {
        border-bottom: 1px solid gray;
        font-weight: 700;
    }

    .hidden {
        visibility: collapse !important;
    }

    .styletr {
        font-weight: 800;
    }

    .list_detail {
        float: right;
        min-width: 1000px;
    }

    #list_topsale {
        margin-top: 10px;
    }
</style>
<link href="~/css/Modal.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-2">
        <label class="lable_datefrom">@Localizer["Date From"]</label>
        <input type="date" class="input_datefrom" id="datefrom" />
    </div>
    <div class="col-md-2">
        <label class="lable_dateto">@Localizer["Date To"]</label>
        <input type="date" class="input_dateto" id="dateto" />
    </div>
    <div class="col-md-2">
        <label class="lable_branch">@Localizer["By Branch"]</label>
        <select type="text" class="input_branch" id="bybranch">
            <option value="0"></option>
        </select>
    </div>
    <div class="col-md-2">
        <button class="btn btn-xs btn-warning" id="filter">@Localizer["Filter"]</button>
    </div>
    <div class="col-md-4 text-right" style="margin-top:19px;">
        <button onclick="fnExcelReport()" class="btn btn-sm btn-primary">@Localizer["Export"]</button>
        @*<button class="btn btn-sm btn-primary">@Localizer["Print"]</button>*@
    </div>

</div>
<div class="">
    <table style="table-layout:fixed;" class="table table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl" id="list_topsale">
        <tr style="background:#5F758B;color:white;">
            <th width="80">@Localizer["Detail"]</th>
            <th style="min-width:100px;">@Localizer["Code"]</th>
            <th style="min-width:150px;">@Localizer["Khmer Name"]</th>
            <th style="min-width:150px;">@Localizer["English Name"]</th>
            <th style="min-width:100px;">@Localizer["Date Out"]</th>
            <th style="min-width:100px;">@Localizer["Time Out"]</th>
            <th style="min-width:100px;">@Localizer["Qty"]</th>
            <th style="min-width:100px;" class="text-right">@Localizer["Uom"]</th>
        </tr>
    </table>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-md-12">
        <table>
            <tr>
                <th>@Localizer["Total Qty"]</th>
                <td>:</td>
                <td id="totalqty"></td>
            </tr>
        </table>
    </div>
</div>
<i class="fa fa-arrows-circle-down"></i>
<script src="~/pos/scripts/krms/numeral.min.js"></script>
<script>
    var db = new Warehouse();
    $(document).ready(function () {
          $('#list_topsale').append('<tr><td class="text-center" colspan="7">@Localizer["No Data"]</td></tr>');
        $("#totalqty").text("0.00");
        //Get branch
        $.ajax({
            url: "/Report/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = '';
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#bybranch").append(data);
            }
        });
    });
    
    $("#filter").on('click', function () {
        var datefrom = $("#datefrom").val();
        var dateto = $("#dateto").val();
        var branch = $("#bybranch").val();
        let listSummary = $.ajax({
            url: "/Report/GetTopSaleQuantity",
            type: "Get",
            dataType: "Json",
            async: false,
            data: { DateFrom: datefrom, DateTo: dateto, BranchID: branch },
            success: function (respones) {

            }
        }).responseJSON;
        db.table("tb_summary").clear();
        if (listSummary.length !== 0) {
            $("#list_topsale tr:not(:first-child)").remove();
            db.insert("tb_summary", listSummary, "ID");
        }
        else {
            $("#list_topsale tr:not(:first-child)").remove();
            $('#list_topsale').append('<tr><td class="text-center" colspan="7">@Localizer["No Data"]</td></tr>');
        }
        var subqty = 0;
        if (db.from("tb_summary") !== 0) {
            db.from("tb_summary").where(function (item) {
                subqty += parseFloat(item.Qty);
                GetDataBindTable(item);
            });
        }
        $(".tabelshow").addClass("fa-plus-circle");
        $("#totalqty").text(subqty);
    });
    function GetDataBindTable(item) {
        var data = '';
        data +=
        '<tr style="border-bottom:3px solid #e0e0d1;">' +
            '<td>' + '<i class="fa  tabelshow" style="color:#008000;" data-id='+item.ID+'></i>' +'<input hidden type="checkbox" class="check_box" checked/>'+ '</td>' +
            '<td hidden id="order_id">' + item.ID + '</td>' +
            '<td>' + item.Code + '</td>' +
            '<td>' + item.KhmerName + '</td>' +
            '<td >' + item.EnglishName + '</td>' +
            '<td>' + item.DateOut + '</td>' +
            '<td>' + item.TimeOut + '</td>' +
            '<td>' + item.Qty + '</td>' +
            '<td class="text-right">' + item.Uom + '</td>' +
            '<td hidden>' + item.Branch + '</td>' +
            '<td hidden>' + item.ItemID + '</td>' +
            '<td hidden>' + item.UomID + '</td>' +
         '</tr>' +
         '<tr class="nestedtable hidden">' +
                '<td colspan="8">' +
                    '<table id='+item.ID+' class="table-hover list_detail">'+

                    '</table>' +
           '</td>' +
        '<tr>' ;
        $("#list_topsale").append(data);
    }
    $("#list_topsale").on('click', '.tabelshow', function () {
        var qtyid = $(this).data("id");
        var datefrom = $("#datefrom").val();
        var dateto = $("#dateto").val();
        var branch = $("#bybranch").val();
        var cut = $(this).closest('tr');
        var totalqty = cut.find('td:eq(7)').text();
        var itemid = cut.find('td:eq(10)').text();
        var uomid = cut.find('td:eq(11)').text();
        if ($(this).parent().find(".check_box").is(':checked')) {
            $(this).parent().find(".check_box").prop('checked',false);
            $(this).parent().parent().next().toggleClass("hidden");
            $(this).removeClass("fa-plus-circle");
            $(this).addClass("fa-minus-circle");
            $(this).css("color", "red");
            $.ajax({
                    url: "/Report/GetDetailTopSaleQty",
                    type: "Get",
                    dataType: "Json",
                    data: { ItemID:parseInt(itemid),UomID:parseInt(uomid),DateFrom:datefrom,DateTo:dateto,BranchID:branch },
                    success: function (e) {
                        let data = '<tr class="styletr">'+
                                '<td class="text-center">@Localizer["Date Out"]</td>' +
                                '<td class="text-center">@Localizer["Time Out"]</td>' +
                               '<td class="text-center">@Localizer["Qty"]</td>' +
                                '<td class="text-right">@Localizer["Uom"]</td>' +
                                '</tr>';
                        $.each(e, function (i, item) {
                            data +=
                                '<tr>' +
                                '<td class="text-center">' + item.DateOut + '</td>' +
                                '<td class="text-center">' + item.TimeOut + '</td>' +
                                '<td class="text-center">' + item.Qty + '</td>' +
                                '<td class="text-right">' + item.Uom + '</td>' +
                                '</tr>';
                        });
                        data += '<tr>' + '<td></td>' + '<td class="text-center" style="font-weight:800;">@Localizer["Sub Qty"]</td>' + '<td class="text-center" style="font-weight:800;"> '+totalqty+'<td>' + '</tr>';
                        $('#' + qtyid).html(data);
                    }
            }).responseJSON;
        }
        else {

            $(this).parent().find(".check_box").prop('checked', true);
            $(this).parent().parent().next().toggleClass("hidden");
            $(this).removeClass("fa-minus-circle");
            $(this).addClass("fa-plus-circle");
            $(this).css("color", "#008000");
        }
    });

    function fnExcelReport() {
        //$("td:hidden").remove();
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('list_topsale'); // id of table
        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
        }
        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>   