﻿@model GroupTable
<style>
    .fa {
        margin-right: 4px;
    }

    .stylebutton {
        margin-top:5px;
    }
</style>
<style>
    .StyleImge {
        height: 150px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 150px;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 50px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }

    #imagestyle {
        border-radius: 50px;
        margin-left: 45px;
        margin-top: 10px;
        box-shadow: 0px 0px 4px;
        color: blue;
    }
    .form-group{
        padding:0px;
        margin:0px;
    }
</style>
<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="ID"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Type"] :</label>
                <select asp-for="Types" class="form-control">
                    <option value="0" selected disabled> --- Select ---</option>
                    <option value="Normal">Normal</option>
                    <option value="Time">Time</option>
                </select>
                <div class="text-danger">@ViewBag.required</div>
                <span asp-validation-for="Types" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <img src="~/Images/@Model.Image" id="logo" class="StyleImge" />
                </div>
                <div class="btn btn-sm btn-file" id="imagestyle">
                    @Localizer["Browse"] <input type="file" asp-for="Image" name="Image" id="txtlogo" onchange="show(this)" value="" accept=".ico, .png, .jpg, .jpeg, .gif" style="margin-top:10px;">
                    <input type="text" asp-for="Image" name="Image" hidden />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row pull-left">
        <div class="col-md-12 stylebutton">
            <button class="btn btn-success btn-xs" type="submit"><i class="fa fa-save"></i>@Localizer["Save"]</button>
            <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
        </div>
    </div>
</form>

<script>
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();

            filerdr.onload = function (e) {
                $('#logo').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
            $("#LogoCopy").val("");
        }
    }
</script>