﻿@model Pagination<Employee>

@{
    ViewData["Title"] = "Index";
}
<style>
    .fa-edit {
        color: #459025;
    }

    .fa-trash {
        color: #ff0000;
        cursor:pointer;
    }
    #Styleimge {
        height: 40px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 40px;
    }

    h3 {
        margin: 10px 5px;
        color:white;
        font-family:Arial;
        font-size:15px;
    }

    .stylerow {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .fa-search{
        color:blue;
    }
    .fa-sort-amount-down{
        margin-left:10px;
        font-size:10px;
    }
    .fa-edit {
        color: #00cc00;
    }
    .modal-header{
        background-color:blue;
    }
    .fa-question{
        color:white;
        font-size:12px;
        margin-right:10px;
    }
    h5{
        margin:10px 5px;
    }
    .list{
        margin-bottom:15px;
    }
    a{
        color:white;
    }
    a:hover {
        color: white;
    }
     .content_select{
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
 }
 .content_select:focus{
      box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
      padding: 3px 3px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgb(120, 172, 245);
      border-radius: 3px;
      font-family: Arial;
      font-size: 13px;
 }
</style>

<a asp-action="Create" class="btn  btn-sm" style="margin-top:10px; background-color:#00bfff;color:white;"><i class="fa fa-plus-circle" style="margin-right:3px;"></i> @Localizer["Create"]</a>
<form asp-action="Index" method="get" id="form-id">
    <div class="row stylerow">
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <h5>@Localizer["ShowItem"] :</h5>
                <div class="input-group-append">
                    <select class="content_select" id="selectpage" name="minpage">
                        <option selected="@ViewBag.sizepage1">5</option>
                        <option selected="@ViewBag.sizepage2">10</option>
                        <option selected="@ViewBag.sizepage3">15</option>
                        <option selected="@ViewBag.sizepage4">20</option>
                        <option selected="@ViewBag.sizepage5">All</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <input class="form-control btn-sm" type="text" name="SearchString" autocomplete="off" value="@ViewData["currentFilter"]" placeholder="@Localizer["Search"]" id="txtseaerch" />
                <div class="input-group-append">
                    <button class="btn btn-sm btnsearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="wrap-table list">
    <table>
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CodeSortParm"]">@Localizer["Code"] <i class="fa fa-sort-amount-down"></i></a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Localizer["Name"] <i class="fa fa-sort-amount-down"></i></a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSortParm"]">@Localizer["Gender"] <i class="fa fa-sort-amount-down"></i></a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BirthdateSortParm"]">@Localizer["Birthdate"] <i class="fa fa-sort-amount-down"></i></a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["HiredateSortParm"]">@Localizer["Hiredate"]<i class="fa fa-sort-amount-down"></i></a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["HiredateSortParm"]">@Localizer["Position"]<i class="fa fa-sort-amount-down"></i></a>
                </th>
                <th>
                    @Localizer["Phone"]
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]">@Localizer["Email"] <i class="fa fa-sort-amount-down"></i></a>
                </th>*@
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AddressSortParm"]">@Localizer["Address"] <i class="fa fa-sort-amount-down"></i></a>
                </th>*@
                <th hidden>
                    User Account
                </th>
                <th hidden>
                    Stop Work
                </th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody class="myTable">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="9" class="text-center">@Localizer["NoData"]</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @DateTime.Parse(item.Birthdate).ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @DateTime.Parse(item.Hiredate).ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>*@
                    @*<td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>*@
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.IsUser)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Stopwork)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.ID"><i class="fa fa-edit "></i></a> .
                        <a><i class="fa fa-trash" data-toggle="modal" data-target="#exampleModal"></i></a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLabel"><i class="fa fa-question"></i>​​@Localizer["​​Employees"]</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @Localizer["DeleteEmployee"]
                                    </div>
                                    <div class="modal-footer">
                                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-primary">@Localizer["Yes"]</a>
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">@Localizer["No"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="m-1 p-2 form-inline">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="1"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @prevDisabled ">
                    <i class="fa fa-angle-double-left"  style="color:blue;"></i>
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @prevDisabled ">
                    <i class="fa fa-angle-left"  style="color:blue;"></i>
                </a>
            </li>

            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @nextDisabled">
                    <i class="fa fa-angle-right"  style="color:blue;"></i>
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@Model.TotalPages"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="page-link btn @nextDisabled">
                    <i class="fa fa-angle-double-right"  style="color:blue;"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
<script type="text/javascript">
    $("#selectpage").on('change', function () {

        submitForm();

    })
    $(document).ready(function () {

        $("#txtseaerch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    function submitForm() {
        document.getElementById("form-id").submit();
    }

</script>