﻿@model BusinessPartner

@{
    ViewData["Title"] = "Create";}

<style>
    .fa {
        margin-right: 4px;
    }

    .fa-plus-circle {
        color: white;
    }

    .modal-content {
        margin-top: 20px;
    }

    .modal-header {
        background-color: blue;
    }

    .form-group {
        padding: 0px;
        margin: 0px;
    }

    .btnBotton {
        margin-top: 20px;
    }

    .customer_style {
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        width: 65%;
        min-width: 65%;
    }

    .label {
        width: 30%;
        min-width: 30%;
    }

    .wrap-table.vendor_type, .table_country {
        height: 300px;
    }

    .fa-edit {
        color: green;
        cursor: pointer;
    }

    .fa-trash {
        color: red;
        cursor: pointer;
    }
</style>

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" asp-for="ID" hidden/>
            <div class="form-group">
                <span>@ViewBag.Error</span>
                <label asp-for="Code" class="control-label">@Localizer["Code"] :</label>

                <input asp-for="Code" class="form-control" autocomplete="off" id="txtcode" />
                <span class="text-danger">@ViewBag.Error</span>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceListID" class="control-label">@Localizer["PriceList"] :</label>
                <div class="input-group">
                    <select asp-for="PriceListID" class="form-control" asp-items="ViewBag.B" id="txtselectprice">
                        <option value="0"></option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-sm " type="button" data-toggle="modal" data-target="#ModalPricelist"><i class="fa fa-plus-circle" style="color:green;"></i></button>
                    </div>
                </div>
                <div class="text-danger">@ViewBag.pricelist</div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">@Localizer["Type"] :</label>
                <select asp-for="Type" class="form-control">
                    <option value="0"></option>
                    <option value="Vendor">Vendor</option>
                    <option value="Customer">Customer</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
                <div class="text-danger">@ViewBag.Errortype</div>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Vendor Type"] :</label>
                <select class="form-control" asp-items="ViewBag.Type" asp-for="VendorType" id="vendor_type">
                    <option value="0"></option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Phone" class="control-label">@Localizer["Phone 1"] :</label>
                <input asp-for="Phone" class="form-control" autocomplete="off" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone2" class="control-label">@Localizer["Phone 2"] :</label>
                <input asp-for="Phone2" class="form-control" autocomplete="off" />
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Country"] :</label>
                <select class="form-control" asp-items="ViewBag.Country" id="country" asp-for="Country">
                    <option value="0"></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">@Localizer["Email"] :</label>
                <input asp-for="Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">@Localizer["Address"] :</label>
                <textarea asp-for="Address" class="form-control" style="height:40px;"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 pull-left btnBotton">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                <a asp-action="Index" class="btn btn-danger btn-xs"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="ModalPricelist" style="margin-top:25px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px;">
                <h4 style="color:white;">@Localizer["PriceList"]</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">@Localizer["PriceListName"] :</label>
                            <input type="text" class="col-sm-9 form-control" id="txtpricelist" />
                        </div>
                        <br />
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">@Localizer["Currency"] :</label>
                            <select type="text" class="col-sm-9 form-control" id="txtcurrency">
                                <option value="0" selected disabled>--- Select ---</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-xs btn-success" onclick="clickinsertpricelist()">@Localizer["Add"]</button>
                <button class="btn btn-xs btn-danger" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalVendorType" style="margin-top:25px;">
    <div class="modal-md modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px;">
                <h5><b style="color:white;">@Localizer["Vendor Type -Setup"]</b></h5>
            </div>
            <div class="modal-body">
                <input type="text" id="type_id" hidden />
                <label class="label">@Localizer["Type Name"]</label>
                <input type="text" id="type_name" class="customer_style" />
                <div class="text-danger" id="request_type"></div>
                <div class="wrap-table list vendor_type" style="margin-top:15px;">
                    <table>
                        <tr>
                            <th>@Localizer["Type Name"]</th>
                            <th style="width:20px;">@Localizer["Action"]</th>
                        </tr>
                        <tbody id="list_type"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-xs btn-success" id="type_add">@Localizer["Add"]</button>
                <button class="btn btn-xs btn-danger" id="type_cancel" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalCountry" style="margin-top:25px;">
    <div class="modal-md modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px;">
                <h5><b style="color:white;">@Localizer["Country -Setup"]</b></h5>
            </div>
            <div class="modal-body">
                <input type="text" id="country_id" hidden />
                <label class="label">@Localizer["Country Name"]</label>
                <input type="text" id="country_name" class="customer_style" />
                <div class="text-danger" id="request_country"></div>
                <div class="wrap-table list table_country" style="margin-top:15px;">
                    <table>
                        <tr>
                            <th>@Localizer["Country Name"]</th>
                            <th style="width:20px;">@Localizer["Action"]</th>
                        </tr>
                        <tbody id="list_country"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-xs btn-success" id="country_add">@Localizer["Add"]</button>
                <button class="btn btn-xs btn-danger" id="country_cancel" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Currency/GetCurrency",
            type: "GET",
            dataType: "JSON",
            success: function (respones) {
                var data = "";

                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Symbol + '</option>';
                });
                $("#txtcurrency").append(data);
            }
        });
        $("#vendor_type").append("<option value='-1'>Defined New</option>");
        $("#country").append("<option value='-1'>Defined New</option>");
    });
    $(".modal-header").on("mousedown", function (mousedownEvt) {
        var $draggable = $(this);
        var x = mousedownEvt.pageX - $draggable.offset().left,
            y = mousedownEvt.pageY - $draggable.offset().top;
        $("body").on("mousemove.draggable", function (mousemoveEvt) {
            $draggable.closest(".modal-dialog").offset({
                "left": mousemoveEvt.pageX - x,
                "top": mousemoveEvt.pageY - y
            });
        });
        $("body").one("mouseup", function () {
            $("body").off("mousemove.draggable");
        });
        $draggable.closest(".modal").one("bs.modal.hide", function () {
            $("body").off("mousemove.draggable");
        });
    });
    function clickinsertpricelist() {

        var name = $("#txtpricelist").val();
        var cur = $("#txtcurrency").val();

        var count = 0;
        if (name == 0) {
            count++;
            $("#txtpricelist").css("border-color", "red");

        } else {
            $("#txtpricelist").css("border-color", "lightgrey");
            count = 0;
        }
        if (cur == 0) {
            count++;
            $("#txtcurrency").css("border-color", "red");
        }
        else {
            $("#txtcurrency").css("border-color", "lightgrey");
        }
        if (count > 0) {
            count = 0;
            return;
        }
        var data = {
            Name: name,
            CurrencyID: cur
        }
        $.ajax({
            url: "/PriceList/InsertPricelist",
            type: "POST",
            dataType: "JSON",
            data: { priceList: data },
            complete: function (respones) {
                $("#txtpricelist").val("");
                $("#txtcurrency").val("");
                $.ajax({
                    url: "/PriceList/GetselectPricelist",
                    type: "Get",
                    dataType: "JSON",
                    success: function (respones) {
                        var sata = "";
                        $.each(respones, function (i, item) {
                            sata +=
                                '<option value="' + item.ID + '">' + item.Name + '</option>';
                        });
                        $("#txtselectprice").html(sata);
                    }
                })
            }
        });
    }
     // Get data vendor type
    function GetDataVendorType() {
        $.ajax({
            url: "/BusinessPartner/GetVendorType",
            type: "Get",
            dataType: "Json",
            success: function (response) {
                    var data = '';
                    var selete = '';
                    $("#list_type tr").remove();
                    $("#vendor_type option:not(:first-child)").remove();

                    if (response.length == 0) {
                        data += '<tr>' + '<td colspan="2" class="text-center">@Localizer["No Data"]</td>' + '</tr>';
                    } else {
                        $.each(response, function (i, item) {
                            data +=
                                '<tr>' +
                                '<td hidden>' + item.ID + '</td>' +
                                '<td>' + item.Type + '</td>' +
                                '<td>' + '<i class="fa fa-edit edit_type"></i> . <i class="fa fa-trash delete_type"></i>' + '</td>' +
                                '</tr>';
                            selete +=
                                '<option value="' + item.ID + '">' + item.Type + '</option>';

                        });
                    }
                    $("#vendor_type").append(selete);
                    $("#list_type").append(data);
                    $("#vendor_type").append("<option value='-1'>Defined New</option>");
            }
        });
    }
     // Get data country
    function GetDataCountry() {
        $.ajax({
            url: "/BusinessPartner/GetCountry",
            type: "Get",
            dataType: "Json",
            success: function (response) {
                    var data = '';
                    var selete = '';
                    $("#list_country tr").remove();
                    $("#country option:not(:first-child)").remove();

                if (response.length == 0) {
                        data += '<tr>' + '<td colspan="2" class="text-center">@Localizer["No Data"]</td>' + '</tr>';
                    } else {
                    $.each(response, function (i, item) {
                            data +=
                                '<tr>' +
                                '<td hidden>' + item.ID + '</td>' +
                                '<td>' + item.Name + '</td>' +
                                '<td>' + '<i class="fa fa-edit edit_country"></i> . <i class="fa fa-trash delete_country"></i>' + '</td>' +
                                '</tr>';
                            selete +=
                                '<option value="' + item.ID + '">' + item.Name + '</option>';

                        });
                    }
                    $("#country").append(selete);
                    $("#list_country").append(data);
                    $("#country").append("<option value='-1'>Defined New</option>");
            }
        })
    }
    //select type
    var _select_type = 1;
    $("#vendor_type").on('change', function () {
        if (this.value != -1) {
            _select_type = $(this).find("option:selected").val();
        } else {
            this.value = _select_type;
            $("#ModalVendorType").modal("show");
            GetDataVendorType();
        }
    });
    //select country
    var _select_country = 1;
    $("#country").on('change', function () {
        if (this.value != -1) {
            _select_country = $(this).find("option:selected").val();
        } else {
            this.value = _select_country;
            $("#ModalCountry").modal("show");
            GetDataCountry();
        }
    });
    //Insert vendor type
    $("#type_add").on('click', function () {
        var typeid = $("#type_id").val();
        var typename = $("#type_name").val();

        if (typename == '' || typename == 0 || typename == null) {
            $("#type_name").css('border-color', 'red');
            $("#request_type").text('Type name  is required !');
            return;
        } else {
            $("#type_name").css('border-color', 'lightgrey');
            $("#request_type").text('');
        }
        var data = {
            ID: typeid,
            Type: typename
        }
        $.ajax({
            url: "/BusinessPartner/SaveVendorType",
            type: "Post",
            dataType: "Json",
            data: {type:data},
            success: function (respones) {

            },
            error: function (e) {
                GetDataVendorType();
                $("#type_id").val(0);
                $("#type_add").html("@Localizer["Add"]");
                $("#type_name").val('');
            }
        });
    });
     //Insert Country
    $("#country_add").on('click', function () {
        var id = $("#country_id").val();
        var name = $("#country_name").val();

        if (name == '' || name == 0 || name == null) {
            $("#country_name").css('border-color', 'red');
            $("#request_country").text('Country name  is required !');
            return;
        } else {
            $("#country_name").css('border-color', 'lightgrey');
            $("#request_country").text('');
        }
        var data = {
            ID: id,
            Name: name
        }
        $.ajax({
            url: "/BusinessPartner/SaveCountry",
            type: "Post",
            dataType: "Json",
            data: {country:data},
            success: function (respones) {

            },
            error: function (e) {
                GetDataCountry();
                $("#country_id").val(0);
                $("#country_add").html("@Localizer["Add"]");
                $("#country_name").val('');
            }
        });
    });
    // cancel type
    $("#type_cancel").on('click', function () {

        $("#type_name").css('border-color', 'lightgrey');
        $("#request_type").text('');
        $("#type_id").val(0);
        $("#type_name").val('');
    });
    // cancel country
    $("#country_cancel").on('click', function () {

        $("#type_name").css('border-color', 'lightgrey');
        $("#request_country").text('');
        $("#country_id").val(0);
        $("#country_name").val('');
    });
    // edit type
    $("#list_type").on('click', '.edit_type', function () {
        $("#type_add").html("@Localizer["Update"]");
        var cut = $(this).closest('tr');
        var typeid = cut.find('td:eq(0)').text();
        var typename = cut.find('td:eq(1)').text();

        document.getElementById("type_id").value = typeid;
        document.getElementById("type_name").value = typename;
    });
    // edit country
    $("#list_country").on('click', '.edit_country', function () {
        $("#country_add").html("@Localizer["Update"]");
        var cut = $(this).closest('tr');
        var id = cut.find('td:eq(0)').text();
        var name = cut.find('td:eq(1)').text();

        document.getElementById("country_id").value = id;
        document.getElementById("country_name").value = name;
    });
    //delete type
    $("#list_type").on('click', '.delete_type', function () {
        var cut = $(this).closest('tr');
        var typeid = cut.find('td:eq(0)').text();

        $.ajax({
            url: "/BusinessPartner/DeleteVendorType",
            type: "Post",
            dataType: "Json",
            data: { ID: typeid },
            success: function (respones) {

            },
            error: function (e) {
                GetDataVendorType();
            }
        });
    });
    //delete country
    $("#list_country").on('click', '.delete_country', function () {
        var cut = $(this).closest('tr');
        var id = cut.find('td:eq(0)').text();

        $.ajax({
            url: "/BusinessPartner/DeleteCountry",
            type: "Post",
            dataType: "Json",
            data: { ID: id },
            success: function (respones) {

            },
            error: function (e) {
                GetDataCountry();
            }
        });
    });
</script>


