﻿<script src="~/js/table.js" defer></script>
<script src="~/js/warehouse.js"></script>
<link href="~/css/Modal.css" rel="stylesheet" />
<style>
    fieldset.scheduler-border {
        border: 2px groove #e6ffe6;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 10px 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #00cc00;
    }

    fieldset.scheduler-borders {
        border: 2px groove #e6ffe6;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 10px 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #00cc00;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
    }

    .content_warehouse,.content_branch,.content_time, .content_userrequest,.content_exchange, .content_remark, .content_reff_no, .content_user, .content_localcurrency, .content_ap, .content_postingdate, .content_documentdate {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 60%;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .content_warehouse:focus,.content_time:focus,.content_branch:focus,.content_userrequest:focus,.content_remark:focus, .content_exchange:focus, .content_reff_no:focus, .content_user:focus, .content_localcurrency:focus, .content_ap:focus, .content_postingdate:focus, .content_documentdate:focus {
            border: 1px solid rgba(77, 142, 245,1);
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border-radius: 3px;
            font-family: Arial;
            font-size: 13px;
     }

    .label_warehouse,.label_branch,.label_time,.label_userrequest, .label_exchange, .label_remark, .label_reff_no, .label_user, .label_ap, .label_postingdate, .label_documentdate {
        min-width: 30%;
        width: 30%;
    }

    .btn_Find {
        top: 0px;
    }

    .content_icon {
        position: relative;
    }

    .content_documentdate, .content_postingdate, .content_delivery {
        position: relative;
    }

    .facalendar {
        position: absolute;
        right: 40px;
        top: 14px;
        color: #1bb1f2;
    }

    .content_barcode {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 32px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .btn_add {
        height: 32px;
        margin-top: 5px;
        margin-left: 3px;
    }

    .content_search {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        height: 32px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        width: 100%;
    }

    .content_search {
        position: relative;
    }

    .icon_search {
        position: absolute;
        bottom: 11px;
        right: 20px;
    }

    .btnsearch {
        margin-bottom: 7px;
    }

    .modal-header {
        background-color: #4d84f6;
    }

    #ui-datepicker-div {
        width: 230px;
    }

    .btn_Cancel, .btn_ADD {
        margin-top: 20px;
    }


    .content_subtotal:focus,.expiredate:focus, .alertstock:focus, .content_discount_cash:focus, .content_discount_percent:focus, .content_vat:focus, .content_additional_node:focus, .content_downpayment:focus, .content_applied_amount:focus, .content_additional_expense:focus, .content_return_amount:focus, .content_balance_du:focus, .content_copy:focus {
        border: 1px solid rgba(77, 142, 245,1);
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 13px;
    }

    .label_additional_expense, .label_additional_node, .label_applied_amount, .label_balance_due, .label_downpayment, .label_return_amount, .label_subtotal, .label_discount, .label_vat, .label_copy {
        width: 35%;
        min-width: 35%;
    }

    .content_subtotal, .content_additional_expense, .content_applied_amount, .content_balance_du, .content_downpayment, .content_select_discount, .content_return_amount {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 48%;
        height: 25px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .content_discount {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 42%;
        height: 25px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .expiredate, .alertstock {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 100%;
        height: 30px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .content_select_discount {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 12%;
        height: 25px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .content_additional_node, .content_copy {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 55%;
        height: 25px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .content_vat {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        width: 52%;
        height: 25px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .content_discount {
        position: relative;
    }

    .label_discount {
        min-width: 35%;
        width: 35%;
        font-size: 5px;
    }

    .fa_retweet {
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .discount_item {
        position: relative;
    }

    .btnchoose {
        text-align: center;
        color: green;
    }

    .divQty {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .InputQty {
        margin-left: 15px;
        min-width: 80px;
        border: 1px solid rgba(213, 211, 211,1);
        width: 80px;
        border-radius: 3px;
    }

    .InputDiscount {
        margin-left: 15px;
        min-width: 80px;
        border: 1px solid rgba(213, 211, 211,1);
        width: 80px;
        border-radius: 3px;
    }

    .divDiscount {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .InputPurchasePrice {
        margin-left: 15px;
        min-width: 80px;
        border: 1px solid rgba(213, 211, 211,1);
        width: 80px;
        border-radius: 3px;
    }

    .divPurchase {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 80px;
    }

    .Sub_total {
        margin-left: 10px;
        min-width: 80px;
        width: 80px;
    }

    .divQT_total {
        min-width: 120px;
    }

    .select_Uom, .searchAP {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 0px 3px 3px;
        margin: 3px 1px 3px 0px;
        border: 1px solid #DDDDDD;
        min-width: 100%;
        height: 25px;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
    }

    .icon_discount_percent, .discount_cash {
        font-size: 10px;
    }

    #addfontawesome {
        margin-left: 10px;
        font-size: 10px;
    }

    .style_curr {
        font-size: 12px;
    }

    .Error_mesage {
        margin: 10px;
        padding-bottom: 5px;
        padding-top: 0px;
        min-width: 97%;
        max-height: 20px;
        line-height: 20px;
        border-radius: 2px;
    }

    .rquried_pric {
        color: white;
        font-size: 12px;
        line-height: 20px;
    }

    .list {
        margin-bottom: 15px;
    }

    .dialog-box .footer {
        padding: 0;
    }

    .dialog-box .content {
        font-size: 20px;
        text-align: center;
    }

    .chooseOrder {
        margin-left: 40px;
        font-size: 17px;
    }

    .chooseQuatation {
        margin-left: 40px;
        font-size: 17px;
    }

    .content_searchAP {
        float: right;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .searchAP {
        position: relative;
    }

    .Apicon {
        position: absolute;
        right: 21px;
        top: 25px;
    }

    #table_width {
        height: 350px;
        overflow-y: auto;
    }
</style>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">@Localizer["Transfer"]</legend>
    <div class="row">
        <div class="col-md-4">
            <label class="label_warehouse">@Localizer["FromWarehouse"]</label>
            <select class="content_warehouse" id="txtwarehouse_from">
                <option value="0" selected disabled>--- select ---</option>
            </select>
            <label class="label_branch">@Localizer["Branch"]</label>
            <select class="content_branch" id="txtbranch">
                <option value="0" selected disabled>--- select ---</option>
            </select>
            <label class="label_warehouse">@Localizer["ToWarehouse"]</label>
            <select class="content_warehouse" id="txtwarehouse_to">
                <option value="0" selected disabled>--- select ---</option>
            </select>

            <label class="label_user">@Localizer["User"]</label>
            <input class="content_user" type="text" value="@User.FindFirst("FullName").Value" id="txtUser" readonly />
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <label class="label_reff_no">@Localizer["NumberNº"]</label>
            <input class="content_reff_no" type="text" id="txtnumber" autocomplete="off" />
            <div class="content_icon">
                <label class="label_postingdate">@Localizer["PostingDate"]</label>
                <input class="content_postingdate" type="date" id="txtPostingdate" autocomplete="off" />
            </div>
            <div class="content_icon">
                <label class="label_documentdate">@Localizer["DocumentDate"]</label>
                <input class="content_documentdate" type="date" id="txtDocumentDate" autocomplete="off" />

            </div>
           <label class="label_time">@Localizer["Time"]</label>
           <input class="content_time" type="time" id="txttime" autocomplete="off" />
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" placeholder="@Localizer["Bracodesearch"]" id="txtbarcode" class="form-control content_barcode" />
            <div class="input-group-append">
                <button class="btn btn-sm btn-primary btn_add" onclick="showItemMasters()" data-toggle="modal" data-target="#ModalAdd">@Localizer["Add"]</button>
            </div>
        </div>
        <div class="rquried_item text-danger"></div>
        <div class="item_not_difine text-danger"></div>
    </div>
</div>
<fieldset class="scheduler-borders">
    <legend class="scheduler-border">@Localizer["TransferDetail"]</legend>
    <div class="wrap-table list">
        <table id="list-items">
            <thead>
                <tr>
                    <th class="boldth">@Localizer["Code"]</th>
                    <th class="boldth">@Localizer["Name(KH)"]</th>
                    <th class="boldth">@Localizer["Name(EN)"]</th>
                    <th class="boldth">@Localizer["Quantity"]</th>
                    <th class="boldth">@Localizer["Cost"]</th>
                    <th class="boldth">@Localizer["UoM"]</th>
                    <th class="boldth">@Localizer["ExpireDate"]</th>
                    <th class="boldth text-center">@Localizer["Barcode"]</th>
                    <th class="boldth">@Localizer["Action"]</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<div class="modal fade" role="dialog" id="ModalAdd">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-plus-circle" aria-hidden="true" style="color:white;"><b style="margin-left:5px;">@Localizer["ItemMasterData"]</b></i>
            </div>
            <div class="modal-body">
                <div class="row btnsearch">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <input type="text" class="content_search" id="txtSearch" placeholder="@Localizer["Search"]" />
                        <i class="fa fa-search icon_search" style="color:blue;"></i>
                    </div>
                </div>
                <div class="wrap-table list">
                    <table id="item-master">
                        <thead>
                            <tr>
                                <th class="boldth">@Localizer["Code"]</th>
                                <th class="boldth">@Localizer["KhmerName"]</th>
                                <th class="boldth">@Localizer["EnglishName"]</th>
                                <th class="boldth">@Localizer["InStock"]</th>
                                <th class="boldth">@Localizer["Cost"]</th>
                                <th class="boldth">@Localizer["Currency"]</th>
                                <th class="boldth">@Localizer["UoM"]</th>
                                <th class="boldth">@Localizer["Barcode"]</th>
                                <th class="boldth">@Localizer["ExpireDate"]</th>
                                <th class="boldth">@Localizer["Choose"]</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label class="label_userrequest">@Localizer["Userrequest"]</label>
        <input type="text" id="txtuserrequest" class="content_userrequest" readonly value="@User.FindFirst("FullName").Value"/>
        <div>
            <label class="label_remark">@Localizer["Remark"]</label>
            <textarea id="txtRemark" class="content_remark"></textarea>
        </div>
        <button class="btn btn-sm btn-success btn_ADD" onclick="SaveData()">@Localizer["Add"]</button>
        <button class="btn btn-sm btn-danger btn_Cancel" onclick="cancelpurchase()">@Localizer["Cancel"]</button><br />
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-8 Error_mesage">
        <i class="fa" id="iconError" style="color:white;margin-right:15px;"></i><span style="color:white;">Error :</span> <span class="rquried_pric"> </span>
    </div>
</div>

<div class="modal fade" id="ModalError">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-exclamation-circle" style="color:white;"><b>@Localizer["Overstock"]</b></i>
            </div>
            <div class="modal-body">
                <div class="wrap-table list">
                    <table id="item-manage">
                        <thead>
                            <tr>
                                <th>@Localizer["Code"]</th>
                                <th>@Localizer["KhmerName"]</th>
                                <th>@Localizer["EnglishName"]</th>
                                <th>@Localizer["Instock"]</th>
                                <th>@Localizer["Cost"]</th>
                                <th>@Localizer["UoM"]</th>
                                <th>@Localizer["ExpireDate"]</th>
                                <th>@Localizer["Description"]</th>
                            </tr>
                        </thead>
                        <tbody class="list_not_transaction"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalFindBarcode">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="padding:5px; color:white;">
                <i>@Localizer["Choose Uom"]</i>
            </div>
            <div class="modal-body">
                <div class="wrap-table list">
                    <table id="list_findbarcode">
                        <tr>
                            <th class="boldth">@Localizer["Code"]</th>
                            <th class="boldth">@Localizer["KhmerName"]</th>
                            <th class="boldth">@Localizer["EnglishName"]</th>
                            <th class="boldth">@Localizer["UoM"]</th>
                            <th class="boldth">@Localizer["Choose"]</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-sm btn-danger" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<input type="text" id="PurchaseAPID" hidden />
<script src="~/js/moment.min.js"></script>
<script>
    var db = new Warehouse();
    $(document).ready(function () {
        var d = new Date();
        document.getElementById("txtPostingdate").valueAsDate = d;
        document.getElementById("txtDocumentDate").valueAsDate = d;
        var time = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
        $("#txttime").val(time);
        // search master
        $("#txtSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#item-master tr:not(:first-child)").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        //Get Invoice
        $.ajax({
            url: "/Transfer/GetInvoicenomber",
            type: "Get",
            dataType: "text",
            success: function (response) {
                $("#txtnumber").val(response);
                $("#txtnumber").attr("readonly", "readonly");
            }
        });
        //GetWarehouse from
        $.ajax({
            url: "/Transfer/GetWarehousesFrom",
            type: "Get",
            dataType: "Json",
            data: { BranchID: @User.FindFirst("BranchID").Value },
            success: function (response) {
                var data = "";
                $.each(response, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#txtwarehouse_from").append(data).on("change", changeWarehouseFrom);
            }
        });
        //GetWarehouse To
        $.ajax({
            url: "/Transfer/GetWarehousesTo",
            type: "Get",
            dataType: "Json",
            data: { BranchID: @User.FindFirst("BranchID").Value },
            success: function (response) {
                var sata = "";
                $.each(response, function (i, item) {
                    sata +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#txtwarehouse_to").append(sata).on("change", changeWarehouseTo);
            }
        });
        // Get branch
        $.ajax({
            url: "/Transfer/GetBranch",
            type: "Get",
            dataType: "Json",
            success: function (e) {
                var data = "";
                $.each(e, function (i, item) {
                    if (item.ID ==@User.FindFirst("BranchID").Value) {
                        data +=
                            '<option selected value="' + item.ID + '">' + item.Name + '</option>';
                    }
                    else {
                        data +=
                            '<option value="' + item.ID + '">' + item.Name + '</option>';
                    }
                });
                $("#txtbranch").append(data).on("change",filterBranch);
            }
        })
    });
    //Filter warehouse from
    var item_masters = [];
    function changeWarehouseFrom(e) {
        let id = $(this).find("option:selected").val();
        item_masters = $.ajax({
            url: "/Transfer/GetItemByWarehouseFrom",
            type: "GET",
            async: false,
            dataType: "JSON",
            data: { warehouesId: id }        
        }).responseJSON;
        db.table("tb_item_master").clear();
        $.each(item_masters, function (i, value) {
            var item = {};
            item.TransferID = 0;
            item.TarnsferDetailID = 0;
            item.ItemID = value.ItemID;
            item.CurrencyID = value.CurrencyID;
            item.LineID = value.LineID;
            item.Code = value.Code;
            item.KhmerName = value.KhmerName;
            item.EnglishName = value.EnglishName;
            item.Qty = value.Qty;
            item.Cost = value.Cost;
            item.Currency = value.Currency;
            item.UomName = value.UomName;
            item.UomID = value.UomID;
            item.Barcode = value.Barcode;
            item.ExpireDate = value.ExpireDate;
            item.check = false;
            db.insert("tb_item_master", item, "LineID");
        });
        if (db.from("tb_choosed") != 0) {
            db.table("tb_choosed").clear();
            $("#list-items tr td").remove();
        }
       

    }
    // filter branch
    function filterBranch() {
        var branchId = $("#txtbranch").val();
        $.ajax({
            url: "/Transfer/GetWarehouse_By_filterBranch",
            type: "GET",
            dataType: "JSON",
            data: { BranchID: branchId },
            success: function (e) {
                var data = "";
                $("#txtwarehouse_to option").remove();
                $.each(e, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">'+item.Name+'</option>';
                });
                $("#txtwarehouse_to").append(data);
            }
        })
    }
    // filter warehouse to
    function changeWarehouseTo() {

    }
    //Show item master by warehouse
    function showItemMasters() {
        if (db.from("tb_item_master") != 0) {
            db.from("tb_item_master").where(function (item) {
                item.ExpireDate = item.ExpireDate.slice(0, 10);
            });
            $.bindRows("#item-master", db.from("tb_item_master").where(w => { return w.check == false; }), "LineID", {
                hidden_columns: ["ItemID", "TransferID", "check", "CurrencyID","Check", "UomID", "Currencys", "TarnsferDetailID", "LineID", "ItemMasterData", "UnitofMeasure"],
                html: [
                    {
                        column: -1,
                        element: '<div class="btnchoose"><i class="fa fa-arrow-alt-circle-down"></i></div>',
                        listener: ["click", function (e) {
                            showItemMaster($(this).parent().parent().data("lineid"))
                            $(this).parent().parent().remove();
                        }]
                    }
                ]
            });
        }
       
    }
    function showItemMaster(ID) {
        var choosed_item = db.from("tb_item_master").first(function (json) {
            return json.LineID == ID;
        });
        choosed_item.check = true;
        let item = {};
        item.TransferID = 0;
        item.TarnsferDetailID =0;
        item.ItemID = choosed_item.ItemID;
        item.CurrencyID = choosed_item.CurrencyID;
        item.LineID = choosed_item.LineID;
        item.Code = choosed_item.Code;
        item.KhmerName = choosed_item.KhmerName;
        item.EnglishName = choosed_item.EnglishName;
        item.Qty = 1;
        item.Cost = choosed_item.Cost;
        item.Currency = choosed_item.Currency;
        item.UomName = choosed_item.UomName;
        item.ExpireDate = choosed_item.ExpireDate;
        item.UomID = choosed_item.UomID;
        item.Barcode = choosed_item.Barcode;
        db.insert("tb_choosed", item, "LineID");
        db.insert("tb_item_master", choosed_item, "LineID");
        showDataBindTable(item);
        
    }
    function showDataBindTable(item) {

        $.updateRow("#list-items", item, "LineID", {
            hidden_columns: ["ItemID", "UomID", "CurrencyID", "Currency", "Currencys", "TransferID", "TarnsferDetailID","LineID"],
            html: [
                {
                    column: "Qty",
                    insertion: "replace",
                    element: '<div class="divQty">' + '<input name="quantity"  class="InputQty" value="' + item.Qty + '" />' + '</div>',
                    listener: ["keyup", changeQty]
                },
                {
                    column: "Cost",
                    insertion: "replace",
                    element: '<div class="divPurchase">' + '<span class="CompanyCurrency">' + item.Currency + '</span>' + '<input class="InputPurchasePrice" readonly value="' + item.Cost + '" />' + '</div>'

                },
                {
                    column: -1,
                    element: '<i class="fa fa-trash" style="color:red; text:center"></i>',
                    listener: ["click", removeData]
                },
            ]
        });
    }
    let count = 0;
    // search barcode
    $("#txtbarcode").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            var warehouseID = $("#txtwarehouse_from").val();
            var barcode = $("#txtbarcode").val();
            if (barcode != null) {
                $.ajax({
                    url: "/Transfer/FindBarcode",
                    type: 'GET',
                    dataType: "JSON",
                    data: {
                        WarehouseID: parseInt(warehouseID),
                        Barcode: barcode
                    },
                    success: function (response) {

                        if (response.length <= 0) {
                            $("#txtbarcode").val('');
                        }
                        else {
                            if (response.length == 1) {

                                let choosed_item = response[0];
                                let line_id = parseInt(response[0].LineID);
                                let item_choosed = db.table('tb_choosed').get(line_id);
                                if (item_choosed == undefined) {
                                    count = 1;

                                    db.insert("tb_choosed", response, "LineID");
                                }
                                else {
                                    count++;
                                }
                                let item = {};
                                item.TransferID = 0;
                                item.TarnsferDetailID = 0;
                                item.ItemID = choosed_item.ItemID;
                                item.CurrencyID = choosed_item.CurrencyID;
                                item.LineID = choosed_item.LineID;
                                item.Code = choosed_item.Code;
                                item.KhmerName = choosed_item.KhmerName;
                                item.EnglishName = choosed_item.EnglishName;
                                item.Qty = count;
                                item.Cost = choosed_item.Cost;
                                item.Currency = choosed_item.Currency;
                                item.UomName = choosed_item.UomName;
                                item.ExpireDate = choosed_item.ExpireDate;
                                item.UomID = choosed_item.UomID;
                                item.Barcode = choosed_item.Barcode;

                                db.table("tb_choosed").clear();
                                db.insert("tb_choosed", item, "LineID");
                                let item_master = db.get('tb_item_master').get(line_id);
                                item_master.check = true;
                                db.insert('tb_item_master', item_master, "LineID");
                                db.from("tb_choosed").where(function (json) {
                                    json.ExpireDate = json.ExpireDate.slice(0, 10);
                                });
                                db.from("tb_choosed").each(function (i, item) {
                                    showDataBindTable(item);
                                });

                            } else {

                                $.each(response, function (i, item) {
                                    let item_choosed = db.table('tb_choosed').get(item.LineID);
                                    if (item_choosed == undefined) {
                                        db.insert("tb_restored", item, "LineID");
                                    }

                                });
                                $.bindRows("#list_findbarcode", db.from("tb_restored"), "LineID", {
                                    hidden_columns: ["ItemID", "TransferID", "Check", "ExpireDate", "Currency", "Qty", "Cost", "Barcode", "check", "CurrencyID", "UomID", "Currencys", "TarnsferDetailID", "LineID", "ItemMasterData", "UnitofMeasure"],
                                    html: [
                                        {
                                            column: -1,
                                            element: '<div class="btnchoose"><i class="fa fa-arrow-alt-circle-down"></i></div>',
                                            listener: ["click", function (e) {
                                                let line_id = parseInt($(this).parent().parent().data("lineid"));
                                                showItemBarcode(line_id);
                                                $(this).parent().parent().remove();
                                                db.table('tb_restored').delete(line_id);
                                            }]
                                        }
                                    ]
                                });

                                $("#ModalFindBarcode").modal("show");
                            }
                            $("#txtbarcode").val('');
                        }
                    },
                    error: function () {

                    }
                })

            }
        }
    });
    
    function showItemBarcode(ID) {
        var choosed_item = db.from("tb_restored").first(function (json) {
            return json.LineID == ID;
        });
        choosed_item.check = true;
        let item = {};
        item.TransferID = 0;
        item.TarnsferDetailID = 0;
        item.ItemID = choosed_item.ItemID;
        item.CurrencyID = choosed_item.CurrencyID;
        item.LineID = choosed_item.LineID;
        item.Code = choosed_item.Code;
        item.KhmerName = choosed_item.KhmerName;
        item.EnglishName = choosed_item.EnglishName;
        item.Qty = 1;
        item.Cost = choosed_item.Cost;
        item.Currency = choosed_item.Currency;
        item.UomName = choosed_item.UomName;
        item.ExpireDate = choosed_item.ExpireDate;
        item.UomID = choosed_item.UomID;
        item.Barcode = choosed_item.Barcode;
        db.insert("tb_choosed", item, "LineID");
        db.insert("tb_item_master", choosed_item, "LineID");
        db.from("tb_choosed").where(function (json) {
            json.ExpireDate = json.ExpireDate.slice(0, 10);
        });
        showDataBindTable(item);
    }
    // Edit Qty in PurchaseAP Detail
    let item_chooseds = {};
    function changeQty(e) {
        let ID = 0;
        if (e.type === "keyup") {
            ID = parseInt($(this).parent().parent().data("lineid"));
            item_chooseds = db.table("tb_choosed").find(ID);
            var qty = $(this).children(".InputQty").val();
            if (qty.length == 0) {
                qty = 0;
            }
            item_chooseds.Qty = parseFloat(qty);
            db.insert("tb_choosed", item_chooseds, "LineID");
        }
    }
    function removeData() {
        var ID = $(this).parent().parent().data("lineid");
        $(this).parent().parent().remove();
        db.table("tb_choosed").delete(ID); 
        var master = db.get("tb_item_master").get(ID);
        master.check = false;
        db.insert("tb_item_master", master, "LineID");
    }
     //save data in purchase quotuion
    function SaveData() {
        var warehouse_from = $("#txtwarehouse_from").val();
        var warehouse_to = $("#txtwarehouse_to").val();
        var number = $("#txtnumber").val();
        var branch = $("#txtbranch").val();
        var posting = $("#txtPostingdate").val();
        var document = $("#txtDocumentDate").val();
        var user_request = $("#txtuserrequest").val();
        var time = $("#txttime").val();
        var remark = $("#txtRemark").val();
        if (warehouse_from == null) {
            $(".Error_mesage").css({
                borderWidth: 1,
                background: '#ff8080'
            })
            $("#iconError").addClass('fa-times');
            $(".rquried_pric").text("Please select from warehouse !");
            return;
        }
        if (warehouse_to == null) {
            $(".Error_mesage").css({
                borderWidth: 1,
                background: '#ff8080'
            })
            $("#iconError").addClass('fa-times');
            $(".rquried_pric").text("Please select to warehouse !");
            return;
        }
        if (db.from("tb_choosed") == 0) {
            $(".Error_mesage").css({
                borderWidth: 1,
                background: '#ff8080'
            })
            $("#iconError").addClass('fa-times');
            $(".rquried_pric").text("Please select item after transfer !");
            return;
        }
        var item = db.from("tb_choosed");
        var data = {
            BranchID:@User.FindFirst("BranchID").Value,
            UserID: @User.FindFirst("UserID").Value,
            UserRequestID:user_request,
            BranchToID:branch,
            WarehouseFromID: warehouse_from,
            WarehouseToID:warehouse_to,
            PostingDate: posting,
            DocumentDate: document,
            Number: number,
            Remark: remark,
            Time:time,
            TransferDetails:item
        }
        $.ajax({
            url: "/Transfer/SaveTransfer",
            type: "POST",
            dataType: "JSON",
            data: { transfer:data},
            success: function (e) {
                if (e.Check == "Hello") {
                     let msg = new DialogBox({
                        type: "ok",
                        content:"@Localizer["Can not trasfer to the same warehous !"]"
                     });
                    //msg.confirm(function (e) {
                    //    this.meta.shutdown();
                    //});
                    return;
                }
                 let msg = new DialogBox({
                        type: "ok",
                        content:"@Localizer["Over stock !"]"
                     });
                    msg.confirm(function (e) {
                        $("#ModalError").modal("show");
                });
                var data = "";
                $.each(e, function (i, item) {
                    var date = item.ExpireDate;
                    var date_Ex = date.slice(0, 10);
                    
                    let qty = db.from("tb_item_master").first(function (json) {
                        return json.LineID == item.LineID;
                    });
                    data +=
                        '<tr>' +
                        '<td>' + item.Code + '</td>' +
                        '<td>' + item.KhmerName + '</td>' +
                        '<td>' + item.EnglishName + '</td>' +
                        '<td>' + qty.Qty + '</td>' +
                        '<td>' + item.Cost + '</td>' +
                        '<td>' + item.UomName + '</td>' +
                        '<td>' + date_Ex + '</td>' +
                        '<td>' + item.Check+ '</td>' +
                        '</tr>';
                });
                $(".list_not_transaction").html(data);
            },
            error: function (ex) {
               
                 let msg = new DialogBox({
                        type: "ok",
                        content:"@Localizer["Transfer successfully !"]"
                     });
                    msg.confirm(function (e) {
                        location.reload();
                    });
            }
        })
    }

    //cancel
    function cancelpurchase() {
        location.reload();
    }
</script>