﻿@model PrinterName

@{
    ViewData["Title"] = "Create";
}
<style>
    .fa {
        margin-right: 4px;
    }
    \
</style>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Name"] :</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <button type="submit"  class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i>@Localizer["Add"]</button>
                <a class="btn btn-danger btn-sm" asp-action="Index"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
            </div>
        </form>
    </div>
</div>

