﻿.input-group input[data-select=datepicker], .input-group input[data-time],
.input-group input[name=Reminder], .input-group select[name=ReminderUom]{
    width: 50%;
}


.flexbox input, .flexbox select {
    width: 50%;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .25);
    padding: 2.5px 2.5px;
}

    .flexbox input[type="checkbox"],
    .flexbox input[type="radio"] {
        min-width: 22px;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        margin: auto 0;
    }

.flexbox.stack-inline {
    width: 50%;
}


.flexbox.stack-inline > *.icon {
    text-align: right;
    margin: auto;
    cursor: pointer;
}

.flexbox > *.indent {
    padding-left: 1rem;
}

.flexbox > *:not(:first-child){
    margin-left: .25rem;
}

.flexbox.grid-2 > *{
    width: 50% !important;
}

.flexbox.grid-3 > *{
    width: 33.33% !important;
}

.flexbox.grid-4 > *{
    width: 25% !important;
}

.flexbox.input-group {
    background: #FFF;
    align-items: center;
    border: 1px solid #AAA;
    border-radius: 3px;
    justify-content: space-between;
    width: 50%;
}

.flexbox.input-group > *:first-child {
    width: 49%;
    border: none; 
    margin: 0 !important;
}
.flexbox.input-group > *:last-child {
    min-width: 39%;
    width: auto;
}

.flexbox.input-group .trigger {
    cursor: pointer;
    margin: 2.5px;
}

.wrap-table table tr.active {
    background: #88BCBC !important;
}

.wrap-table table tr.closed {
    background: #C0C0C0 !important;
}

.wrap-table table tr th > div, .wrap-table table tr td div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add-new::after {
    content: "+";
    font-size: 1rem;
    border-radius: 50%;
    background: #2D905F;
    padding: 1px 7.5px;
    color: #EEE;
    cursor: pointer;
}

/*............................*/
.activity-header {
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 2rem;
}


input[submit], button {
    border-radius: 2px;
    min-width: 70px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid #AAA;
    cursor: pointer;
}

    .dialog-box-background {
        top: 55px !important;
        left: 7%;
    }

        .dialog-box-background.top-right {
            padding-right: 13.33px;
        }

        .dialog-box-background .dialog-box {
            -webkit-user-select: none; /* Chrome/Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
            user-select: none;
        }

        .dialog-box-background .dialog-box .content {
            font-size: 1.1em;
        }

            .dialog-box-background .dialog-box .outer-content {
                width: 65vw;
                height: auto;
                font-size: 1.1em;
            }

    .dialog-box-background .dialog-box .outer-content .wrap-table {
        height: 330px;
        overflow-y: auto;
    }

    .dialog-box-background .dialog-box .outer-content .wrap-table.fit-scroll-y {
        width: 100%;
    }

    .dialog-box-background .dialog-box .outer-content table tr td input.form-control {
        height: 30px;
        padding: 5px !important;
    }

        .dialog-box-background .dialog-box .outer-content table tr td:nth-child(1){
            width: 15px;
        }

        .dialog-box-background .dialog-box .outer-content table tr td:last-child {
            text-align: center;
        }

        .dialog-box-background .dialog-box .outer-content table tr td input[readonly].form-control {
            background-color: transparent !important;
            border: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

    .dialog-box-background .dialog-box .outer-content table tr td input[type=checkbox] {
        width: 100%;
        height: 20px;
        vertical-align: middle;
    }
    .dialog-box-background .dialog-box .outer-content .group-search-boxes .wrap-input.show {
        width: 300px;
    }

    .dialog-box-background .dialog-box .outer-content table tr td input {
        border: none;
        height: 30px;
        border-radius: 3px;
        width: 100%;
        padding: 5px;
    }

    .dialog-box-background .dialog-box .outer-content table tr td{
        color: #333;
    }

    .dialog-box-background .dialog-box .outer-content table tr td > *{
        vertical-align: middle;
    }

        .btn.fas.fa-bell {
            font-size: 1.5rem;
        }

        .btn.fas.fa-bell::before {
            position: relative;
            left: 5px;
        }
        .btn.fas.fa-bell > * {
            position: relative;
            font-size: 1rem;
            top: -3px;
            right: 9.5px;
            color: #ec5b5b;
        }


input.form-control, select.form-control, select.form-control:not([size]):not([multiple]) {
    height: 35px;
    padding: 0 .5rem;
}

input.form-control:disabled, input.form-control:read-only,
select.form-control:disabled, select.form-control[readonly] {
    opacity: .7 !important;
    background: #FFF !important;
    cursor: default;
}

.input-group .trigger {
    font-family: 'Font Awesome 5 Solid';
    font-weight: 900;
    padding: 0 7px;
    margin: auto;
    line-height: 35px;
    height: 35px;
    border: 1px solid rgba(0,0,0,0.05);
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    cursor: pointer;
}

label.form-label {
    margin-top: 7px;
}

.input-group .form-label {
    font-family: 'Font Awesome 5 Solid';
    font-weight: 900;
    padding: 0 7px;
    margin: auto;
    line-height: 35px;
    height: 35px;
    border: 1px solid rgba(0,0,0,0.05);
}

    .input-group .form-label.append {
        border-bottom-right-radius: .25rem;
        border-top-right-radius: .25rem;
    }
    .input-group .form-label.prepend {
        
        border-bottom-left-radius: .25rem;
        border-top-left-radius: .25rem;
    }


input[type=checkbox]{
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.btn {
    padding: 7px;
    min-width: 50px;
}

/*bootstrap 4 tabs*/
a {
    text-decoration: none !important;
    color: inherit;
}

table.detail ul li {
    list-style-type: square;
    font-weight: normal;
    font-size: .8em;
    height: 20px;
    line-height: normal;
}

table.detail tr td:first-child {
    width: 25% !important;
}

ul.nav.nav-tabs {
    margin-bottom: .5rem;
    border-bottom: .5px solid #dee2e6;
}
    ul.nav.nav-tabs > li {
        height: 30px;
        line-height: 30px;
        padding: 0 .5rem;
        background: #CCC;
        border-top-right-radius: 10px;
        min-width: 70px;
        margin-right: 1px;
        text-align: center;
        border: 1px solid #CCC;
        border-bottom: none;
        cursor: pointer;
        text-decoration: none;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    ul.nav.nav-tabs > li.active {
        /*background: #a7c8f9;*/
        background: unset;
    }

    h1, h2, h3 {
        font-weight: bold;
        font-family: monospace;
        text-align: left;
    }

    .hidden {
        display: none !important;
    }

    /*Wizard*/
    .wizard {
        position: relative;
        margin: 1rem 0;
        z-index: 0;
    }

    .wizard hr {
        z-index: 0;
        position: absolute;
        top: 27px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #626567;
        border: 0;
        margin: 0;
        padding: 0;
    }

    .wizard ul {
        display: flex;
        z-index: 30;
        position: relative;
        list-style: none;
        padding: 0;
    }

    .wizard ul li {
        text-align: center;
        flex-grow: 1;
        flex-basis: 0;
        display: block;
    }

    .wizard ul li figure {
        display: inline-block;
        width: 54px;
        height: 54px;
        line-height: 52px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        font-size: 20px;
        background: #F1F1F1;
        border: 2px dashed #626567;
    }

        .wizard li.current figure {
            background-color: #d3d3d3;
            border: 2px dashed #3498DB;
        }

    .wizard li.complete figure {
        background-color: #67baf1;
        border: 2px solid #626567;
    }









