﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .card{
           /*   background: radial-gradient(circle at top right,rgba(255, 216, 0,1),10%,rgba(255, 255, 255,0)), radial-gradient(circle at top left, rgb(0, 255, 33,1),10%,rgba(255, 255, 255,0)), radial-gradient(circle at bottom left, rgb(255, 216, 0,1),10%,rgba(255, 255, 255,0)), radial-gradient(circle at bottom right, rgb(0, 255, 255,1),10%,rgba(255, 255, 255,0));*/
           background:#e1f2f7;
            border: 1px solid rgba(200,200,200,1);
            border-radius: 12px;
            box-shadow: 0,12px,18px,rgba(199, 16, 16,.1);           
            height:auto;
            width:400px;
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-top: 15%; /* Added */
            border: 3px medium rgb(0, 255, 144);
            padding:15px;
        }
        .access{
            text-align:center;
        }
        .wrapper {
            text-align: center;
            margin-top: 10%;
            
        }
        .btn {
            width: 40%;
            margin: 0 auto; /* Added */
            float: none; /* Added */
            margin-top:10%;
        }
        body{
            background:rgba(200,200,200,1)
        }
      
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="form-group wrapper">
                    <h1 class="text-danger access" style="font-family:Arial;font-size:20px;">@Localizer["AccessDenied"]</h1>
                    <a asp-action="Dashboard" asp-controller="Home" class="btn btn-sm btn-primary" style="width:70px;">
                       @Localizer["Back"]
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
