﻿@model POS_WEB.Models.Services.Account.UserAccount

@{
    ViewData["Title"] = "Register";
}
<style>
    .fa {
        margin-right: 4px;
    }
    .form-group{
        margin:0px;
        padding:0px;
    }
    .btnstyle{
        margin-top:10px;
        margin-left:0px;
    }
</style>
<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label">@Localizer["Employee"] :</label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID">
                    <option value="o" selected disabled> --- Select --- </option>
                </select>
                <div class="text-danger">@ViewBag.requiredEmp</div>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label">@Localizer["Company"] :</label>
                <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID">
                    <option value="0" selected disabled>---Select ---</option>
                </select>
                <div class="text-danger">@ViewBag.requiredcompany</div>
            </div>
            <div class="form-group">
                <label asp-for="BranchID" class="control-label">@Localizer["Branch"] :</label>
                <select asp-for="BranchID" class="form-control" asp-items="ViewBag.BranchID">
                    <option value="0" selected disabled>--- Select ---</option>
                </select>
                <div class="text-danger">@ViewBag.requriedBrand</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Username" class="control-label">@Localizer["Username"] :</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">@Localizer["Password"] :</label>
                <input asp-for="Password" class="form-control" type="password" value="@ViewBag.pass"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="form-group btnstyle ">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success btn-xs" type="submit" title="Save"><i class="fa fa-save"></i>@Localizer["Save"]</button>
                <a class="btn btn-xs btn-danger" asp-action="Index" title="Back"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
            </div>
        </div>
    </div>
</form>

