﻿@model LoginViewsModal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Dashbord/assets/js/plugin/webfont/webfont.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Dashbord/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Dashbord/assets/css/fonts.css">

    <style>


        .welcom {
            text-align: center;
        }

        .btn {
            width: 40%;
            margin: 0 auto; /* Added */
            float: none; /* Added */
        }

        body {
            overflow: hidden;
            /*background-color: rgb(163, 243, 129);*/
            /*background-color:#abc9;*/
            background-color: #2D905F !important;
        }

        h4 {
            margin-top: 10%;
            color: #171918;
        }

        .styleImage {
            text-align: center;
            border-radius: 50%;
        }

        .fa-user {
            font-size: 25px;
            margin-top: 8px;
            margin-right: 20px;
        }

        .control-label {
            margin-left: 39px;
        }

        .fa-unlock-alt {
            font-size: 25px;
            margin-top: 8px;
            margin-right: 20px;
        }

        .fa-sitemap {
            font-size: 22px;
            margin-top: 8px;
            margin-right: 16px;
        }

        .stylecol {
            margin-top: 30px;
            background-color: rgb(247, 241, 241);
            box-shadow: 10px 10px rgba(42, 38, 38,0.1);
            padding: 40px;
            border-radius: 10px;
        }

        input[type="checkbox"] {
            height: 20px;
            width: 20px;
            margin: 0 0.4em 0px 40px;
            outline: none;
            box-shadow: 0px 0px 3px rgba(105, 107, 228, 0.3);
            background: rgba(144, 232, 115, 0.4);
        }

        .stylecheck {
            margin-left: 50px;
        }

        .btn-success {
            margin-left: 39px;
        }
        .lable {
            margin-left: 10px;
        }

        .form-group {
            margin: 8px;
            padding: 8px;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4 stylecol">
            <form asp-action="Login">
                <div class="styleImage">
                    <img src="~/Images/a8cb5cb871014fc3a413c4f957e0ffaa.jpg" class="styleImage" width="130" height="130" title="Photo">
                </div>
                <div class="form-group">
                    <labe class="control-label">@Localizer["Branch"]</labe>
                    <div class="input-group">
                        <div class="input-group-append"> <i class="fa fa-sitemap"></i> </div>
                        <select class="form-control" asp-for="Branch"  asp-items="ViewBag.BranchID">
                           @* <option value="0" selected disabled>--- select ---</option>*@
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">@Localizer["Username"]</label>
                    <div class="input-group">
                        <div class="input-group-append"><i class="fa fa-user" title="Username"></i></div>
                        <input asp-for="UserName" class="form-control" required placeholder="Username" />
                    </div>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">@Localizer["Password"]</label>
                    <div class="input-group">
                        <div class="input-group-append"><i class="fa fa-unlock-alt" title="Password"></i></div>
                        <input asp-for="Password" class="form-control" type="password" required id="mypassword" placeholder="password" />
                        <span hidden>@ViewBag.psw</span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                    <div class="form-inline">
                        <input type="checkbox" asp-for="Check" />
                        <label class="lable stylecheck">@Localizer["Rememberme"]</label>
                    </div>
                </div>*@
                <div class="text-danger">@ViewBag.VilidUser</div>
                <div class="text-danger">@ViewBag.rquriedBranch</div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-md btn-success" style="width:80px;" title="Sign In">@Localizer["Sign In"]</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
  
</script>
