﻿@using Microsoft.AspNetCore.Http;
<style>
    .gorup_profile{
        min-width:100%;
        margin:5px;
        line-height:30px;
    }
    .gorup_profile  label{
        min-width: 30%;
        font-size: 15px;
        font-family: Arial;
        font-weight: bold;
    }
    .gorup_profile span {
        min-width: 70%;
        font-size: 15px;
        font-family: Arial;
    }
</style>
<div class="row">
    <div class="col-md-5"></div>
    <div class="2">
        <img src="@Url.Content(@User.FindFirst("Photo").Value)" width="160" height="160" style="border-radius:50%;" title="Photo" />
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="gorup_profile">
            <label >@Localizer["Code"] </label><span >@User.FindFirst("Code").Value</span>
        </div>
        <div class="gorup_profile">
            <label>@Localizer["Employee"] </label><span >@User.FindFirst("FullName").Value</span>
        </div>
        <div class="gorup_profile">
            <label>@Localizer["Gender"] </label><span>@User.FindFirst("Gender").Value</span>
        </div>
        <div class="gorup_profile">
            <label>@Localizer["Position"] </label><span>@User.FindFirst("Position").Value</span>
        </div>
         <div class="gorup_profile">
            <label>@Localizer["Hiredate"] </label><span>@User.FindFirst("Hiredate").Value</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="gorup_profile">
            <label>@Localizer["Phone"] </label><span>@User.FindFirst("Phone").Value</span>
        </div>
        <div class="gorup_profile">
            <label>@Localizer["Email"] </label><span>@User.FindFirst("Email").Value</span>
        </div>
        <div class="gorup_profile">
            <label>@Localizer["Address"] </label><span>@User.FindFirst("Address").Value</span>
        </div>
        <div class="gorup_profile">
            <label>@Localizer["Birthdate"] </label><span>@User.FindFirst("Birthdate").Value</span>
        </div>
       
    </div>

    <div class="col-md-2"></div>
</div>