﻿@model POS_WEB.Models.Services.Customer.ItemServiceViewModel;
<style>
    form table tr td input {
        border: none;
        width: 100%;
        height: 26px;
        padding: 5px;
        border-radius: 5px;
        background: transparent;
        pointer-events: none;
    }

    form table tr td input:focus {
        border: 1px solid #36a3f7;
    }
    form table tr td input.editable {
        background: #FFF;
        pointer-events: auto;
    }
</style>
<script src="~/js/Customer/item-service.js" defer></script>
<h1 style="font-weight: bold;">@Localizer["Item Service Master Data"]</h1>
<div ck-validation-summary></div>
<div class="wrap-block col-two">
    <div class="left-block">
        <div class="block border myb1">
            <div class="title">@Localizer["Create Item Service"]</div>
            <form method="post" action="/ServiceCustomer/ItemService">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="ItemService.ServiceID" />
                <div class="form-group">
                    <label asp-for="ItemService.ServiceCode" class="control-label">@Localizer["Code"] :</label>
                    <input asp-for="ItemService.ServiceCode" class="form-control" readonly value="@Model.ItemService.ServiceCode" />
                    <span asp-validation-for="ItemService.ServiceCode" class="text-danger"></span>
                    <div class="text-danger">@ViewBag.Error</div>
                </div>

                <div class="form-group">
                    <label asp-for="ItemService.ServiceName" class="control-label">@Localizer["Service Name"] :</label>
                    <input asp-for="ItemService.ServiceName" class="form-control" />
                    <span asp-validation-for="ItemService.ServiceName" class="text-danger"></span>
                    <div class="text-danger">@ViewBag.Error</div>
                </div>
                <div class="form-group">
                    <button id="submit-item-service" class="btn btn-info" type="submit"><i class="fas fa-save"></i>&nbsp;Save</button>&nbsp;
                    <a href="/ServiceCustomer/ItemService" class="btn btn-primary" type="button"><i class="far fa-times-circle"></i>&nbsp;Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div><hr />

<div class="block">
    <div class="title">@Localizer["List of item services"]</div>
    <div class="group-search-boxes myb1">
        <div id="text-search" class="wrap-search-box">
            <div class="wrap-input show">
                <i id="i-search" class="i-search fas fa-search"></i>
                <input id="search-item-services" class="ignore" type="text" placeholder="Search item services ...">
                <i id="i-close" class="i-close far fa-times-circle"></i>
            </div>
            <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <form class="wrap-table" style="height: 500px; overflow: auto;">
        @{ int index = 0; }
        <table id="item-service-list">
            <tr>
                <th>No.</th>
                <th>Service Code</th>
                <th>Service Name</th>
                <th>Last Changed</th>
                <th>Action</th>
            </tr>
            @foreach (var s in Model.ItemServices)
            {
            <tr data-serviceid="@s.ServiceID">
                <td>@{ index++; } @index</td>
                <td>@s.ServiceCode</td>
                <td><input class="ServiceName" value="@s.ServiceName" /></td>
                <td>@s.LastChanged.ToString("dd/MM/yyyy hh:mm tt")</td>
                <td><i onclick="changeItemService(this);" class="trigger-edit fas fa-edit fa-lg fn-sky csr-pointer"></i></td>
            </tr>
            }
        </table>
    </form>
</div>