﻿@model POS_WEB.Models.Services.Customer.CustomerDetail;
@using POS_WEB.Models.Services.Customer;

<h1>@Localizer["Service Customer Detail"]</h1>
<div class="flexbox flex-end">
    <a href="/ServiceCustomer/ServiceCustomerList" class="btn btn-info" title="@Localizer["List of service customers"]"><i class="fas fa-list fa-lg"></i></a>
</div>

<div class="block border">
    <div class="title">@Localizer["Customer Information"]</div>
    <div class="wrap-block col-two">
        <div class="left-block">
            <table class="detail">
                <tr>
                    <td>@Localizer["Customer Code"]</td>
                    <td>@Model.Code</td>
                </tr>

                <tr>
                    <td>@Localizer["Full Name"]</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>@Localizer["Gender"]</td>
                    <td>@Model.Gender</td>
                </tr>
                <tr>
                    <td>@Localizer["Date of Birth"]</td>
                    <td>@Model.BirthDate</td>
                </tr>

                <tr>
                    <td>@Localizer["Phone"]</td>
                    <td>@Model.Phone</td>
                </tr>

                <tr>
                    <td>@Localizer["Email"]</td>
                    <td>@Model.Email</td>
                </tr>

                <tr>
                    <td>@Localizer["Address"]</td>
                    <td>@Model.Address</td>
                </tr>

            </table>
        </div>
      
        <div class="right-block border-left">
            <table class="detail">
                <tr>
                    <td>@Localizer["Customer Type"]</td>
                    <td>@Model.CustomerType</td>
                </tr>

                <tr>
                    <td>@Localizer["Customer Group"]</td>
                    <td>@Model.CustomerGroup</td>
                </tr>

                @if (Model.CustomerType != CustomerType.WALKIN)
                {
                    <tr>
                        <td>@Localizer["Plate"]</td>
                        <td>@Model.Plate</td>
                    </tr>

                    <tr>
                        <td>@Localizer["Frame"]</td>
                        <td>@Model.Frame</td>
                    </tr>
                    <tr>
                        <td>@Localizer["Engine"]</td>
                        <td>@Model.Engine</td>
                    </tr>
                }

                <tr>
                    <td>@Localizer["Region"]</td>
                    <td>@Model.Region</td>
                </tr>

                <tr>
                    <td>@Localizer["District"]</td>
                    <td>@Model.District</td>
                </tr>


            </table>
        </div>
    </div>

</div>