﻿@model POS_WEB.Models.Services.Appointment.AppointmentViewModel;
@using POS_WEB.Models.Services.Customer;

<h1>@Localizer["Service Appointment Detail"]</h1>
<div class="flexbox flex-end">  
    <a href="/ServiceCustomer/ServiceTimelyAppointmentList" class="btn btn-info" title="@Localizer["List of Appointments"]"><i class="fas fa-list fa-lg"></i></a>
</div>
<div class="block border">
    <div class="title">@Localizer["Customer Information"]</div>
    <div class="wrap-block col-two">
        <div class="left-block">
            <table class="detail">
                <tr>
                    <td>@Localizer["Customer Code"]</td>
                    <td>@Model.Customer.Code</td>
                </tr>

                <tr>
                    <td>@Localizer["Customer Type"]</td>
                    <td>@Model.Customer.CustomerType</td>
                </tr>

                <tr>
                    <td>@Localizer["Full Name"]</td>
                    <td>@Model.Customer.Name</td>
                </tr>
                <tr>
                    <td>@Localizer["Gender"]</td>
                    <td>@Model.Customer.Gender</td>
                </tr>

                <tr>
                    <td>@Localizer["Phone"]</td>
                    @if (Model.Customer.Phone != "")
                    {
                        <td>@Model.Customer.Phone</td>
                    }
                    else
                    {
                        <td>@Localizer["No phone yet."]</td>
                    }
                </tr>

            </table>
        </div>
        <div class="right-block border-left">
            <table class="detail">
                @if (Model.Customer.CustomerType != CustomerType.WALKIN)
                {
                    <tr>
                        <td>@Localizer["Plate"]</td>
                        <td>@Model.Customer.Plate</td>
                    </tr>

                    <tr>
                        <td>@Localizer["Frame"]</td>
                        <td>@Model.Customer.Frame</td>
                    </tr>
                    <tr>
                        <td>@Localizer["Engine"]</td>
                        <td>@Model.Customer.Engine</td>
                    </tr>
                }

            </table>
        </div>
    </div>
   
</div>
<div class="wrap-block myt1">
    <div class="full-block">
        <div class="block border">
            <div class="title">@Localizer["History of Follow up"]</div>
            <table id="list-appointment-histories" class="detail">
                @foreach (var app in Model.AppointmentHistories)
                {
                    <tr>
                        <td>
                            <div>@app.FollowUp.ToString("dd/MM/yyyy HH:mm tt")</div>
                            @if (app.ItemServices != null)
                            {
                                <ul>
                                    @foreach (var k in app.ItemServices.Split("/"))
                                    {
                                        <li>@Model.ItemServices.FirstOrDefault(i => i.ServiceID == int.Parse(k)).ServiceName</li>
                                    }
                                </ul>
                            } 

                        </td>
                        <td style="vertical-align: top;">
                            @app.Remark
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

