﻿@model POS_WEB.Models.Services.Appointment.AppointmentViewModel;

<script src="~/js/Customer/validate-appointment.js" defer></script>
<script src="~/js/Customer/service-appointment.js" defer></script>
<script src="~/js/Customer/item-service.js" defer></script>

<h1>@Localizer["Service Appointment Follow up"]</h1>
<div class="flexbox flex-end">
    <a href="/ServiceCustomer/ServiceTimelyAppointmentList" class="btn btn-info" title="@Localizer["List of Appointments"]"><i class="fas fa-list fa-lg"></i></a>
</div>
<form id="service-customer-appointment">
    @Html.AntiForgeryToken()
    <div ck-message-summary></div>
    <div class="wrap-block col-two">
        <input hidden name="CustomerID" value="@Model.Appointment.CustomerID" />
        <input hidden name="AppointmentID" value="@Model.Appointment.AppointmentID" />

        <div class="left-block">
            <div class="block border">
                <div class="title">@Localizer["Appointment Info"]</div>

                <label class="form-label">@Localizer["Appointment Code"]</label>
                <input name="AppointmentCode" class="form-control" readonly value="@Model.Appointment.AppointmentCode" />

                <label class="form-label">Appointment Time</label>
                <div class="input-group">
                    <input name="ActivityDate" type="text" class="form-control" data-select="datepicker" data-value="@Model.Appointment.ActivityDate" value="@DateTime.Parse(Model.Appointment.ActivityDate).ToString("dd-MM-yyyy")" style="width: 70%;">
                    <input name="ActivityTime" value="@Model.Appointment.ActivityTime" class="form-control" data-time placeholder="00:00" style="width: 30%;" />
                </div>
                <div model-validation-for="appointment.FollowUp"></div>

                <label class="form-label">@Localizer["Reminder"]</label>
                <div class="input-group">
                    <input autocomplete="off" class="form-control" name="Reminder" value="15" data-value="@Model.Appointment.Reminder" />
                    <select name="ReminderUom" class="form-control">
                        <option value="MINUTES">Minutes</option>
                        <option value="HOURS">Hours</option>
                        <option value="DAYS">Days</option>
                    </select>
                </div>

                <label class="form-label">Priority</label>
                <select id="priority" name="Priority" class="form-control" data-value="@Model.Appointment.Priority">
                    <option value="LOW">Low</option>
                    <option selected value="MEDIUM">Medium</option>
                    <option value="HIGH">High</option>
                </select>

                <label class="form-label">@Localizer["Remark"]</label>
                <textarea name="Remark" class="form-control" autocomplete="off" style="height: 90px;">@Model.Appointment.Remark</textarea>

                <label class="form-label">@Localizer["Location"]</label>
                <textarea name="Location" class="form-control" autocomplete="off" style="height: 90px;">@Model.Appointment.Location</textarea>
            </div>
        </div>

        <div class="right-block">
            <div class="block border">
                <div class="title">@Localizer["Item services"]&nbsp;<i id="trigger-create-new-service" class="fas fa fa-plus-circle fn-sky csr-pointer"></i></div>
                <div class="wrap-table" style="height: 465px; overflow: auto;">
                    @{
                        ViewBag.Checked = "checked";
                    }
                    <table id="table-item-service-list" class="detail">
                        @if (!Model.ItemServices.Any())
                        {
                            <tr id="no-item-service">
                                <td class="pxl1">@Localizer["No item service yet."]</td>
                            </tr>
                        }
                        @foreach (var item in Model.ItemServices)
                        {
                            ViewBag.Checked = "";
                            if (Model.Appointment.ItemServices != null && Model.Appointment.ItemServices.Split("/").Any(k => int.Parse(k) == item.ServiceID))
                            {
                                ViewBag.Checked = "checked";
                            }
                            <tr>
                                <td style="width: 10px;">
                                    <input type="checkbox" @ViewBag.Checked class="ServiceID" value="@item.ServiceID" />
                                </td>
                                <td>@item.ServiceName</td>
                            </tr>
                        }


                    </table>

                    <div id="dialog-create-item-service" style="text-align: left;" hidden>
                        <label class="form-label">@Localizer["Service Code"]</label>
                        <input class="form-control" readonly name="ServiceCode" />

                        <label class="form-label">@Localizer["Service Name"]</label>
                        <input class="form-control" name="ServiceName" />
                        <span model-validation-for="itemService.ServiceName"></span>
                    </div>
                </div>
            </div>
            <div model-validation-for="appointment.ItemServices"></div>
        </div>
    </div>

    @*<div class="wrap-block col-three myt1" style="border-top: 1px solid #CCC;">
        <div class="left-block"></div>
        <div class="middle-block m0">
            <div class="myt1">
                @if (Model.Appointment.Paused)
                {
                    <input name="Paused" class="form-check-inline" checked type="checkbox" />
                }
                else
                {
                    <input name="Paused" class="form-check-inline" type="checkbox" />
                }
                <label>Paused</label>
            </div>

        </div>
        <div class="right-block m0">
            <div class="myt1">
                @if (Model.Appointment.Closed)
                {
                    <input name="Closed" class="form-check-inline" checked type="checkbox" />
                }
                else
                {
                    <input name="Closed" class="form-check-inline" type="checkbox" />
                }

                <label>Closed</label>
            </div>
        </div>
    </div>*@
    <div class="myt1">
        <button id="save-service-appointment" class="btn btn-primary" type="button"><i class="fas fa-save"></i>&nbsp;@Localizer["Save"]</button>&nbsp;
        <a href="/ServiceCustomer/SearchTimelyAppointments" class="btn btn-primary" type="button"><i class="far fa-times-circle"></i>&nbsp;@Localizer["Cancel"]</a>
    </div>
</form>


