﻿
@using POS_WEB.Models.Services.Customer;
@model POS_WEB.Models.Services.Customer.CustomerViewModel;

<style>
    .form-control {
        padding: .35rem .5rem;
    }

    form label {
        margin-top: .5rem;
    }

    .dialog-box-background .dialog-box .outer-content.item-service {
        width: 500px;
    }
</style>
<script src="~/js/Customer/service-customer.js" defer></script>
<script src="~/js/Customer/item-service.js" defer></script>

<div class="flexbox space-between align-items-center">
    <h1>@Localizer["Register Service Customer"]</h1>
    <a href="/ServiceCustomer/ServiceCustomerList" class="btn btn-info" title="@Localizer["List of all customers"]"><i class="fas fa-list fa-lg"></i></a>
</div>
<div class="myb1" ck-message-summary></div>
<div class="wrap-block col-two">

    <div class="left-block">
        <form id="service-customer-register">
            @Html.AntiForgeryToken()
            <div class="block border">
                <div class="title">@Localizer["Information"]</div>
                <div class="wrap-block col-two">
                    <div id="dialog-define-new" hidden>
                        <div class="wrap-table">
                            <table>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th hidden>Active</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <input type="hidden" name="CustomerID" value="@Model.Customer.CustomerID" />
                    <div class="left-block">
                        <label>@Localizer["Code"]</label>
                        <input name="Code" class="form-control" readonly value="@Model.Customer.Code" />

                        <label>@Localizer["Name"]</label>
                        <input name="Name" class="form-control" autocomplete="off" value="@Model.Customer.Name" />
                        <div model-validation-for="customer.Name"></div>

                        <label>@Localizer["Date of Birth"]</label>
                        @if (Model.Customer.BirthDate == null)
                        {
                            <input name="BirthDate" class="form-control" placeholder="dd-MM-yyyy" data-select="datepicker">
                        }
                        else
                        {
                            <input name="BirthDate" class="form-control" placeholder="dd-MM-yyyy" value="@DateTime.Parse(Model.Customer.BirthDate).ToString("dd-MM-yyyy")" data-select="datepicker">
                        }                       
                        <div model-validation-for="customer.BirthDate"></div>

                        <label>@Localizer["Phone"]</label>
                        <input name="Phone" class="form-control" data-phone autocomplete="off" value="@Model.Customer.Phone" />
                        <div model-validation-for="customer.Phone"></div>

                        <label>@Localizer["Email"]</label>
                        <input name="Email" class="form-control" autocomplete="off" placeholder="example@anymail.com" value="@Model.Customer.Email" />
                        <div model-validation-for="customer.Email"></div>

                        <label class="form-label">@Localizer["Gender"]</label>
                        <div class="flexbox mxl1">
                            <input name="Gender" value="0" checked type="radio" />
                            <label style="margin-right:25px;">@Localizer["Female"]</label>
                            @if (Model.Customer.Gender == CustomerGender.Male)
                            {
                                <input name="Gender" value="1" checked type="radio" />
                            }
                            else
                            {
                                <input name="Gender" value="1" type="radio" />
                            }
                            <label style="margin-right: 25px;">@Localizer["Male"]</label>

                        </div>

                        <label>@Localizer["Adress"]</label>
                        <textarea name="Address" class="form-control" autocomplete="off" style="height: 97px;">@Model.Customer.Address</textarea>
                    </div>
                    <div class="right-block">
                        <label class="label">@Localizer["Plate#"]</label>
                        <input name="Plate" class="form-control" autocomplete="off" value="@Model.Customer.Plate" />
                        <div model-validation-for="customer.Plate"></div>

                        <label>@Localizer["Frame#"]</label>
                        <input name="Frame" class="form-control" autocomplete="off" value="@Model.Customer.Frame" />
                        <div model-validation-for="customer.Frame"></div>

                        <label>@Localizer["Engine#"]</label>
                        <input name="Engine" class="form-control" autocomplete="off" value="@Model.Customer.Engine" />
                        <div model-validation-for="customer.Engine"></div>

                        <label>@Localizer["Model"]</label>
                        <input name="B_Model" class="form-control" autocomplete="off" value="@Model.Customer.E_Model" />

                        <label>@Localizer["Brand"]</label>
                        <input name="B_Brand" class="form-control" autocomplete="off" value="@Model.Customer.E_Brand" />

                        <label>@Localizer["Color"]</label>
                        <select name="Color" class="form-control" autocomplete="off">
                            <option value="0" selected></option>
                            @foreach (var co in Model.ColorCustomers)
                            {
                                <option value="@co.ColorID">@co.ColorName</option>
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <label>@Localizer["Region"]</label>
                        <select type="text" name="Region" class="form-control">
                            <option value="0"></option>
                            @foreach (var reg in Model.Regions)
                            {
                                if (Model.Customer.Region == reg.RegionID)
                                {
                                    <option selected value="@reg.RegionID">@reg.Name</option>
                                }
                                else
                                {
                                    <option value="@reg.RegionID">@reg.Name</option>
                                }
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                        <label>@Localizer["District"]</label>
                        <select type="text" name="District" class="form-control" disabled>
                            <option value="0"></option>
                            @foreach (var d in Model.Districts)
                            {
                                if (Model.Customer.District == d.DistrictID)
                                {
                                    <option selected value="@d.DistrictID">@d.Name</option>
                                }
                                else
                                {
                                    <option value="@d.DistrictID">@d.Name</option>
                                }
                            }
                            <option value="-1">@Localizer["Define New"]</option>
                        </select>

                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="right-block">
        <form id="create-customer-appointment">
            <div class="block border">
                <div class="title">@Localizer["Appointment"]</div>
                <div class="wrap-block col-two">
                    <div class="left-block">
                        <label>@Localizer["Appointment Code"]</label>
                        <input name="AppointmentCode" class="form-control" readonly value="@Model.Appointment.AppointmentCode" />

                        <label>Appointment Time</label>
                        <div class="input-group">
                            <input name="ActivityDate" type="text" class="form-control" data-value="@Model.Appointment.ActivityDate" data-select="datepicker" value="@DateTime.Parse(Model.Appointment.ActivityDate).ToString("dd-MM-yyyy")">
                            <input name="ActivityTime" class="form-control" data-time value="@Model.Appointment.ActivityTime" placeholder="00:00" />
                        </div>
                        <div model-validation-for="appointment.FollowUp"></div>

                        <label>@Localizer["Reminder"]</label>
                        <div class="input-group">
                            <input autocomplete="off" class="form-control" name="Reminder" value="15" data-value="">
                            <select name="ReminderUom" class="form-control">
                                <option value="MINUTES">Minutes</option>
                                <option value="HOURS">Hours</option>
                                <option value="DAYS">Days</option>
                            </select>
                        </div>
                        <div model-validation-for="appointment.Reminder"></div>

                        <label>Priority</label>
                        <select id="priority" name="Priority" class="form-control">
                            <option value="LOW">Low</option>
                            <option selected value="MEDIUM">Medium</option>
                            <option value="HIGH">High</option>
                        </select>

                    </div>
                    <div class="right-block">
                        <label>@Localizer["Remark"]</label>
                        <textarea name="Remark" class="form-control" autocomplete="off" style="height: 96px;"></textarea>

                        <label>@Localizer["Location"]</label>
                        <textarea name="Location" class="form-control" autocomplete="off" style="height: 96px;"></textarea>

                        <div id="service-customer-list" hidden>
                            <div class="group-search-boxes">
                                <div id="text-search" class="wrap-search-box">
                                    <div class="wrap-input show">
                                        <i id="i-search" class="i-search fas fa-search"></i>
                                        <input autocomplete="off" class="ignore search-service-customers" type="text" placeholder="Search service customers ...">
                                        <i id="i-close" class="i-close far fa-times-circle"></i>
                                    </div>
                                    <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                                </div>
                            </div>

                            <div class="wrap-table list myt1">
                                <table>
                                    <tr>
                                        <th>@Localizer["No."]</th>
                                        <th>@Localizer["Code"]</th>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["Gender"]</th>
                                        <th>@Localizer["Phone"]</th>
                                        <th>@Localizer["Address"]</th>
                                        <th>@Localizer["Action"]</th>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block border myt1">
                <div class="title">@Localizer["Item services"]&nbsp;<i id="trigger-create-new-service" class="fas fa fa-plus-circle fn-sky csr-pointer"></i></div>
                <div class="wrap-table" style="height: 180px;">
                    <table id="table-item-service-list" class="detail">
                        @if (!Model.ItemServices.Any())
                        {
                            <tr id="no-item-service">
                                <td class="pxl1">@Localizer["No item service yet."]</td>
                            </tr>
                        }

                        @foreach (var item in Model.ItemServices)
                        {
                            <tr>
                                <td style="width: 10px;"><input type="checkbox" class="ServiceID" value="@item.ServiceID" /></td>
                                <td>@item.ServiceName</td>
                            </tr>
                        }

                    </table>

                    <div id="dialog-create-item-service" style="text-align: left;" hidden>
                        <label class="form-label">@Localizer["Service Code"]</label>
                        <input class="form-control" readonly name="ServiceCode" />
                        <span model-validation-for="itemService.ServiceCode"></span>

                        <label class="form-label">@Localizer["Service Name"]</label>
                        <input class="form-control" name="ServiceName" />
                        <span model-validation-for="itemService.ServiceName"></span>
                    </div>
                </div>
                <div model-validation-for="appointment.ItemServices"></div>
            </div>
        </form>
    </div>
    <div class="myt1">
        <button id="register-service-customer" class="btn btn-primary" type="button"><i class="fas fa-plus"></i>&nbsp;@Localizer["Register"]</button>
        <a href="/ServiceCustomer/AllCustomerList" class="btn btn-primary" type="button"><i class="far fa-times-circle"></i>&nbsp;@Localizer["Cancel"]</a>
    </div>
</div>



