﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KRMS</title>
    <partial name="_Styles" />

    <script src="~/Dashbord/assets/js/core/jquery.3.2.1.min.js"></script>
</head>
<body> 
    <header>      
        <div ck-dialog-box-container></div>
    </header>
    <div class="wrapper">
        <!--
        Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header">

                <a asp-action="Dashborad" asp-controller="Home" class="logo" style="color:white;">
                    @User.FindFirst("CompanyName").Value
                    @*<img src="~/Dashbord/assets/img/logoazzara.svg" alt="navbar brand" class="navbar-brand">*@
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item">
                            <div class="dropbox down crumb list">
                                <div class="dropbox-btn">
                                    <div id="note-total-appointment" class="ck-notification white" title="@Localizer["Timely Appointments"]">
                                        <svg class="n-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156 220.65">
                                            <path d="M78.47,8a6,6,0,1,1-6,6,6,6,0,0,1,6-6m0-8a14,14,0,1,0,14,14,14,14,0,0,0-14-14Z" />
                                            <path class="cls-2" d="M93.38,209.39a4.74,4.74,0,0,0-4.4-6.72c-3.38.05,4.85-.1-11-.1-4.63,0-8.52.27-12,.13a4,4,0,0,0-3.87,5.51,17,17,0,0,0,31.25,1.18Z" />
                                            <path d="M137.19,113.75c-.7-18.82,5.84-52.32-8-75.67-8.77-14.8-16.76-20.22-21.43-22.2a3.65,3.65,0,0,0-5,2.46c-1.67,6.52-7.14,19.6-24.29,19.6S55.84,24.77,54.19,18.27a3.66,3.66,0,0,0-4.83-2.56c-4.9,1.84-13.52,7.13-22.55,22.37-13.84,23.35-7.3,56.84-8,75.67S3.3,147.56,3.3,147.56s37.35,16,74.7,16,74.7-16,74.7-16S137.89,132.57,137.19,113.75Z" />
                                            <path d="M1.5,160.65A191.84,191.84,0,0,0,78,176.55a191.84,191.84,0,0,0,76.5-15.91v10.44a6.45,6.45,0,0,1-4.08,6,197.54,197.54,0,0,1-72,13.76A197.57,197.57,0,0,1,5.61,177.11,6.51,6.51,0,0,1,1.5,171Z" />
                                        </svg>
                                        <span class="n-value bg-red">0</span>
                                    </div>
                                </div>
                                <div class="wrap-dropbox-content">
                                    <div class="dropbox-navigator">
                                        <div class="i-close far fa-window-close"></div>
                                    </div>
                                    <div class="dropbox-content">
                                        <a href="/ServiceCustomer/ServiceTimelyAppointmentList" class="option">
                                            <i class="fas fa-users-cog"></i>&nbsp;@Localizer["Service"]&nbsp;
                                            (<span class="timely-service-count fn-red">0</span>)
                                        </a>
                                        <a href="/Customer/MotocycleTimelyAppointmentList" class="option">
                                            <i class="fas fa-motorcycle"></i>&nbsp;@Localizer["Motocycle"]&nbsp;
                                            (<span class="timely-motocycle-count fn-red">0</span>)
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            @{ await Html.RenderPartialAsync("_SelectLangauge");}
                        </li>
                        <li class="nav-item dropdown hidden-caret">                        
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="@Url.Content(@User.FindFirst("Photo").Value)" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn" style="border-radius: 3px;">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="@Url.Content(@User.FindFirst("Photo").Value)" width="40" height="40" style="border-radius:50%;"></div>
                                        <div class="u-text">
                                            <h4>@User.FindFirst("FullName").Value</h4>
                                            <p class="text-muted">@User.FindFirst("Position").Value</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Profile" asp-controller="Account"><i class="fa fa-user" style="margin-right:5px;"></i> @Localizer["MyProfile"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="ChangPassword" asp-controller="Account"><i class="	fa fa-cog" style="margin-right:5px;"></i> @Localizer["AccountSetting"]</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account"><i class="fa fa-sign-out-alt" style="margin-right:5px;"></i> @Localizer["Logout"]</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <a asp-action="Index" asp-controller="Company">
                                <img src="@Url.Content(@User.FindFirst("Logo").Value)" alt="..." class="avatar-img rounded-circle">
                            </a>
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>


                                </span>
                                <span class="caret"></span>
                            </a>
                            <div class="clearfix"></div>
                         
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a asp-action="Dashboard" asp-controller="Home">
                                <i class="fas fa-home"></i>
                                <p>@Localizer["Dashboard"]</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a data-toggle="collapse" href="#gen">
                                <i class="fa fa-cogs" style="font-size:15px;"></i>
                                <p>@Localizer["Administrator"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Administrator" id="gen" style="margin-left:18px;">
                                <a data-toggle="collapse" href="#gen1">
                                    <p>@Localizer["General"]</p>
                                    <span class="caret"></span>
                                </a>

                                <div class="collapse @ViewBag.General" id="gen1">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-action="Index" asp-controller="Company">
                                                <span class="sub-item @ViewBag.Company">@Localizer["Company"]</span>

                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Branch">
                                                <span class="sub-item @ViewBag.Branch">@Localizer["Branch"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="ReceiptInformation">
                                                <span class="sub-item @ViewBag.Receipt">@Localizer["Receipt"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Account">

                                                <span class="sub-item @ViewBag.UserAccount">@Localizer["UserAccount"]</span>

                                            </a>
                                        </li>

                                        <li>
                                            <a asp-action="Index" asp-controller="PrinterName">
                                                <span class="sub-item @ViewBag.PrinterName">@Localizer["PrinterName"]</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <a data-toggle="collapse" href="#inven">
                                    <p>@Localizer["Inventory_A"]</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse @ViewBag.Inventory" id="inven">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-action="Index" asp-controller="UnitofMeasure">
                                                <span class="sub-item @ViewBag.UnitofMeasure">@Localizer["UnitofMeasure"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="GroupUOM">
                                                <span class="sub-item @ViewBag.UnitofMeasureGroup">@Localizer["UnitofMeasureGroup"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Warehouse">
                                                <span class="sub-item @ViewBag.Warehouse">@Localizer["Warehouse"]</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a data-toggle="collapse" href="#table">
                                    <p>@Localizer["Table"]</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse @ViewBag.TableMenu" id="table">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a asp-action="Index" asp-controller="Table">
                                                <span class="sub-item @ViewBag.Table">@Localizer["Table"]</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="GroupTable">
                                                <span class="sub-item @ViewBag.TableGroup">@Localizer["TableGroup"]</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#pos">
                                <i class="fas fa-hand-holding-usd" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["POS"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.POS" id="pos" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li hidden id="pos-krms">
                                        <a asp-action="KRMS" asp-controller="POS">
                                            <span class="sub-item">@Localizer["KRMS"]</span>
                                        </a>
                                    </li>
                                    <li hidden id="pos-ktms">
                                        <a asp-action="KTMS" asp-controller="POS">
                                            <span class="sub-item">@Localizer["KTMS"]</span>
                                        </a>
                                    </li>
                                    <li hidden id="pos-kbms">
                                        <a asp-action="KBMS" asp-controller="POS">
                                            <span class="sub-item">@Localizer["KBMS"]</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#puschas">
                                <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Purchase"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.PurchaseMenu" id="puschas" style="margin-left:15px;">
                                <ul class="nav nav-collapse">                                  

                                    <li>
                                        <a asp-action="Purchaseorder" asp-controller="PurchaseOrder">
                                            <span class="sub-item @ViewBag.PurchasePO">@Localizer["PurchaseOrder"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="PurchasePO" asp-controller="PurchasePO">
                                            <span class="sub-item @ViewBag.PurchaseGRPO">@Localizer["Goods Receipt PO"]</span>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a asp-action="PurchaseAP" asp-controller="PurchaseAP">
                                            <span class="sub-item @ViewBag.PurchaseAP">@Localizer["PurchaseA/P"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="PurchaseCreditMemo" asp-controller="PurchaseCreditMemo">
                                            <span class="sub-item @ViewBag.PurchaseCreditMemo">@Localizer["PurchaseCreditMemo"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a data-toggle="collapse" href="#inv">
                                <i class="fa fa-cubes" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Inventory"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.InventoryMenu" id="inv" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Index" asp-controller="ItemMasterData">
                                            <span class="sub-item @ViewBag.ItemMasterData">@Localizer["ItemMasterData"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="PriceList">
                                            <span class="sub-item @ViewBag.PriceList">@Localizer["PriceList"]</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-toggle="collapse" href="#cate">
                                            <p class="sub-item">@Localizer["ItemGroup"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.ItemGroup" id="cate" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="Index" asp-controller="ItemGroup1">
                                                        <span class="sub-item @ViewBag.ItemGroup1">@Localizer["ItemGroup(1)"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="ItemGroup2">
                                                        <span class="sub-item @ViewBag.ItemGroup2">@Localizer["ItemGroup(2)"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="ItemGroup3">
                                                        <span class="sub-item @ViewBag.ItemGroup3">@Localizer["ItemGroup(3)"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a data-toggle="collapse" href="#InvenTra">
                                            <p class="sub-item">@Localizer["Transaction"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Transaction" id="InvenTra" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="GoodsReceipt" asp-controller="GoodsReceipt">
                                                        <span class="sub-item @ViewBag.GoodsReceipt">@Localizer["GoodsReceipt​"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="GoodIssues" asp-controller="GoodIssues">
                                                        <span class="sub-item @ViewBag.GoodsIssue">@Localizer["GoodsIssue"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Transfer" asp-controller="Transfer">
                                                        <span class="sub-item @ViewBag.Transfer">@Localizer["Transfer"]</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#emp">
                                <i class="fa fa-user" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["HumanResources"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.HR" id="emp" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Index" asp-controller="Employee">
                                            <span class="sub-item @ViewBag.EmpMasterData">@Localizer["EmployeeMasterData"]</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#buss">
                                <i class="fa fa-users" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["BusinessPartners"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.BizPartnersMenu" id="buss" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a data-toggle="collapse" href="#motocycle-customer">
                                            <p class="sub-item">@Localizer["Motocycle Customer"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.MotocycleCustomer" id="motocycle-customer" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="MotocycleCustomerList" asp-controller="Customer">
                                                        <span class="sub-item @ViewBag.MotocycleSearch">@Localizer["Search"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="MotocycleTimelyAppointmentList" asp-controller="Customer">
                                                        <span class="sub-item @ViewBag.MotocycleAppointment">@Localizer["Appointment"]</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a asp-action="DefaultRemark" asp-controller="Customer">
                                                        <span class="sub-item @ViewBag.DefaultRemark">@Localizer["Remark"]</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a data-toggle="collapse" href="#service-customer">
                                            <p class="sub-item">@Localizer["Service Customer"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.ServiceCustomer" id="service-customer" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="ServiceCustomerList" asp-controller="ServiceCustomer">
                                                        <span class="sub-item @ViewBag.ServiceSearch">@Localizer["Search"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="ServiceTimelyAppointmentList" asp-controller="ServiceCustomer">
                                                        <span class="sub-item @ViewBag.ServiceAppointment">@Localizer["Appointment"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="ItemService" asp-controller="ServiceCustomer">
                                                        <span class="sub-item @ViewBag.ItemService">@Localizer["Item Service"]</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>


                                </ul>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#promotion">
                                <i class="fa fa-percent" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Promotion"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.PromotionMenu" id="promotion" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Index" asp-controller="Promotion">
                                            <span class="sub-item @ViewBag.Promotion">@Localizer["Promotion"]</span>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a data-toggle="collapse" href="#member">
                                            <p class="sub-item">@Localizer["Member"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Member" id="member" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-action="Register" asp-controller="MemberCard">
                                                        <span class="sub-item @ViewBag.Register">@Localizer["Register"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Index" asp-controller="CardType">
                                                        <span class="sub-item @ViewBag.CreateType">@Localizer["CreateType"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="MemberCard" asp-controller="MemberCard">
                                                        <span class="sub-item @ViewBag.CreateCards">@Localizer["CreateCard​s"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="DiscountItem">
                                            <span class="sub-item @ViewBag.DiscountItem">@Localizer["DiscountItem"]</span>
                                        </a>
                                    </li>
                                 
                                </ul>

                            </div>
                        </li>
                       
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#bank">
                                <i class="fa fa-random" style="font-size:15px;"></i>
                                <p>@Localizer["Banking"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Banking" id="bank" style="margin-left:15px;">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="Outgoingpayment" asp-controller="Outgoingpayment">
                                            <span class="sub-item @ViewBag.OutgoingPaymentMenu">@Localizer["OutgoingPayment"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Currency">
                                            <span class="sub-item @ViewBag.Currency">@Localizer["Currency"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="ExchangeRate">
                                            <span class="sub-item @ViewBag.ExchangeRate">@Localizer["ExchangeRate"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Index" asp-controller="Tax">
                                            <span class="sub-item @ViewBag.CreateTax">@Localizer["Create Tax"]</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-action="Index" asp-controller="PaymentMeans">
                                            <span class="sub-item @ViewBag.PaymentMeans">@Localizer["PaymentMeans"]</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#report">
                                <i class="fa fa-chart-line" aria-hidden="true" style="font-size:15px;"></i>
                                <p>@Localizer["Reports"]</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse @ViewBag.Report" id="report" style="margin-left:15px;">
                                <ul class="nav nav-collapse">

                                    <li>
                                        <a data-toggle="collapse" href="#sale">
                                            <p class="sub-item">@Localizer["Sale"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Sale" id="sale" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-controller="Report" asp-action="SummarySale">
                                                        <span class="sub-item @ViewBag.SaleSummary">@Localizer["Sale Summary"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="CloseShift">
                                                        <span class="sub-item @ViewBag.CloseShift">@Localizer["Close Shift"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="TopSaleQuantity">
                                                        <span class="sub-item @ViewBag.TopSaleQuantity">@Localizer["Top Sale Quantity"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="RevenuesItem">
                                                        <span class="sub-item @ViewBag.RevenuesItem">@Localizer["Revenues Item"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a data-toggle="collapse" href="#pur">
                                            <p class="sub-item">@Localizer["Purchase"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.Purchase" id="pur" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-controller="Report" asp-action="SummaryPurchaseOrder">
                                                        <span class="sub-item @ViewBag.POSummary">@Localizer["P/O Summary"]</span>
                                                    </a>

                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="SummaryPurchaseAP">
                                                        <span class="sub-item @ViewBag.APSummary">@Localizer["A/P Summary"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="SummaryPurchaseMemo">
                                                        <span class="sub-item @ViewBag.PCSummary">@Localizer["P/C Summary"]</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a asp-controller="Report" asp-action="SummaryOutgoingPayment">
                                                        <span class="sub-item @ViewBag.OutgoingPayment">@Localizer["Outgoing Payment"]</span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a data-toggle="collapse" href="#inv_rep">
                                            <p class="sub-item">@Localizer["Inventory"]</p>
                                            <span class="caret"></span>
                                        </a>
                                        <div class="collapse @ViewBag.InventoryReport" id="inv_rep" style="margin-left:15px;">
                                            <ul class="nav nav-collapse">
                                                <li>
                                                    <a asp-controller="Report" asp-action="StockInWarehouse">
                                                        <span class="sub-item @ViewBag.StockInWarehouse">@Localizer["Stock In Warehouse"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="SummaryTransferStock">
                                                        <span class="sub-item @ViewBag.TransferStock">@Localizer["Transfer Stock"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="SummaryGoodsReceiptStock">
                                                        <span class="sub-item @ViewBag.GoodsReceiptStock">@Localizer["Goods Receipt Stock"]</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-controller="Report" asp-action="SummaryGoodsIssuseStock">
                                                        <span class="sub-item @ViewBag.GoodsIssueStock">@Localizer["Goods Issuse Stock"]</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">              
                <div class="page-inner">
                    <div class="page-wrapper">
                        <header class="content__title" style="height: 30px; line-height: 30px; border-bottom: 1px solid #CCC;">
                            <i class="fa @ViewBag.style" style="padding:0 5px;"></i> @ViewBag.Main
                            <span>
                                <i class="fa fa-caret-right align-right" style="font-size: 13px; padding: 0 5px;"></i> @ViewBag.Page
                                <i class="fa fa-caret-right align-right" style="font-size: 13px; padding: 0 5px;"></i> @ViewBag.Subpage

                            </span>
                            <span class="pull-right" style="padding-right: 10px;">
                                @ViewBag.type
                                <i class="fa @ViewBag.button" style="margin: 0 15px;"></i>
                                <i class="fa @ViewBag.list"></i>
                            </span>

                        </header>
                        <div class="content-page" style="margin-top: 1rem;">
                            <main>

                                @RenderBody()
                            </main>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    
        <div class="custom-template">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Topbar</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeMainHeaderColor" data-color="blue"></button>
                            <button type="button" class="selected changeMainHeaderColor" data-color="purple"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="light-blue"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="green"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="orange"></button>
                            <button type="button" class="changeMainHeaderColor" data-color="red"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Background</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeBackgroundColor" data-color="bg2"></button>
                            <button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
                            <button type="button" class="changeBackgroundColor" data-color="bg3"></button>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <!-- End Custom template -->
    </div>

    <footer>
        <partial name="_Scripts" />
        @RenderSection("Scripts", required: false)
    </footer>  
</body>
</html>
