﻿<!--   Core JS Files   -->

<script src="~/Dashbord/assets/js/core/popper.min.js"></script>
<script src="~/Dashbord/assets/js/core/bootstrap.min.js"></script>
<script src="~/Dashbord/assets/js/plugin/webfont/webfont.min.js"></script>

<!-- jQuery UI -->
<script src="~/Dashbord/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/Dashbord/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="~/Dashbord/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Moment JS -->
<script src="~/Dashbord/assets/js/plugin/moment/moment.min.js"></script>

<!-- Chart JS -->
<script src="~/Dashbord/assets/js/plugin/chart.js/chart.min.js"></script>

<!-- jQuery Sparkline -->
<script src="~/Dashbord/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="~/Dashbord/assets/js/plugin/chart-circle/circles.min.js"></script>

<!-- Datatables -->
<script src="~/Dashbord/assets/js/plugin/datatables/datatables.min.js"></script>

<!-- Bootstrap Notify -->
<script src="~/Dashbord/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- Bootstrap Toggle -->
<script src="~/Dashbord/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

<!-- Google Maps Plugin -->
<script src="~/Dashbord/assets/js/plugin/gmaps/gmaps.js"></script>

<!-- Sweet Alert -->
@*<script src="~/Dashbord/assets/js/plugin/sweetalert/sweetalert.min.js" async></script>*@

<!-- Azzara JS -->
<script src="~/Dashbord/assets/js/ready.min.js"></script>

<!-- Azzara DEMO methods, don't include it in your project! -->
<script src="~/Dashbord/assets/js/setting-demo.js"></script>

<!--Custom Scripts-->

<script src="~/js/libphonenumber.min.js"></script>
<script src="~/js/jquery.datepicker2.js"></script>
<script src="~/js/jquery.timeselector.js"></script>
<script src="~/js/yearpicker.js"></script>
<script src="~/js/form-validation.js"></script>
<script src="~/js/core.js"></script>
<script src="~/js/message.js"></script>
<script src="~/js/table.js"></script>
<script src="~/js/print.min.js"></script>
<script src="~/js/Customer/appointment-signal.js"></script>

<script>
    //Validate time
    $("input[data-time]").on("change", function () {
        this.value = this.value.toUpperCase();
    }).timeselector();

    $("input[data-year]").yearpicker().asPositiveNumber(4);

    $("input[name=Reminder]").asPositiveNumber();

    $('#report').click(function () {
        $.ajax({
            url: '/Window/Report',
            type: 'GET',
            async: false,
            success: function () {

            }
        })
    })
    $.ajax({
        url: '/SystemTypes/GetSystemType',
        type: 'GET',
        async: false,
        success: function (systems) {

            $.each(systems, function (i, system) {

                if (system.Type == "KRMS") {
                    $("#pos-krms").removeAttr('hidden');
                }
                else if (system.Type == "KTMS") {
                    $("#pos-ktms").removeAttr('hidden');

                }
                else if (system.Type == "KBMS") {
                    $('#pos-kbms').removeAttr('hidden');

                }
            })
        }
    })
</script>