﻿
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = new List<SelectListItem>
    {
        new SelectListItem{Value = @"en-US",Text = @"English"},
        new SelectListItem{ Value = @"km-KH",Text = @"Khmer"},
        new SelectListItem{Value = @"zh-CN",Text = @"Chiness"}
    };
}
<style>
    #changelanguage {
        background-color: #2D905F !important;
        color: #FFF;
        height: 35px;
    }
</style>
<div title="@Localizer["Request culture provider:"]@requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Home"
        asp-action="selectLanguage" asp-route-returnUrl="@Context.Request.Path"
        method="post" role="form">
        <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" id="changelanguage" class="input-sm form-control"
            asp-items="cultureItems" onchange="changelanguege()"></select>
    </form>
</div>

<script type="text/javascript">
    function changelanguege() {
        var culure = $("#changelanguage").val();
        $.ajax({
            url: "/Home/selectLanguage",
            type: "POST",
            dataType: "JSON",
            data: { culture: culure, returnUrl: '/' },
            complete: function (response) {
                location.reload();
            }
        });
    }

</script>