﻿<link rel="stylesheet" href="~/Dashbord/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Dashbord/assets/css/azzara.min.css">
<link rel="stylesheet" href="~/Dashbord/assets/css/demo.css">
<link rel="stylesheet" href="~/Dashbord/assets/css/fonts.css">
<link href="~/Dashbord/assets/css/fonts.css" rel="stylesheet" />
<link rel="icon" href="~/Dashbord/assets/img/icon.ico" type="image/x-icon" />
<link href="~/css/jquery.datepicker2.css" rel="stylesheet" />
<link href="~/css/jquery.timeselector.css" rel="stylesheet" />
<link href="~/css/Print.css" rel="stylesheet" />
<link href="~/css/yearpicker.css" rel="stylesheet" />
<link href="~/css/core.css" rel="stylesheet" />
<link href="~/js/jquery-ui.min.css" rel="stylesheet" />
<link href="~/js/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/css/user-controls.css" rel="stylesheet" />

<style type="text/css" rel="stylesheet">

    .highlight {
        font-weight: 700;
        color: #2D905F;
    }

    .main-header {
        background-color: #2D905F !important;
    }

    .fa-bars:before {
        content: "\f0c9";
        color: white !important;
    }

    .fa-ellipsis-v:before {
        content: "\f142";
        color: white !important;
    }

    .sidebar .nav-collapse {
        padding: 0;
    }
</style>