﻿@using POS_WEB.Models.Services.Customer;
@model POS_WEB.Models.Services.Customer.CustomerViewModel;
<style>
    .form-control {
        padding: .35rem .5rem;
    }

    form label {
        margin-top: .5rem;
    }

    .dialog-box-background .dialog-box .outer-content.item-service {
        width: 500px;
    }
</style>
<script src="~/js/Customer/service-customer.js" defer></script>
<script src="~/js/Customer/item-service.js" defer></script>
<h1>@Localizer["Edit Service Customer"]</h1>
<div class="flexbox flex-end align-items-center">  
    <a href="/ServiceCustomer/ServiceCustomerList" class="btn btn-info" title="@Localizer["List of all customers"]"><i class="fas fa-list fa-lg"></i></a>
</div>
<div class="myb1" ck-message-summary></div>
<div class="block border">
    <div class="title">@Localizer["Information"]</div>
    <form id="service-customer-update">
        @Html.AntiForgeryToken()

        <div class="wrap-block col-two">
            <div id="dialog-define-new" hidden>
                <div class="wrap-table">
                    <table>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th hidden>Active</th>
                        </tr>
                    </table>
                </div>
            </div>
            <input type="hidden" name="CustomerID" value="@Model.Customer.CustomerID" />
            <div class="left-block">
                <label>@Localizer["Code"]</label>
                <input name="Code" class="form-control" readonly value="@Model.Customer.Code" />

                <label>@Localizer["Name"]</label>
                <input name="Name" class="form-control" autocomplete="off" value="@Model.Customer.Name" />
                <div model-validation-for="customer.Name"></div>

                <label>@Localizer["Date of Birth"]</label>
                @if (Model.Customer.BirthDate != null)
                {
                    <input name="BirthDate" class="form-control" value="@DateTime.Parse(Model.Customer.BirthDate).ToString("dd-MM-yyyy")" data-select="datepicker">
                }
                else
                {
                    <input name="BirthDate" class="form-control" data-select="datepicker">
                }
                <div model-validation-for="customer.BirthDate"></div>

                <label>@Localizer["Phone"]</label>
                <input name="Phone" class="form-control" data-phone autocomplete="off" value="@Model.Customer.Phone" />

                <label>@Localizer["Email"]</label>
                <input name="Email" class="form-control" autocomplete="off" placeholder="example@anymail.com" value="@Model.Customer.Email" />
                <div model-validation-for="customer.Email"></div>

                <label class="form-label">@Localizer["Gender"]</label>
                <div class="flexbox mxl1">
                    <input name="Gender" value="0" checked type="radio" />
                    <label style="margin-right:25px;">@Localizer["Female"]</label>
                    @if (Model.Customer.Gender == CustomerGender.Male)
                    {
                        <input name="Gender" value="1" checked type="radio" />
                    }
                    else
                    {
                        <input name="Gender" value="1" type="radio" />
                    }
                    <label style="margin-right: 25px;">@Localizer["Male"]</label>

                </div>

                <label>@Localizer["Adress"]</label>
                <textarea name="Address" class="form-control" autocomplete="off" style="height: 97px;">@Model.Customer.Address</textarea>
            </div>
            <div class="right-block">
                <label class="label">@Localizer["Plate#"]</label>
                <input name="Plate" class="form-control" autocomplete="off" value="@Model.Customer.Plate" />
                <div model-validation-for="customer.Plate"></div>

                <label>@Localizer["Frame#"]</label>
                <input name="Frame" class="form-control" autocomplete="off" value="@Model.Customer.Frame" />
                <div model-validation-for="customer.Frame"></div>

                <label>@Localizer["Engine#"]</label>
                <input name="Engine" class="form-control" autocomplete="off" value="@Model.Customer.Engine" />
                <div model-validation-for="customer.Engine"></div>

                <label>@Localizer["Model"]</label>
                <input name="B_Model" class="form-control" autocomplete="off" value="@Model.Customer.B_Model" />

                <label>@Localizer["Brand"]</label>
                <input name="B_Brand" class="form-control" autocomplete="off" value="@Model.Customer.B_Brand" />

                <label>@Localizer["Color"]</label>
                <select name="Color" class="form-control" autocomplete="off">
                    <option value="0" selected></option>
                    @foreach (var co in Model.ColorCustomers)
                    {
                        if (co.ColorID == Model.Customer.Color)
                        {
                            <option selected value="@co.ColorID">@co.ColorName</option>
                        }
                        else
                        {
                            <option value="@co.ColorID">@co.ColorName</option>
                        }

                    }
                    <option value="-1">@Localizer["Define New"]</option>
                </select>

                <label>@Localizer["Region"]</label>
                <select type="text" name="Region" class="form-control">
                    <option value="0"></option>
                    @foreach (var reg in Model.Regions)
                    {
                        if (Model.Customer.Region == reg.RegionID)
                        {
                            <option selected value="@reg.RegionID">@reg.Name</option>
                        }
                        else
                        {
                            <option value="@reg.RegionID">@reg.Name</option>
                        }
                    }
                    <option value="-1">@Localizer["Define New"]</option>
                </select>

                <label>@Localizer["District"]</label>
                <select type="text" name="District" class="form-control" disabled>
                    <option value="0"></option>
                    @foreach (var d in Model.Districts)
                    {
                        if (Model.Customer.District == d.DistrictID)
                        {
                            <option selected value="@d.DistrictID">@d.Name</option>
                        }
                        else
                        {
                            <option value="@d.DistrictID">@d.Name</option>
                        }
                    }
                    <option value="-1">@Localizer["Define New"]</option>
                </select>

            </div>

        </div>
        <div class="myt1">
            <button id="submit-service-customer-update" class="btn btn-primary" type="button"><i class="fas fa-save"></i>&nbsp;@Localizer["Save"]</button>
            <a href="/ServiceCustomer/ServiceCustomerList" class="btn btn-primary" type="button"><i class="far fa-times-circle"></i>&nbsp;@Localizer["Cancel"]</a>
        </div>
    </form>
</div>




