﻿
@model IEnumerable<POS_WEB.Models.Services.Appointment.AppointmentSummary>
<script src="~/js/Customer/service-appointment.js" defer></script>

<h1>@Localizer["List of Service Appointments"]</h1>
<ul id="nav-service-appointment-list" class="nav nav-tabs">
    <li id="timely" class="active"><i class="timely @ViewBag.Timely far fa-clock fa-lg fn-sky"></i> @Localizer["Timely"]</li>
    <li id="general"><i class="general fas fa-user-clock fa-lg fn-sky"></i> @Localizer["General"]</li>
</ul>
<div class="block" id="content-appointment-list">
    <div id="timely-appointment">
        <div class="flexbox flex-end">
            <div class="group-search-boxes">
                <div id="text-search" class="wrap-search-box">
                    <div class="wrap-input show">
                        <i id="i-search" class="i-search fas fa-search"></i>
                        <input id="search-service-timely-appointments" class="ignore" autofocus type="text" placeholder="Search timely appointments ...">
                        <i id="i-close" class="i-close far fa-times-circle"></i>
                    </div>
                    <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>

        <div class="wrap-table list" style="margin-top:.5rem;">
            @{ int index = 0; }
            <table id="service-timely-appointment-list" class="timely-appointment-list">
                <tr>
                    <th>@Localizer["No."]</th>
                    <th>@Localizer["Code"]</th>
                    <th>@Localizer["Customer Name"]</th>
                    <th>@Localizer["Gender"]</th>
                    <th>@Localizer["Phone"]</th>
                    <th>@Localizer["Remark"]</th>
                    <th>@Localizer["Appointment Date"]</th>
                    <th>@Localizer["Reminder"]</th>
                    <th>@Localizer["Action"]</th>
                </tr>
                @foreach (var ap in Model)
                {
                    <tr data-appointmentid="@ap.AppointmentID">
                        <td>@{ index++; } @index</td>
                        <td>@ap.AppointmentCode</td>
                        <td>@ap.CustomerName</td>
                        <td>@ap.Gender</td>
                        <td>@ap.Phone</td>
                        <td>@ap.Remark</td>
                        <td>@ap.ActivityDate&nbsp;/&nbsp;@ap.ActivityTime</td>
                        <td>@ap.Reminder</td>
                        <td>
                            <a title="Follow Up" href="@Url.Action("ServiceAppointmentFollowUp", "ServiceCustomer", new { appointmentID = ap.AppointmentID, customerID = ap.CustomerID })"
                               class="fas fa-chevron-circle-right fn-green fa-lg csr-pointer"></a>
                            |&nbsp;<a title="Detail" href="@Url.Action("ServiceAppointmentDetail", "ServiceCustomer", new { customerID = ap.CustomerID })"
                                            class="fas fa-history fn-sky fa-lg csr-pointer"></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div id="general-appointment" hidden>
        <div class="flexbox flex-end">
            <div class="group-search-boxes">
                <div id="text-search" class="wrap-search-box">
                    <div class="wrap-input show">
                        <i id="i-search" class="i-search fas fa-search"></i>
                        <input id="search-service-general-appointments" class="ignore" autofocus type="text" placeholder="Search general appointments ...">
                        <i id="i-close" class="i-close far fa-times-circle"></i>
                    </div>
                    <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>

        <div class="wrap-table list" style="margin-top:.5rem;">
            <table id="service-general-appointment-list">
                <tr>
                    <th>@Localizer["No."]</th>
                    <th>@Localizer["Code"]</th>
                    <th>@Localizer["Customer Name"]</th>
                    <th>@Localizer["Gender"]</th>
                    <th>@Localizer["Phone"]</th>
                    <th>@Localizer["Remark"]</th>
                    <th>@Localizer["Appointment Date"]</th>
                    <th>@Localizer["Reminder"]</th>
                    <th>@Localizer["Action"]</th>
                </tr>
            </table>
        </div>
    </div>
</div>


