﻿@using POS_WEB.Models.Services.Customer;
@model IEnumerable<POS_WEB.Models.Services.Customer.Customer>
<script src="~/js/Customer/service-customer.js" defer></script>

<h1>@Localizer["List of All Customers"]</h1>
<ul id="nav-customer-list" class="nav nav-tabs">
    <li id="tab-service" class="active"><i class="fas fa-users-cog fa-lg fn-sky"></i> @Localizer["Service"]</li>
    <li id="tab-motocycle"><i class="fas fa-motorcycle fa-lg fn-sky"></i> @Localizer["Motocycle"]</li>
</ul>

<div class="block" id="tab-content-customer">
    <div id="content-service-customer">
        <div class="flexbox space-between">
            <a href="/ServiceCustomer/ServiceCustomer" class="btn btn-primary">
                <i class="fas fa-plus-circle"></i> @Localizer["Register"]
            </a>
            <div class="group-search-boxes">
                <div id="text-search" class="wrap-search-box">
                    <div class="wrap-input show">
                        <i id="i-search" class="i-search fas fa-search"></i>
                        <input id="search-service-customers" class="ignore" type="text" placeholder="Search service customers ...">
                        <i id="i-close" class="i-close far fa-times-circle"></i>
                    </div>
                    <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>

        <div class="wrap-table list myt1">
            @{ int index = 0; }
            <table id="service-customer-list">
                <tr>
                    <th>@Localizer["No."]</th>
                    <th>@Localizer["Code"]</th>
                    <th>@Localizer["Customer Type"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Gender"]</th>
                    <th>@Localizer["Phone"]</th>
                    <th>@Localizer["Plate"]</th>
                    <th>@Localizer["Frame"]</th>
                    <th>@Localizer["Engine"]</th>
                    <th>@Localizer["Action"]</th>
                </tr>
                @foreach (var sc in Model)
                {
                    <tr data-customerid="@sc.CustomerID">
                        <td>@{ index++; } @index</td>
                        <td>@sc.Code</td>
                        <td>@sc.CustomerType</td>
                        <td>@sc.Name</td>
                        <td>@sc.Gender</td>
                        <td>@sc.Phone</td>
                        <td>@sc.Plate</td>
                        <td>@sc.Frame</td>
                        <td>@sc.Engine</td>
                        @if (sc.CustomerType == CustomerType.SERVICE)
                        {
                        <td>
                            <a title="Edit" href="@Url.Action("ServiceCustomerUpdate", "ServiceCustomer", new { customerID = @sc.CustomerID})"
                               class="fas fa-user-edit fn-orange fa-lg csr-pointer"></a>&nbsp;|&nbsp;
                            <i title="Delete" onclick="deleteServiceCustomer(this)" class="fas fa-user-times fa-lg fn-red csr-pointer"></i>&nbsp;|&nbsp;
                            <a title="Detail" href="@Url.Action("ServiceCustomerDetail", "ServiceCustomer", new { customerID = @sc.CustomerID})"
                               class="fas fa-info-circle fn-sky fa-lg csr-pointer"></a>
                        </td>
                        }
                       
                    </tr>
                }
            </table>
        </div>
    </div>

    <div id="content-motocycle-customer" hidden>
        <div class="flexbox flex-end">
            <div class="group-search-boxes">
                <div id="text-search" class="wrap-search-box">
                    <div class="wrap-input show">
                        <i id="i-search" class="i-search fas fa-search"></i>
                        <input id="search-motocycle-customers" class="ignore" type="text" placeholder="Search motocycle customers ...">
                        <i id="i-close" class="i-close far fa-times-circle"></i>
                    </div>
                    <div class="btn-search" style="display: none;"><i class="fas fa-search"></i></div>
                </div>
            </div>
        </div>

        <div class="wrap-table list myt1">
            <table id="motocycle-customer-list">
                <tr>
                    <th>@Localizer["No."]</th>
                    <th style="text-align: center;">@Localizer["Code"]</th>
                    <th>@Localizer["Customer Type"]</th>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Gender"]</th>
                    <th>@Localizer["Phone"]</th>
                    <th>@Localizer["Plate"]</th>
                    <th>@Localizer["Frame"]</th>
                    <th>@Localizer["Engine"]</th>
                    <th>@Localizer["Action"]</th>
                </tr>
               
            </table>
        </div>
    </div>
</div>
