﻿@model POS_WEB.Models.Services.Administrator.General.ReceiptInformation

@{
    ViewData["Title"] = "Edit";
}
<style>
    .fa {
        margin-right: 4px;
    }
    .stylebutton {
        margin-top:10px;
    }

    .StyleImge {
        height: 100px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 100px;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 50px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }

    #imagestyle {
        border-radius: 50px;
        margin-left: 14px;
        margin-top: 10px;
        box-shadow: 0px 0px 4px;
        color: blue;
    }
    .form-group{
        padding:0px;
        margin:0px;
    }
</style>

<form asp-action="Edit" enctype="multipart/form-data" method="post"> 
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@Localizer["Title"] :</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Branch"]</label>
                <select class="form-control" asp-for="BranchID" asp-items="ViewBag.BranchID">
                    <option value="0" selected disabled>---select---</option>
                </select>
                <div class="required_branch text-danger">@ViewData["required_branch"]</div>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Tel1"] :</label>
                <input asp-for="Tel1" class="form-control" />
                <span asp-validation-for="Tel1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Tel2"] :</label>
                <input asp-for="Tel2" class="form-control" />
                <span asp-validation-for="Tel2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["KhmerDescription"] :</label>
                <input asp-for="KhmerDescription" class="form-control" />
                <span asp-validation-for="KhmerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["EnglishDescription"] :</label>
                <input asp-for="EnglishDescription" class="form-control" />
                <span asp-validation-for="EnglishDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            @*<div class="form-group">
            <div>
                <img src="~/Logo/@Model.Logo" id="logo" class="StyleImge" />
            </div>
            <div class="btn btn-sm btn-file" id="imagestyle">
                Browse <input type="file" asp-for="Logo" name="Image" id="txtlogo" onchange="show(this)" value="" accept=".ico, .png, .jpg, .jpeg, .gif" style="margin-top:10px;">
                <span asp-validation-for="Logo" class="text-danger"></span>
                <input type="text" asp-for="Logo" hidden />
            </div>

        </div>*@

            <div class="form-group">
                <label class="control-label">@Localizer["Address"] :</label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">@Localizer["Team & Condition"] :</label>
                <textarea asp-for="TeamCondition" class="form-control"></textarea>
                <span asp-validation-for="TeamCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["PowerBy"] :</label>
                <input asp-for="PowerBy" class="form-control" />
                <span asp-validation-for="PowerBy" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row pull-left">
        <div class="col-md-12 stylebutton">
            <button class="btn btn-success btn-xs" type="submit"><i class="fa fa-save"></i>@Localizer["Save"]</button>
            <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
        </div>
    </div>
</form>
<script>
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();

            filerdr.onload = function (e) {
                $('#logo').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
            $("#LogoCopy").val("");
        }
    }
</script>



