﻿@model IEnumerable<POS_WEB.Models.Services.Administrator.General.ReceiptInformation>

@{
    ViewData["Title"] = "Index";
}

<style>
    .stylerow {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fa {
        margin-right: 4px;
    }

    a {
        color: white;
    }
    a:hover {
        color: white;
    }
    h5 {
        margin: 10px 5px;
    }

    .tbncrate {
        margin-top: 10px;
        background-color: #00bfff;
        color: white;
        margin-left: 1px;
    }

    .fa-sort-amount-down {
        margin-left: 10px;
        font-size: 10px;
        color: white;
    }

    .fa-edit {
        color: #00cc00;
    }

    .fa-trash {
        color: red;
    }

    b {
        margin-left: 10px;
    }
    .content_select{
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
 }
 .content_select:focus{
      box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
      padding: 3px 3px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgb(120, 172, 245);
      border-radius: 3px;
      font-family: Arial;
      font-size: 13px;
 }
 .list{
     margin-bottom:15px;
 }
</style>
<a asp-action="Create" class="btn btn-xs tbncrate"><i class="fa fa-plus-circle"></i> @Localizer["Create"]</a>
<form asp-action="Index" method="get" id="form-id">
    <div class="row stylerow">
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <h5>@Localizer["Showpage"] :</h5>
                <div class="input-group-append">
                    <select class="content_select" id="selectpage" name="minpage">
                        <option selected="@ViewBag.sizepage1">5</option>
                        <option selected="@ViewBag.sizepage2">10</option>
                        <option selected="@ViewBag.sizepage3">15</option>
                        <option selected="@ViewBag.sizepage4">20</option>
                        <option selected="@ViewBag.sizepage5">All</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group btnsearch">
                <input class="form-control btn-sm" type="text" autocomplete="off" name="SearchString" value="@ViewData["currentFilter"]" placeholder="@Localizer["Search"]" id="txtseaerch" />
                <div class="input-group-append">
                    <button class="btn btn-sm btnsearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
<input type="text" id="txtid" hidden />
<div class="wrap-table list">
    <table>
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Title"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BranchSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Branch"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AddressSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Address"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Tel1SortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Tel1"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th style="min-width:180px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["KhmerDescriptionSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["KhmerDescription"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th style="min-width:180px;">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EnglishDescriptionSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["EnglishDescription"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
               
                @*<th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LogoSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Logo"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>*@
                <th>
                    @Localizer["Action"]
                </th>
            </tr>
        </thead>
        <tbody class="myTable">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="9" class="text-center">@Localizer["NoData"]</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.Name)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhmerDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnglishDescription)
                    </td>
                   
                    @*<td>
                        <img src="~/Logo/@item.Logo" width="30" height="30" />
                    </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $("#selectpage").on('change', function () {
        submitForm();
    })
    function submitForm() {
        document.getElementById("form-id").submit();
    }

    $(document).ready(function () {

        $("#txtseaerch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>