﻿@model Warehouse

@{
    ViewData["Title"] = "Edit";
}
<style>
    .stylebutton {
        margin-top: 10px;
    }

    .fa {
        margin-right: 4px;
    }

    .form-group {
        margin: 0px;
        padding: 0px;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label">@Localizer["Code"]</label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
                <span class="text-danger">@ViewBag.ErrorCode</span>

            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="col-form-label">@Localizer["Branch"]</label>
                <select class="form-control" asp-for="BranchID" asp-items="ViewBag.BranchID">
                    <option value="0" selected disabled>--- Select ---</option>
                </select>
                <div class="text-danger">@ViewBag.requaridBranch</div>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Location"]</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Localizer["Address"]</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            @*<input type="hidden" asp-for="Default"/>*@
            <div class="row pull-left">
                <div class="col-md-12 stylebutton">
                    <button class="btn btn-success btn-xs" type="submit"><i class="fa fa-save"></i>@Localizer["Save"]</button>
                    <a class="btn btn-xs btn-danger" asp-action="Index"><i class="fa fa-reply"></i> @Localizer["Back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>
