﻿
@{
    int @BranchID = Convert.ToInt32(@User.FindFirst("BranchID").Value);
    int @UserID = Convert.ToInt32(@User.FindFirst("UserID").Value);

}
<link href="~/pos/css/core.css" rel="stylesheet" />
@*<script src="~/pos/js/core.js" defer></script>*@
<style>
    #goto-setting, ul li {
        background: transparent;
    }

        #goto-setting .wrap-block .block input,
        #goto-setting .wrap-block .block select,
        #goto-setting .wrap-block .block textarea {
            width: 25%;
        }
</style>
<div id="goto-setting" class="wrap-btn">
    @*<div class="btn"><i class="fas fa-cogs"></i></div>
        <label>Setting</label>*@

    <div id='setting-content'>
        <div class="wrap-block col-two">
            <div class="left-block">
                <div class="block border myb1">
                    <div class="title">Receipt</div>

                    <div class="flexbox space-between myb1">
                        <div>Print Receipt Order</div>
                        <label class="switch">
                            <input type="checkbox" checked="" class="print-receipt-order">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="flexbox space-between myb1">
                        <div>Print Receipt Pay</div>
                        <label class="switch">
                            <input class="print-receipt-pay" type="checkbox" checked="">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Print Receipt Count</div>
                        <input autofocus autocomplete="off" value="0" class="print-receipt-count" />
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Max Queue Count</div>
                        <input autofocus autocomplete="off" value="0" class="max-queue-count" />
                    </div>

                    <div class="flexbox space-between myb1">
                        <div>Receipt Size</div>
                        <select class="receipt-size">
                            <option>80mm</option>
                            <option>A4</option>
                            <option>A5</option>
                        </select>
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Receipt Template</div>
                        <select style="width: 100px; background: transparent;" class="receipt-template">
                            <option>T1</option>
                            <option>T2</option>
                            <option>T3</option>
                        </select>
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Password Wifi</div>
                        <input autofocus autocomplete="off" class="password-wifi" />
                    </div>
                </div>
            </div>
            <div class="right-block">
                <div class="block border">
                    <div class="title">Company</div>
                    <div class="flexbox space-between myb1">
                        <div>Dual Screen</div>
                        <label class="switch">
                            <input type="checkbox" checked="" class="dual-screen">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="flexbox space-between myb1">
                        <div>VATable</div>
                        <label class="switch">
                            <input type="checkbox" checked="" class="vat-able">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Vat Invoice No.</div>
                        <input autofocus autocomplete="off" value="0" class="vat-invoice-no" />
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Customer</div>
                        <select style="width: 100px; background: transparent;" class="customer-id"></select>
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Price List</div>
                        <select style="width: 100px; background: transparent;" class="price-list-id"></select>
                    </div>
                    <div class="flexbox space-between myb1">
                        <div>Warehouse</div>
                        <select style="width: 100px; background: transparent;" class="warehouse-id"></select>
                    </div>

                    <div class="flexbox space-between myb1">
                        <div>Payment Means</div>
                        <select style="width: 100px; background: transparent;" class="payment-means-id"></select>
                    </div>


                </div>
            </div>
            <div class="btn btn-success pull-right" id="setting-add-new">Add</></div>
        </div>

    </div>
    
</div>

<script>
    $.ajax({
        url: '/POS/GetPriceList',
        async: false,
        type: 'GET',
        dataType: 'JSON',
        success: function (pricelist) {
            $.each(pricelist, function (i, pr) {
                $('.price-list-id').append("<option value=" + pr.ID + ">" + pr.Name + "</option>");
            });
        }
    });
    $.ajax({
        url: '/POS/GetCustomer',
        async: false,
        type: 'GET',
        dataType: 'JSON',
        success: function (customer) {
            $.each(customer, function (i, cus) {
                $('.customer-id').append("<option value=" + cus.ID + ">" + cus.Name + "</option>");
                $('.price-list-id').val(cus.PriceListID);
            });
        }
    });

    $.ajax({
        url: '/POS/GetPaymentMeans',
        async: false,
        type: 'GET',
        dataType: 'JSON',
        success: function (paymentmeans) {
            $.each(paymentmeans, function (i, pay) {
                $('.payment-means-id').append("<option value=" + pay.ID + ">" + pay.Type + "</option>");
            })
        }
    });

    $.ajax({
        url: '/POS/GetWarehouse',
        async: false,
        type: 'GET',
        dataType: 'JSON',
        data: { branchid:@BranchID},
        success: function (warehouse) {
            $.each(warehouse, function (i, wh) {
                $('.warehouse-id').append("<option value=" + wh.ID + ">" + wh.Name + "</option>");
            })
        }
    });
    $('#setting-add-new').click(function () {

        if (parseInt($('.print-receipt-count').val()) === 0 || isNaN(parseInt($('.print-receipt-count').val()))) {
            $('.print-receipt-count').css('border-color', 'red');
            console.log("error");
        }
        else if (parseInt($('.max-queue-count').val()) === 0 || isNaN(parseInt($('.max-queue-count').val()))) {
            console.log("valid")
        }
        else if ($(".receipt-size option:selected").text() === null || $(".receipt-size option:selected").text() === '') {

        }
        else if ($('.receipt-template option:selected').text() === null || $('.receipt-template option:selected').text() === '') {

        }
        else if (parseInt($('.customer-id').val()) === 0 || isNaN(parseInt($('.customer-id').val()))) {

        }
        else if (parseInt($('.price-list-id').val()) === 0 || isNaN(parseInt($('.price-list-id').val()))) {

        }
        else if (parseInt($('.warehouse-id').val()) === 0 || isNaN(parseInt($('.warehouse-id').val())))
        {

        }
        else if (parseInt($('.payment-means-id').val()) === 0 || isNaN(parseInt($('.payment-means-id').val())))
        {

        }
        else {
                let setting = {};
                setting.PrintReceiptOrder = $(".print-receipt-order").is(":checked");
                setting.PrintReceiptTender = $(".print-receipt-pay").is(":checked");
                setting.PrintCountReceipt = parseInt($('.print-receipt-count').val());
                setting.QueueCount = parseInt($('.max-queue-count').val());
                setting.Receiptsize = $(".receipt-size option:selected").text();
                setting.ReceiptTemplate = $('.receipt-template option:selected').text();
                setting.Printer = 0;
                setting.DaulScreen = $('.dual-screen').is(':checked');
                setting.VatAble = $('.vat-able').is(':checked');
                setting.VatNum = $('.vat-invoice-no').val();
                setting.Wifi = $('.password-wifi').val();
                setting.CustomerID = parseInt($('.customer-id').val());
                setting.PriceListID = parseInt($('.price-list-id').val());
                setting.WarehouseID = parseInt($('.warehouse-id').val());
                setting.PaymentMeansID = parseInt($('.payment-means-id').val());
             
                $.ajax({
                    url: '/POS/UpdateSetting',
                    type: 'POST',
                    data: { setting: setting },
                    dataType: 'JSON',
                    success: function (response) {
                        window.location.href = "/POS/KRMS";
                       
                    }

                });
            }
       
    });

</script>