﻿@model Currency

@{
    ViewData["Title"] = "Edit";
}

<style>
    .fa{
        margin-right:4px;
    }
    .pull-left{
        
        margin-top:10px;
    }
    .btnstype{
        margin-right:5px;
    }
    .form-group{
        margin:0px;
        padding:0px;
    }
</style>
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label  class="control-label">@Localizer["Symbol"] :</label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">@Localizer["Description"] :</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row pull-left row">
        <div class="col-md-12">
            <button class="btn btn-success btn-sm btnstype" type="submit"><i class="fa fa-save"></i>@Localizer["Save"]</button>
            <a asp-action="Index" class="btn btn-danger btn-sm"><i class="fa fa-reply"></i>@Localizer["Back"]</a>
        </div>
        
    </div>
</form>

