﻿@model Pagination<GroupUOM>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/Modal.css" rel="stylesheet" />
<style>
    .tbncrate {
        margin-top: 10px;
        background-color: #00bfff;
        color: white;
        margin-left: 1px;
    }
    .modal-header{
        cursor:move;
    }
    #txtdefine:hover {
        text-decoration: solid;
        color: blue;
    }

    .stylerow {
        margin-top: 14px;
        margin-bottom: 10px;
    }

    h5 {
        margin: 10px 5px;
    }

    .fa-sort-amount-down {
        margin-left: 10px;
        font-size: 10px;
        color: white;
    }

    .sortcode {
        color: white;
        text-decoration: none;
    }

    .sortname {
        color: white;
        text-decoration: none;
    }

    .fa-edit {
        color: #00cc00;
    }

    .fa {
        margin-right: 3px;
        cursor: pointer;
    }

    #txtdefine {
        cursor: pointer;
        color: seagreen;
    }

    .fa-trash {
        color: red;
    }

    .fa-list-alt {
        color: white;
    }

    
    b {
        font-family: Arial;
        font-size: 14px;
        margin-left: 10px;
    }

    .fa-question-circle {
        color: white;
        margin-right: 10px;
    }
    #ClickDeleteDGUOM{
        margin-top:100px;
    }
     .content_select{
        height: 25px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        padding: 3px 3px 3px 3px;
        margin: 5px 1px 3px 0px;
        width: 100%;
        font-family: Arial;
        font-size: 13px;
        border-radius: 3px;
        border: 1px solid #c6c1c1;
 }
 .content_select:focus{
      box-shadow: 0 0 5px rgba(27, 93, 185,0.4);
      padding: 3px 3px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgb(120, 172, 245);
      border-radius: 3px;
      font-family: Arial;
      font-size: 13px;
 }
 .list{
     margin-bottom:15px;
 }
</style>

<a asp-action="Create" class="btn btn-xs tbncrate"><i class="fa fa-plus-circle"></i> @Localizer["Create"]</a>
<form asp-action="Index" method="get" id="form-id">
    <div class="row stylerow">
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group">
                <h5>@Localizer["Showpage"] :</h5>
                <div class="input-group-append">
                    <select class="content_select" id="selectpage" name="minpage">
                        <option selected="@ViewBag.sizepage1">5</option>
                        <option selected="@ViewBag.sizepage2">10</option>
                        <option selected="@ViewBag.sizepage3">15</option>
                        <option selected="@ViewBag.sizepage4">20</option>
                        <option selected="@ViewBag.sizepage5">All</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:5px;">
            <div class="input-group btnsearch">
                <input class="form-control btn-sm" type="text" name="SearchString" value="@ViewData["currentFilter"]" placeholder="@Localizer["Search"]" id="txtseaerch" />
                <div class="input-group-append">
                    <button class="btn btn-sm btnsearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="wrap-table list">
    <table id="myTable">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CodeSortParm"]" class="sortcode"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Code"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" class="sortname"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        @Localizer["Name"]<i class="fa fa-sort-amount-down"></i>
                    </a>
                </th>
                <th>@Localizer["Action"]</th>
            </tr>
        </thead>
        <tbody id="listGUOM">
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" class="text-center">@Localizer["NoData"]</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a>.
                        <a asp-action="Delete" asp-route-id="@item.ID" class="deleteGuom" data-toggle="modal" data-target="#ClickDelete" id="DeleteUom"><i class="fa fa-trash"></i></a>.
                        <a data-toggle="modal" id="txtdefine" data-target="#clickdefine" class="btn btn-xs btn-success" style="width:45px; height:23px;color:white;">@Localizer["Define"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<input type="text" id="txtID" hidden />
<div class="modal fade" id="ClickDelete" style="margin-top:50px;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="background-color:blue;">
                <i class="far fa-question-circle"><b>@Localizer["GroupUOM"]</b></i>
            </div>
            <div class="modal-body">
                <h3>@Localizer["question"]</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" data-dismiss="modal" onclick="ClickYes()"><i class="far fa-calendar-check" style="margin-right:3px;"></i> @Localizer["Yes"]</button>
                <button class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-exclamation-triangle" style="margin-right:3px;"></i> @Localizer["No"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="clickdefine">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:blue;">
                <i class="fa fa-list-alt" aria-hidden="true"><b style="margin-left:10px;">@Localizer["DefineGroupUOM"]</b> <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>(<span id="getnameGroup"></span> )</i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p id="btnupdate" hidden>@Localizer["Add"]</p>
                        <p id="btndsave" hidden>@Localizer["Save"]</p>

                        <input type="text" id="txtDGid" hidden />
                        <input type="text" id="baseUOM" hidden />
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Localizer["AltUoM"] :</label>
                            <span class="col-sm-9">
                                <select class="form-control" onchange="selectAltUOM()" id="txtAltUoM">
                                    <option value="0"></option>
                                </select>
                            </span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Localizer["AltQty"] :</label>
                            <span class="col-sm-9">
                                <input type="text" class="form-control text-center" id="txtAltQty" />
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Localizer["BaseUoM"] :</label>
                            <span class="col-sm-9">
                                <select class="form-control" onchange="selectBaseUOM()" id="txtBaseUoM">
                                    <option value="0"></option>
                                </select>
                            </span>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Localizer["BasetQty"] :</label>
                            <span class="col-sm-9">
                                <input type="text" class="form-control text-center" id="txtxbaseQty" />
                            </span>
                        </div>
                    </div>
                </div>
                <div class="wrap-table list">
                    <table id="MyTable">
                        <thead>
                            <tr>
                                <th>@Localizer["Nº"]</th>
                                <th>@Localizer["AltQuantity"]</th>
                                <th>@Localizer["AltUoM"]</th>
                                <th>@Localizer["Defines"]</th>
                                <th>@Localizer["BaseQuantity"]</th>
                                <th>@Localizer["BaseUoM"]</th>
                                <th>@Localizer["Factor"]</th>
                              @*  <th>@Localizer["Action"]</th>*@
                            </tr>
                        </thead>
                        <tbody id="listDGroup"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" onclick="insertDefine()" id="btndefine"><i class="fa fa-plus-circle"></i></button>
                <button class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-ban"></i> @Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ClickDeleteDGUOM" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content "style="background-color:rgb(221, 213, 213);" >
            <div class="modal-header" style="background-color:blue;">
                <i class="far fa-question-circle" style="font-size:15px; color:white;"><b>@Localizer["DefinedGroup"]</b></i>
            </div>
            <div class="modal-body bodystyle">
                <h3>@Localizer["question"]</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" data-dismiss="modal" onclick="ClickYesDGUOM()"><i class="far fa-calendar-check" style="margin-right:3px;"></i> @Localizer["Yes"]</button>
                <button class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fas fa-exclamation-triangle" style="margin-right:3px;"></i> @Localizer["No"]</button>
            </div>
        </div>
    </div>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="1"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @prevDisabled ">
                <i class="fa fa-angle-double-left"  style="color:blue;"></i>
            </a>
        </li>
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @prevDisabled ">
                <i class="fa fa-angle-left"  style="color:blue;"></i>
            </a>
        </li>

        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @nextDisabled">
                <i class="fa fa-angle-right"  style="color:blue;"></i>
            </a>
        </li>
        <li class="page-item">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-page="@Model.TotalPages"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link btn @nextDisabled">
                <i class="fa fa-angle-double-right"  style="color:blue;"></i>
            </a>
        </li>
    </ul>
</nav>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $("#listGUOM").on("click", ".deleteGuom", function () {
        var cut = $(this).closest('tr');
        var ID = cut.find('td:eq(0)').text();
        document.getElementById("txtID").value = ID;
    });
    function ClickYes() {
        var id = $("#txtID").val();
        $.ajax({
            url: "/GroupUOM/deleteGroupUoM",
            type: "Delete",
            dataType: "JSON",
            data: { ID: id },
            complete: function () {
                location.reload();
            }
        });
    }

    function GetDataTable(respones) {
        var data = "";
        var d = 1;
        $.each(respones, function (i, value) {
            data +=
                '<tr>' +
                '<td hidden>' + value.ID + '</td>' +
                '<td hidden>' + value.UoMID + '</td>' +
                '<td hidden>' + value.GroupUoMID + '</td>' +
                '<td class="text-center">' + d + '</td>' +
                '<td class="text-center">' + value.AltQty + '</td>' +
                '<td class="text-center">' + value.UnitofMeasure.AltUomName + '</td>' +
                '<td class="text-center">' + value.Defined + '</td>' +
                '<td class="text-center">' + value.BaseQty + '</td>' +
                '<td class="text-center">' + value.UnitofMeasure.Name + '</td>' +
                '<td class="text-center">' + value.Factor + '</td>' +
                //'<td class="text-center">' + '<i class="fa fa-edit editDGUOM"></i> . <i class="fa fa-trash deleteDG" data-toggle="modal"  data-target="#ClickDeleteDGUOM"></i>' + '</td>' +
                '<tr>';

            document.getElementById("txtBaseUoM").disabled = true;
            document.getElementById("txtAltUoM").disabled = false;
            document.getElementById("txtAltQty").disabled = false;
            document.getElementById("txtxbaseQty").disabled = false;

            $("#txtAltUoM").val("");
            $("#txtAltQty").val("");
            $("#txtxbaseQty").val("");

            d++;
        });
        $("#listDGroup").html(data);
    }
    $(document).ready(function () {
        $(".modal-header").on("mousedown", function (mousedownEvt) {
            var $draggable = $(this);
            var x = mousedownEvt.pageX - $draggable.offset().left,
                y = mousedownEvt.pageY - $draggable.offset().top;
            $("body").on("mousemove.draggable", function (mousemoveEvt) {
                $draggable.closest(".modal-dialog").offset({
                    "left": mousemoveEvt.pageX - x,
                    "top": mousemoveEvt.pageY - y
                });
            });
            $("body").one("mouseup", function () {
                $("body").off("mousemove.draggable");
            });
            $draggable.closest(".modal").one("bs.modal.hide", function () {
                $("body").off("mousemove.draggable");
            });
        });
        $("#listDGroup").on("click", ".editDGUOM", function () {

            var cut = $(this).closest('tr');
            var id = cut.find('td:eq(0)').text();
            var altqty = cut.find('td:eq(4)').text();
            var altuom = cut.find('td:eq(1)').text();
            var baseqty = cut.find('td:eq(7)').text();
            var baseuom = cut.find('td:eq(8)').text();
            $("#btndefine").html(btnsave);

            document.getElementById("txtDGid").value = id;
            document.getElementById("txtAltQty").value = altqty;
            document.getElementById("txtAltUoM").value = altuom;
            document.getElementById("txtxbaseQty").value = baseqty;


            document.getElementById("txtBaseUoM").disabled = true;
            document.getElementById("txtAltUoM").disabled = false;
            document.getElementById("txtAltQty").disabled = false;
            document.getElementById("txtxbaseQty").disabled = false;

        });
        $("#listDGroup").on("click", ".deleteDG", function () {
            var cut = $(this).closest('tr');
            var id = cut.find('td:eq(0)').text();
            document.getElementById("txtDGid").value = id;
        });
    });
    var btnupdate = $("#btnupdate").text();
    var btnsave = $("#btndsave").text();

    $(window).on("load", function () {
        $("#listGUOM").on("click", "#txtdefine", function () {
            $("#btndefine").html(btnupdate);

            var cut = $(this).closest('tr');
            var id = cut.find('td:eq(0)').text();
            var name = cut.find('td:eq(2)').text();
            $("#getnameGroup").text(name);
            document.getElementById("baseUOM").value = id;
            var ID = $("#baseUOM").val();
            $.ajax({
                url: "/GroupUOM/GetDataDGroup",
                type: "Get",
                dataType: "Json",
                data: { ID: ID },
                success: function (respones) {
                    if (respones == "") {
                        GetselectboxBaesUOM(Mes);
                    }
                    $.each(respones, function (i, item) {

                        document.getElementById("txtBaseUoM").disabled = true;
                        document.getElementById("txtAltUoM").disabled = false;
                        document.getElementById("txtAltQty").disabled = false;
                        document.getElementById("txtxbaseQty").disabled = false;
                        Mes = 'N';
                        baseUoM = item.BaseUOM;

                        GetselectboxBaesUOM(baseUoM, Mes);
                        GetselectboxAltUoM();
                    });
                    GetDataTable(respones);
                }
            });
        });
    });
    var Mes = "";
    var baseUoM = "";
    function GetselectboxBaesUOM(GroupUoMID, Mes) {
        $("#txtBaseUoM option").remove();
        $.ajax({
            url: "/UnitofMeasure/GetUOM",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = "";
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#txtBaseUoM").append(data);
                if (Mes == 'N') {

                    $("#txtBaseUoM").val(GroupUoMID);
                }
                else {

                    $("#txtBaseUoM").val("");
                    document.getElementById("txtBaseUoM").disabled = false;
                    document.getElementById("txtAltUoM").disabled = true;
                    document.getElementById("txtAltQty").disabled = true;
                    document.getElementById("txtxbaseQty").disabled = true;
                }
            }

        });
    }
    function GetselectboxAltUoM(BaseUoM) {
        $("#txtAltUoM option").remove();
        $.ajax({
            url: "/UnitofMeasure/GetUOM",
            type: "Get",
            dataType: "Json",
            success: function (respones) {
                var data = "";
                $("#txtAltUoM option").remove();
                $.each(respones, function (i, item) {
                    data +=
                        '<option value="' + item.ID + '">' + item.Name + '</option>';
                });
                $("#txtAltUoM").append(data);
                $("#txtAltUoM").val(BaseUoM);
            }
        });
    }
    function ClickYesDGUOM() {
        var id = $("#txtDGid").val();
        var IDg = $("#baseUOM").val();

        $.ajax({
            url: "/GroupUOM/DeleteDefined",
            type: "Delete",
            dataType: "Json",
            data: { ID: id, IDGroup: IDg },
            success: function (respones) {
                $("#txtDGid").val("");
                GetDataTable(respones);
            }
        });
    }
    function selectAltUOM() {
        document.getElementById("txtAltQty").disabled = false;
        document.getElementById("txtxbaseQty").disabled = false;
    }
    function selectBaseUOM() {
        var BaseUoM = $("#txtBaseUoM").val();
        $("#txtAltQty").val("1");
        $("#txtxbaseQty").val("1");
        GetselectboxAltUoM(BaseUoM);
        document.getElementById("txtAltQty").disabled = false;
        document.getElementById("txtxbaseQty").disabled = false;
        document.getElementById("txtAltUoM").disabled = false;
    }
    function insertDefine() {

        var id = $("#txtDGid").val();
        var Gid = $("#baseUOM").val();
        var altuom = $("#txtAltUoM").val();
        var altqty = $("#txtAltQty").val();
        var baseuom = $("#txtBaseUoM").val();
        var baseqty = $("#txtxbaseQty").val();
        var factor = "";
        factor = baseqty / altqty;
        var count = "";
        if (altuom == null) {
            count++;
            $("#txtAltUoM").css("border-color", "red");
        }
        else {
            $("#txtAltUoM").css("border-color", "lightgrey");
            count = 0;
        }
        if (altqty == 0) {
            count++;
            $("#txtAltQty").css("border-color", "red");
        }
        else {
            $("#txtAltQty").css("border-color", "lightgrey");
            count = 0;
        }
        if (baseqty == 0) {
            count++;
            $("#txtxbaseQty").css("border-color", "red");
        }
        else {
            $("#txtxbaseQty").css("border-color", "lightgrey");
            count = 0;
        }
        if (count > 0) {
            count = 0;
            return;
        }

        var data = {
            ID: id,
            GroupUoMID: Gid,
            AltUOM: altuom,
            BaseUOM: baseuom,
            AltQty: altqty,
            BaseQty: baseqty,
            UoMID: altuom,
            Factor: factor
        }

        $.ajax({
            url: "/GroupUOM/InsertDGroupUOM",
            type: "post",
            dataType: "json",
            data: { groupDUoM: data, ID: Gid },
            success: function (respones) {
                $("#txtDGid").val("");
                GetDataTable(respones);
            }
        });
        $("#btndefine").html(btnupdate);
    }

    $("#selectpage").on('change', function () {
        submitForm();
    })
    function submitForm() {
        document.getElementById("form-id").submit();
    }

    $(document).ready(function () {
        $("#txtseaerch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });



</script>